[Desktop Entry]
Encoding=UTF-8
Name=Remote Gallery Export
Name[br]=Ezporzh ar garidell d'ar pelloù
Name[cs]=Export do vzdálené galerie
Name[da]=Eksport til fjerngalleri
Name[de]=Unterstützung für entfernte Galerien
Name[el]=Εξαγωγή απομακρυσμένης συλλογής
Name[es]=Exportar galería remota
Name[et]=Võrgugalerii eksport
Name[fi]=Gallerian etävienti
Name[ga]=Easpórtáil Cianghailearaí
Name[gl]=Exportazón a Galeria Remota
Name[is]=Útflutningur í fjarlæg myndasöfn
Name[it]=Esportazione remota di gallerie
Name[nl]=Export naar externe galerij
Name[pa]=ਰਿਮੋਟ ਗੈਲਰੀ ਨਿਰਯਾਤ
Name[pl]=Eksport do zdalnej galerii
Name[pt]=Exportação para Galeria Remota
Name[sr]=Извоз у удаљену галерију
Name[sr@Latn]=Izvoz u udaljenu galeriju
Name[sv]=Export till fjärrgalleri
Name[tg]=Воридоти Намоишгари Дурдаст
Name[tr]=Uzak Galeri Aktarma
Name[xx]=xxRemote Gallery Exportxx
Name[zh_CN]=远程图库导出
Comment=KIPI Remote Gallery Export Plugin
Comment[cs]=KIPI modul exportu do vzdálené galerie
Comment[da]=KIPI-plugin: Eksport til fjerngalleri
Comment[de]=Ein KIPI-Modul zum Exportieren einer Galerie zu einem entfernten Rechner
Comment[el]=Πρόσθετο εξαγωγής απομακρυσμένης συλλογής του KIPI
Comment[es]=Extensión de KIPI para exportar galería remota
Comment[et]=KIPI võrgugalerii ekspordiplugin
Comment[fi]=Kipi-liitännäinen gallerian vientiä etäkohteeseen varten
Comment[fr]=Module externe KIPI pour exporter des images vers un site Gallery
Comment[gl]=Plugin de KIPI para Exportar a unha Galeria Remota
Comment[is]=KIPI íforrit fyrir útflutning í fjarlæg myndasöfn
Comment[it]=Plugin per l'esportazione remota di gallerie di KIPI
Comment[ja]=Kipi リモートギャラリーエクスポートプラグイン
Comment[nl]=KIPI-plugin voor het exporteren naar externe galerijen
Comment[pa]=KIPI ਰਿਮੋਟ ਗੈਲਰੀ ਨਿਰਯਾਤ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Eksport do zdalnej galerii
Comment[pt]='Plugin' do KIPI de Exportação para Galeria Remota
Comment[pt_BR]=Plugin para exportação remota de galerias do KIPI
Comment[sr]=KIPI прикључак за извоз у удаљену галерију
Comment[sr@Latn]=KIPI priključak za izvoz u udaljenu galeriju
Comment[sv]=KIPI-insticksprogram: Export till fjärrgalleri
Comment[tg]=Модули воридикунандаи намоишгаири дурдастаи KIPI
Comment[tr]=KIPI Uzak Galeri Aktarma Eklentisi
Comment[xx]=xxKIPI Remote Gallery Export Pluginxx
Comment[zh_CN]=KIPI 远程图库导出插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_galleryexport
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
