[Desktop Entry]
Encoding=UTF-8
Name=Remote Gallery Export
Name[da]=Fjerngalleri-eksport
Name[de]=Entfernte Galerien Export
Name[et]=Kauggalerii eksport
Name[fr]=Exportation de galleries distantes
Name[it]=Esportazione remota di gallerie
Name[mt]=GallerijaStampi
Name[nl]=Export naar externe galerij
Name[pt]=Exportação Remota de Galerias
Name[sv]=Export till fjärrgalleri
Name[ta]=தொடர்பற்ற படத்தொகுப்பு ஏற்றுமதி
Name[xx]=xxRemote Gallery Exportxx
Comment=KIPI Remote Gallery Export Plugin
Comment[da]=KIPI Fjerngalleri-eksport-plugin
Comment[de]=Ein KIPI Plugin um entfernte Galerien zu exportieren
Comment[et]=KIPI kauggalerii eksportimise plugin
Comment[fr]=Module Kipi pour l'exportation de galeries distantes
Comment[it]=Plugin per l'esportazione remota di gallerie di KIPI
Comment[mt]=Plugin KIPI Għall-Esportazzjoni Ta' Galleriji Ta' Stampi
Comment[nl]=Kipi-plugin voor het exporteren naar externe galerijen
Comment[pt]='Plugin' KIPI de Exportação Remota de Galerias
Comment[sv]=KIPI-insticksprogram: Export till fjärrgalleri
Comment[ta]=கிபி KIPI பிம்பங்கள் படத்தொகுப்பு ஏற்று சொருகுப்பொருள்
Comment[xx]=xxKIPI Remote Gallery Export Pluginxx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_galleryexport
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
