[Desktop Entry]
Encoding=UTF-8
Name=Remote Gallery Export
Name[et]=Kauggalerii eksport
Name[tr]=Uzak Galeri Aktarma
Name[zh_CN]=远程图库导出
Comment=KIPI Remote Gallery Export Plugin
Comment[et]=KIPI kauggalerii eksportimise plugin
Comment[tr]=KIPI Uzak Galeri Aktarma Eklentisi
Comment[zh_CN]=KIPI 远程图库导出插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_galleryexport
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
