[Desktop Entry]
Name=10x15 cm
Name[bg]=10x15 см.
Name[et]=10x15 cm
Name[fi]=10 × 15 cm
Name[gl]=10x15 cm
Name[it]=10×15 cm
Name[nb]=10x15 cm
Name[nds]=10 x 15 cm
Name[nl]=10x15 cm
Name[pt]=10x15 cm
Name[pt_BR]=10x15 cm
Name[sv]=10 x 15 cm
Name[tr]=10x15 cm
Name[uk]=10 x 15 см
Name[x-test]=xx10x15 cmxx

