[Desktop Entry]
Name=13x18 cm
Name[bg]=13x18 см.
Name[et]=13x18 cm
Name[fi]=13 × 18 cm
Name[gl]=13x18 cm
Name[is]=13x18 cm
Name[it]=13×18 cm
Name[nb]=13x18 cm
Name[nds]=13 x 18 cm
Name[nl]=13x18 cm
Name[pt]=13x18 cm
Name[pt_BR]=13x18 cm
Name[sv]=13 x 18 cm
Name[tr]=13x18 cm
Name[uk]=13 x 18 см
Name[x-test]=xx13x18 cmxx

