[Desktop Entry]
Name=10x15 cm (1 photo)
Name[da]=10x15 cm (1 foto)
Name[de]=10x15 cm (1 Foto)
Name[en_GB]=10x15 cm (1 photo)
Name[et]=10x15 cm (1 foto)
Name[gl]=10x15 cm (1 foto)
Name[it]=10×15 cm (1 foto)
Name[nb]=10x15 cm (1 bilde)
Name[nl]=10x15 cm (1 foto)
Name[pt]=10x15 cm (1 fotografia)
Name[pt_BR]=10x15 cm (1 foto)
Name[sv]=10 x 15 cm (1 foto)
Name[uk]=10x15 см (1 фотографія)
Name[x-test]=xx10x15 cm (1 photo)xx

