[Desktop Entry]
Name=8 x 10" (1 photo)
Name[en_GB]=8 x 10" (1 photo)
Name[et]=8x10" (1 foto)
Name[pt]=8 x 10" (1 fotografia)
Name[sv]=8 x 10" (1 foto)
Name[uk]=8 x 10" (1 фотографія)
Name[x-test]=xx8 x 10" (1 photo)xx

