[Desktop Entry]
Name=20x25 cm (1 photo)
Name[da]=20x25 cm (1 foto)
Name[de]=20x25 cm (1 Foto)
Name[en_GB]=20x25 cm (1 photo)
Name[et]=20x25 cm (1 foto)
Name[gl]=20x25 cm (1 foto)
Name[it]=20×25 cm (1 foto)
Name[nb]=20x25 cm (1 bilde)
Name[nl]=20x25 cm (1 foto)
Name[pt]=20x25 cm (1 fotografia)
Name[pt_BR]=20x25 cm (1 foto)
Name[sv]=20 x 25 cm (1 foto)
Name[uk]=20x25 см (1 фотографія)
Name[x-test]=xx20x25 cm (1 photo)xx

