[Desktop Entry]
Name=20x25 cm
Name[bg]=20x25 см.
Name[it]=20×25 cm
Name[nds]=20 x 25 cm
Name[sv]=20 x 25 cm
Name[uk]=20 x 25 см
Name[x-test]=xx20x25 cmxx

