[Desktop Entry]
Name=21 x 29.7cm
Name[bg]=21 x 29.7 см.
Name[da]=21 x 29.7cm
Name[en_GB]=21 x 29.7cm
Name[et]=21x29,7 cm
Name[fi]=21 × 29.7 cm
Name[gl]=21 x 29.7cm
Name[it]=21×29,7 cm
Name[nb]=21 x 29.7cm
Name[nds]=21 x 29,7cm
Name[nl]=21 x 29,7cm
Name[pt]=21 x 29,7cm
Name[pt_BR]=21 x 29,7 cm
Name[sv]=21 x 29,7cm
Name[tr]=21 x 29.7cm
Name[uk]=21 x 29,7 см
Name[x-test]=xx21 x 29.7cmxx

