[Desktop Entry]
Name=5 x 7" (2 photos)
Name[en_GB]=5 x 7" (2 photos)
Name[et]=5x7" (2 fotot)
Name[pt]=5 x 7" (2 fotografias)
Name[sv]=5 x 7" (2 foton)
Name[uk]=5 x 7" (2 фотографії)
Name[x-test]=xx5 x 7" (2 photos)xx

