[Desktop Entry]
Name=3.5 x 5"
Name[bg]=3.5 x 5 инча
Name[et]=3,5x5"
Name[fi]=3.5 x 5"
Name[gl]=3.5 x 5"
Name[it]=3,5×5"
Name[nb]=3.5 x 5"
Name[nds]=3,5 x 5 Toll
Name[nl]=3,5 x 5"
Name[pt]=3.5 x 5"
Name[pt_BR]=3,5 x 5"
Name[sv]=3,5 x 5"
Name[tr]=3.5 x 5"
Name[uk]=3,5 x 5"
Name[x-test]=xx3.5 x 5"xx

