[Desktop Entry]
Name=4 x 6" (3 photos)
Name[da]=4 x 6" (3 fotos)
Name[de]=4 x 6" (3 Fotos)
Name[en_GB]=4 x 6" (3 photos)
Name[et]=4x6" (3 fotot)
Name[gl]=4 x 6" (3 fotos)
Name[it]=4×6" (3 foto)
Name[nb]=4 x 6" (3 bilder)
Name[nl]=4 x 6" (3 foto's)
Name[pt]=4 x 6" (3 fotografias)
Name[pt_BR]=4 x 6" (3 fotos)
Name[sv]=4 x 6" (3 foton)
Name[uk]=4 x 6" (3 фотографії)
Name[x-test]=xx4 x 6" (3 photos)xx

