[Desktop Entry]
Name=4 x 6" (3 photos)
Name[en_GB]=4 x 6" (3 photos)
Name[et]=4x6" (3 fotot)
Name[pt]=4 x 6" (3 fotografias)
Name[sv]=4 x 6" (3 foton)
Name[uk]=4 x 6" (3 фотографії)
Name[x-test]=xx4 x 6" (3 photos)xx

