[Desktop Entry]
Name=10x15 cm (3 photos)
Name[ast]=10x15 cm (3 semeyes)
Name[ca]=10x15 cm (3 fotos)
Name[ca@valencia]=10x15 cm (3 fotos)
Name[cs]=10x15 cm (3 fotografie)
Name[da]=10x15 cm (3 fotos)
Name[de]=10x15 cm (3 Fotos)
Name[en_GB]=10x15 cm (3 photos)
Name[es]=10x15 cm (3 fotografías)
Name[et]=10x15 cm (3 fotot)
Name[gl]=10x15 cm (3 fotos)
Name[is]=10x15 cm (3 myndir)
Name[it]=10×15 cm (3 foto)
Name[lv]=10x15 cm (3 fotogrāfijas)
Name[nb]=10x15 cm (3 bilder)
Name[nds]=10 x 15 cm (3 Fotos)
Name[nl]=10x15 cm (3 foto's)
Name[pa]=10x15 cm (3 ਫੋਟੋ)
Name[pt]=10x15 cm (3 fotografias)
Name[pt_BR]=10x15 cm (3 fotos)
Name[ru]=10×15 см (3 фотографии)
Name[sk]=10x15 cm (3 fotky)
Name[sv]=10 x 15 cm (3 foton)
Name[th]=10x15 ซ.ม. (ภาพถ่าย 3 ภาพ)
Name[uk]=10×15 см (3 фотографії)
Name[x-test]=xx10x15 cm (3 photos)xx
Name[zh_CN]=10x15 cm (3 张照片)
Name[zh_TW]=10x15 cm (3 張照片)

