[Desktop Entry]
Name=3.5 x 5" (4 photos)
Name[da]=3.5 x 5" (4 fotos)
Name[de]=3.5 x 5" (4 Fotos)
Name[en_GB]=3.5 x 5" (4 photos)
Name[et]=3,5x5" (4 fotot)
Name[gl]=3,5 x 5" (4 fotos)
Name[it]=3,5×5" (4 foto)
Name[nb]=3.5 x 5" (4 bilder)
Name[nl]=3.5 x 5" (4 foto's)
Name[pt]=3,5 x 5" (4 fotografias)
Name[pt_BR]=3,5 x 5" (4 fotos)
Name[sv]=3,5 x 5" (4 foton)
Name[uk]=3,5 x 5" (4 фотографії)
Name[x-test]=xx3.5 x 5" (4 photos)xx

