[Desktop Entry]
Name=Passport photos - 4.5x5cm (4 photos)
Name[ca]=Passport photos - 4.5x5cm (4 photos)
Name[ca@valencia]=Passport photos - 4.5x5cm (4 photos)
Name[cs]=Fotografie na pas - 4.5x5cm (4 fotografie)
Name[da]=Pasbilleder - 4.5x5cm (4 fotos)
Name[de]=Passfotos - 4.5x5cm (4 Fotos)
Name[en_GB]=Passport photos - 4.5x5cm (4 photos)
Name[es]=Fotografíass de pasaporte - 4.5x5cm (4 fotografías)
Name[et]=Passifotod - 4,5x5 cm (4 fotot)
Name[gl]=Fotos de pasaporte - 4,5x5cm (4 fotos)
Name[is]=Passamyndir - 4.5x5cm (4 myndir)
Name[it]=Fototessere - 4,5×5cm (4 foto)
Name[lv]=Pases fotogrāfijas - 4.5x5cm (4 fotogrāfijas)
Name[nb]=Passbilder – 4,5×5 cm (4 bilder)
Name[nl]=Paspoortfoto's - 4.5x5cm (4 foto's)
Name[pa]=ਪਾਸਵਰਡ ਫੋਟੋ - 4.5x5cm (4 ਫੋਟੋ)
Name[pt]=Fotografias de passaporte - 4.5x5cm (4 fotografias)
Name[pt_BR]=Fotos de passaporte - 4,5x5cm (4 fotos)
Name[ru]=Фотографии на паспорт 4,5×5 см (4 фотографии)
Name[sk]=Fotky na pas - 4.5x5cm (4 fotky)
Name[sv]=Passfoton - 4,5 x 5 cm (4 foton)
Name[uk]=Фотографії для паспорта — 4,5×5 см (4 фотографії)
Name[x-test]=xxPassport photos - 4.5x5cm (4 photos)xx
Name[zh_TW]=證件照片 - 4.5x5cm (4 張照片)

