[Desktop Entry]
Name=Passport photos - 4.5x5cm (4 photos)
Name[en_GB]=Passport photos - 4.5x5cm (4 photos)
Name[pt]=Fotografias de passaporte - 4.5x5cm (4 fotografias)
Name[sv]=Passfoton - 4,5 x 5 cm (4 foton)
Name[uk]=Фотографії для паспорта — 4,5x5 см (4 фотографії)
Name[x-test]=xxPassport photos - 4.5x5cm (4 photos)xx

