[Desktop Entry]
Name=9x13 cm (4 photos)
Name[da]=9x13 cm (4 fotos)
Name[de]=9x13 cm (4 Fotos)
Name[en_GB]=9x13 cm (4 photos)
Name[et]=9x13 cm (4 fotot)
Name[gl]=9x13 cm (4 fotos)
Name[it]=9×13 cm (4 foto)
Name[nb]=9x13 cm (4 bilder)
Name[nl]=9x13 cm (4 foto's)
Name[pt]=9x13 cm (4 fotografias)
Name[pt_BR]=9x13 cm (4 fotos)
Name[sv]=9 x 13 cm (4 foton)
Name[uk]=9x13 см (4 фотографій)
Name[x-test]=xx9x13 cm (4 photos)xx
