[Desktop Entry]
Name=4 x 6"
Name[bg]=4 x 6 инча
Name[da]=4 x 6"
Name[en_GB]=4 x 6"
Name[et]=4x6"
Name[fi]=4 x 6"
Name[gl]=4 x 6"
Name[it]=4×6"
Name[nb]=4 x 6"
Name[nds]=4 x 6 Toll
Name[nl]=4 x 6"
Name[pt]=4 x 6"
Name[pt_BR]=4 x 6"
Name[sv]=4 x 6"
Name[tr]=4 x 6"
Name[uk]=4 x 6"
Name[x-test]=xx4 x 6"xx

