[Desktop Entry]
Name=5 x 7"
Name[bg]=5 x 7 инча
Name[da]=5 x 7"
Name[et]=5x7"
Name[fi]=5 x 7"
Name[gl]=5 x 7"
Name[it]=5×7"
Name[nb]=5 x 7"
Name[nds]=5 x 7 Toll
Name[nl]=5 x 7"
Name[pt]=5 x 7"
Name[pt_BR]=5 x 7"
Name[sv]=5 x 7"
Name[tr]=5 x 7"
Name[uk]=5 x 7"
Name[x-test]=xx5 x 7"xx

