[Desktop Entry]
Name=Passport photos - 3.5x4cm (6 photos)
Name[ca]=Fotos de passaport - 3,5x4cm (6 fotos)
Name[ca@valencia]=Fotos de passaport - 3,5x4cm (6 fotos)
Name[cs]=Fotografie na pas - 3.5x4cm (6 fotografií)
Name[da]=Pasbilleder - 3.5x4cm (6 fotos)
Name[de]=Passfotos - 3.5x5cm (6 Fotos)
Name[en_GB]=Passport photos - 3.5x4cm (6 photos)
Name[es]=Fotografíass de pasaporte - 3,5x4cm (6 fotografías)
Name[et]=Passifotod - 3,5x4 cm (6 fotot)
Name[gl]=Fotos de pasaporte - 3,5x4cm (6 fotos)
Name[is]=Passamyndir - 3.5x4cm (6 myndir)
Name[it]=Fototessere - 3,5×4cm (6 foto)
Name[lv]=Pases fotogrāfijas - 3.5x4cm (6 fotogrāfijas)
Name[nb]=Passbilder – 3,5×4 cm (6 bilder)
Name[nds]=Utwiesbiller- 3,5 x 4cm (6 Fotos)
Name[nl]=Paspoort foto's - 3.5x4cm (6 foto's)
Name[pa]=ਪਾਸਪੋਰਟ ਫੋਟੋ - 3.5x4cm (6 ਫੋਟੋ)
Name[pt]=Fotografias de passaporte - 3,5x4cm (6 fotografias)
Name[pt_BR]=Fotos de passaporte - 3,5x4cm (6 fotos)
Name[ru]=Фотографии на паспорт 3,5×4 см (6 фотографий)
Name[sk]=Fotky na pas - 3.5x4cm (6 fotiek)
Name[sv]=Passfoton - 3,5 x 4 cm (6 foton)
Name[th]=ภาพถ่ายติดพาสสปอร์ต - 3.5x4 ซ.ม. (ภาพถ่าย 6 ภาพ)
Name[uk]=Фотографії для паспорта — 3,5×4 см (6 фотографій)
Name[x-test]=xxPassport photos - 3.5x4cm (6 photos)xx
Name[zh_TW]=證件照片 - 3.5x4cm (6 張照片)

