[Desktop Entry]
Name=Passport photos - 3.5x4cm (6 photos)
Name[en_GB]=Passport photos - 3.5x4cm (6 photos)
Name[pt]=Fotografias de passaporte - 3,5x4cm (6 fotografias)
Name[sv]=Passfoton - 3,5 x 4 cm (6 foton)
Name[uk]=Фотографії для паспорта — 3,5x4 см (6 фотографій)
Name[x-test]=xxPassport photos - 3.5x4cm (6 photos)xx

