[Desktop Entry]
Name=6x9 cm (8 photos)
Name[gl]=6x9 cm (8 fotos)
Name[is]=6x9 cm (8 myndir)
Name[it]=6×9 cm (8 foto)
Name[nb]=6x9 cm (8 bilder)
Name[pt]=6x9 cm (8 fotografias)
Name[pt_BR]=6x9 cm (8 fotos)
Name[sv]=6 x 9 cm (8 foton)
Name[uk]=6 x 9 см (8 фотографій)
Name[x-test]=xx6x9 cm (8 photos)xx

