[Desktop Entry]
Name=6x9 cm (8 photos)
Name[bg]=6x9 см. (8 снимки)
Name[da]=6x9 cm (8 fotos)
Name[de]=6x9 cm (8 Fotos)
Name[en_GB]=6x9 cm (8 photos)
Name[et]=6x9 cm (8 fotot)
Name[fi]=6 × 9 cm (8 valokuvaa)
Name[gl]=6x9 cm (8 fotos)
Name[is]=6x9 cm (8 myndir)
Name[it]=6×9 cm (8 foto)
Name[nb]=6x9 cm (8 bilder)
Name[nds]=6 x 9 cm (8 Fotos)
Name[nl]=6x9 cm (8 foto's)
Name[pt]=6x9 cm (8 fotografias)
Name[pt_BR]=6x9 cm (8 fotos)
Name[sv]=6 x 9 cm (8 foton)
Name[tr]=6 x 9cm (8 fotoğraf)
Name[uk]=6 x 9 см (8 фотографій)
Name[x-test]=xx6x9 cm (8 photos)xx

