[Desktop Entry]
Name=8 x 10"
Name[bg]=8 x 10 инча
Name[da]=8 x 10"
Name[et]=8x10"
Name[fi]=8 x 10"
Name[gl]=8 x 10"
Name[it]=8×10"
Name[nb]=8 x 10"
Name[nds]=8 x 10 Toll
Name[nl]=8 x 10"
Name[pt]=8 x 10"
Name[pt_BR]=8 x 10"
Name[sv]=8 x 10"
Name[tr]=8 x 10"
Name[uk]=8 x 10"
Name[x-test]=xx8 x 10"xx

