[Desktop Entry]
Name=Album Collage 1 (9 photos)
Name[bg]=Колаж албум 1 (9 снимки)
Name[da]=Albumcollage 1 (9 fotos)
Name[de]=Alben-Zusammenstellung 1 (9 Fotos)
Name[en_GB]=Album Collage 1 (9 photos)
Name[et]=Albumikollaaž 1 (9 fotot)
Name[gl]=Colaxe de álbum 1 (9 fotos)
Name[it]=Collage di album 1 (9 foto)
Name[nb]=Albumkollasje 1 (9 bilder)
Name[nds]=Albumtosamenstellen 1 (9 Fotos)
Name[nl]=Albumverzameling 1 (9 foto's)
Name[pt]=Colagem de Álbum 1 (9 fotografias)
Name[pt_BR]=Colagem de álbum 1 (9 fotos)
Name[sv]=Albumkollage 1 (9 foton)
Name[tr]=Albüm Kolajı 1 (9 fotoğraf)
Name[uk]=Альбомний колаж 1 (9 фотографій)
Name[x-test]=xxAlbum Collage 1 (9 photos)xx

