[Desktop Entry]
Name=10x15 cm Album
Name[bg]=Албум 10x15 см.
Name[da]=10x15 cm album
Name[de]=10x15 cm Album
Name[en_GB]=10x15 cm Album
Name[et]=10x15 cm album
Name[fi]=10 × 15 cm albumi
Name[gl]=Álbum 10x15 cm
Name[is]=10x15 cm albúm
Name[it]=Album 10×15 cm
Name[nb]=10x15 cm Album
Name[nds]=10 x 15 cm, Album
Name[nl]=10x15 cm Album
Name[pt]=Álbum de 10x15 cm
Name[pt_BR]=Álbum de 10x15 cm
Name[sv]=10 x 15 cm album
Name[tr]=10 x 15 cm Albüm
Name[uk]=10 x 15 см альбом
Name[x-test]=xx10x15 cm Albumxx

