[Desktop Entry]
Name=Album Collage 2 (6 photos)
Name[bg]=Колаж албум 2 (6 снимки)
Name[da]=Albumcollage 2 (6 fotos)
Name[de]=Alben-Zusammenstellung 2 (6 Fotos)
Name[en_GB]=Album Collage 2 (6 photos)
Name[et]=Albumikollaaž 2 (6 fotot)
Name[gl]=Colaxe de álbum 2 (6 fotos)
Name[it]=Collage di album 2 (6 foto)
Name[nb]=Albumkollasje 2 (6 bilder)
Name[nds]=Albumtosamenstellen 2 (6 Fotos)
Name[nl]=Albumverzameling 2 (6 foto's)
Name[pt]=Colagem de Álbum 2 (6 fotografias)
Name[pt_BR]=Colagem de álbum 2 (6 fotos)
Name[sv]=Albumkollage 2 (6 foton)
Name[tr]=Albüm Kolajı 2 (6 fotoğraf)
Name[uk]=Альбомний колаж 2 (6 фотографій)
Name[x-test]=xxAlbum Collage 2 (6 photos)xx

