[Desktop Entry]
Name=11.5x15 cm Album
Name[bg]=Албум 11.5x15 см.
Name[da]=11.5x15 cm album
Name[de]=11.5x15 cm Album
Name[en_GB]=11.5x15 cm Album
Name[et]=11,5x15 cm album
Name[fi]=11.5 × 15 cm albumi
Name[gl]=Álbum 11.5x15 cm
Name[is]=11.5x15 cm albúm
Name[it]=Album 11,5×15 cm
Name[nb]=11.5x15 cm Album
Name[nds]=11,5 x 15 cm, Album
Name[nl]=11,5x15 cm Album
Name[pt]=Álbum de 11,5x15 cm
Name[pt_BR]=Álbum de 11,5x15 cm
Name[sv]=11,5 x 15 cm album
Name[tr]=11.5x15 cm Albüm
Name[uk]=11,5 x 15 см альбом
Name[x-test]=xx11.5x15 cm Albumxx

