[Desktop Entry]
Name=Album Collage 2 (6 photos)
Name[ast]=Álbum colax 2 (6 semeyes)
Name[bg]=Колаж албум 2 (6 снимки)
Name[ca]=Collage d'àlbum 2 (6 fotos)
Name[ca@valencia]=Collage d'àlbum 2 (6 fotos)
Name[cs]=Koláž alb 2 (6 fotografií)
Name[da]=Albumcollage 2 (6 fotos)
Name[de]=Alben-Zusammenstellung 2 (6 Fotos)
Name[en_GB]=Album Collage 2 (6 photos)
Name[es]=Collage de Álbum 2 (6 fotografías)
Name[et]=Albumikollaaž 2 (6 fotot)
Name[gl]=Colaxe de álbum 2 (6 fotos)
Name[is]=Albúmsuppsetning 1 (6 myndir)
Name[it]=Collage di album 2 (6 foto)
Name[lv]=Albuma kolāža 2 (6 fotogrāfijas)
Name[nb]=Albumkollasje 2 (6 bilder)
Name[nds]=Albumtosamenstellen 2 (6 Fotos)
Name[nl]=Albumverzameling 2 (6 foto's)
Name[pa]=ਐਲਬਮ ਕਾਲਜ 2 (6 ਫੋਟੋ)
Name[pt]=Colagem de Álbum 2 (6 fotografias)
Name[pt_BR]=Colagem de álbum 2 (6 fotos)
Name[ru]=Коллаж (6 фотографий)
Name[sk]=Koláž albumu 2 (6 fotiek)
Name[sv]=Albumkollage 2 (6 foton)
Name[tr]=Albüm Kolajı 2 (6 fotoğraf)
Name[uk]=Альбомний колаж 2 (6 фотографій)
Name[x-test]=xxAlbum Collage 2 (6 photos)xx
Name[zh_CN]=相册拼贴 2 (6 张照片)
Name[zh_TW]=拼貼相簿 2 (6 張照片)

