[Desktop Entry]
Name=Full page
Name[da]=Hel side
Name[en_GB]=Full page
Name[et]=Kogu lehekülg
Name[nl]=Volledige pagina
Name[pt]=Página completa
Name[pt_BR]=Página completa
Name[sv]=Hela sidan
Name[uk]=Вся сторінка
Name[x-test]=xxFull pagexx

