[Desktop Entry]
Name=Full page
Name[en_GB]=Full page
Name[et]=Kogu lehekülg
Name[pt]=Página completa
Name[sv]=Hela sidan
Name[uk]=Вся сторінка
Name[x-test]=xxFull pagexx

