[Desktop Entry]
Name=Photoframe (5 photos)
Name[ast]=Marcu de semeya (5 semeyes)
Name[bg]=Фоторамка (5 снимки)
Name[ca]=Marc de fotos (5 fotos)
Name[ca@valencia]=Marc de fotos (5 fotos)
Name[cs]=Foto-rámečky (5 fotografií)
Name[da]=Fotoramme (5 fotos)
Name[en_GB]=Photoframe (5 photos)
Name[et]=Fotolugu (5 fotot)
Name[gl]=Moldura de foto (5 fotos)
Name[is]=Myndarammi (5 myndir)
Name[it]=Cornice (5 foto)
Name[lv]=Fotorāmis (5 fotogrāfijas)
Name[nb]=bilderamme (5 bilder)
Name[nl]=Fotoframe (5 foto's)
Name[pt]=Moldura fotográfica (5 fotografias)
Name[pt_BR]=Moldura fotográfica (5 fotografias)
Name[sk]=Fotorámik (5 fotiek)
Name[sv]=Fotoram (5 foton)
Name[tr]=Fotoğraf çerçevesi (5 fotoğraf)
Name[uk]=Фотонабір (5 фотографій)
Name[x-test]=xxPhotoframe (5 photos)xx
Name[zh_TW]=相框 (5 張照片)

