[Desktop Entry]
Name=Photoframe (5 photos)
Name[it]=Cornice (5 foto)
Name[pt]=Moldura fotográfica (5 fotografias)
Name[pt_BR]=Moldura fotográfica (5 fotografias)
Name[sv]=Fotoram (5 foton)
Name[uk]=Фотонабір (5 фотографій)
Name[x-test]=xxPhotoframe (5 photos)xx

