[Desktop Entry]
Name=Photoframe (5 photos)
Name[bg]=Фоторамка (5 снимки)
Name[da]=Fotoramme (5 fotos)
Name[en_GB]=Photoframe (5 photos)
Name[et]=Fotolugu (5 fotot)
Name[gl]=Moldura de foto (5 fotos)
Name[is]=Myndarammi (5 myndir)
Name[it]=Cornice (5 foto)
Name[nb]=bilderamme (5 bilder)
Name[nds]=Billerrahmen (5 Fotos)
Name[nl]=Fotoframe (5 foto's)
Name[pt]=Moldura fotográfica (5 fotografias)
Name[pt_BR]=Moldura fotográfica (5 fotografias)
Name[sv]=Fotoram (5 foton)
Name[tr]=Fotoğraf çerçevesi (5 fotoğraf)
Name[uk]=Фотонабір (5 фотографій)
Name[x-test]=xxPhotoframe (5 photos)xx

