[Desktop Entry]
Name=Small Thumbnails
Name[bg]=Малки изображения
Name[da]=Små miniaturer
Name[en_GB]=Small Thumbnails
Name[et]=Väikesed pisipildid
Name[fi]=Erittäin pienet kuvat
Name[gl]=Miniaturas pequenas
Name[it]=Miniature piccole
Name[nb]=Små miniatyrer
Name[nds]=Lütt Vöransichten
Name[nl]=Kleine miniaturen
Name[pt]=Miniaturas Pequenas
Name[pt_BR]=Miniaturas pequenas
Name[sv]=Små miniatyrbilder
Name[tr]=Minik Küçük Resimler
Name[uk]=Малі мініатюри
Name[x-test]=xxSmall Thumbnailsxx

