[Desktop Entry]
Name=Small Thumbnails
Name[it]=Miniature piccole
Name[pt]=Miniaturas Pequenas
Name[pt_BR]=Miniaturas Pequenas
Name[sv]=Små miniatyrbilder
Name[uk]=Малі мініатюри
Name[x-test]=xxSmall Thumbnailsxx

