[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[en_GB]=Thumbnails 5x4 photos
Name[et]=Pisipiltidena 5x4 fotot
Name[pt]=5x4 fotografias em miniatura
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx

