[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[da]=Miniaturer 5x4 fotos
Name[de]=Vorschaubilder 5x4 Fotos
Name[en_GB]=Thumbnails 5x4 photos
Name[et]=Pisipiltidena 5x4 fotot
Name[gl]=Miniaturas 5x4 fotos
Name[it]=Miniature, 5×4 foto
Name[nb]=Miniatyrer 5×4 bilder
Name[nl]=Miniaturen 5x4 foto's
Name[pt]=5x4 fotografias em miniatura
Name[pt_BR]=5x4 fotos em miniatura
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx

