[Desktop Entry]
Name=Thumbnails
Name[it]=Miniature
Name[pt]=Miniaturas
Name[pt_BR]=Miniaturas
Name[sv]=Miniatyrbilder
Name[uk]=Мініатюри
Name[x-test]=xxThumbnailsxx

