[Desktop Entry]
Name=Thumbnails 5x4 photos
Name[ast]=Miniatures 5x4 semeyes
Name[ca]=Fotos 5x4 miniatures
Name[ca@valencia]=Fotos 5x4 miniatures
Name[cs]=Náhledy - 5x4 fotografie
Name[da]=Miniaturer 5x4 fotos
Name[de]=Vorschaubilder 5x4 Fotos
Name[en_GB]=Thumbnails 5x4 photos
Name[es]=5x4 fotografías en miniatura
Name[et]=Pisipiltidena 5x4 fotot
Name[gl]=Miniaturas 5x4 fotos
Name[is]=Smámyndir 5x4 myndir
Name[it]=Miniature, 5×4 foto
Name[lv]=Sīktēli 5x4 fotogrāfijas
Name[nb]=Miniatyrer 5×4 bilder
Name[nds]=Vöransichtbiller 5x4 Fotos
Name[nl]=Miniaturen 5x4 foto's
Name[pa]=ਥੰਮਨੇਲ 5x4 ਫੋਟੋ
Name[pt]=5x4 fotografias em miniatura
Name[pt_BR]=5x4 fotos em miniatura
Name[ru]=Миниатюры (5×4 штук)
Name[sk]=Náhľady 5x4 fotiek
Name[sv]=Miniatyrbilder 5 x 4 foton
Name[th]=ภาพตัวอย่างขนาด 5x4 ภาพ
Name[uk]=Мініатюри фотографій 5x4
Name[x-test]=xxThumbnails 5x4 photosxx
Name[zh_CN]=缩略图 5x4 照片
Name[zh_TW]=縮圖 5x4 照片

