[Desktop Entry]
Name=Thumbnails
Name[bg]=Умалени копия
Name[et]=Pisipildid
Name[fi]=Pienoiskuvat
Name[gl]=Miniaturas
Name[it]=Miniature
Name[nb]=Miniatyrer
Name[nds]=Vöransichten
Name[nl]=Miniaturen
Name[pt]=Miniaturas
Name[pt_BR]=Miniaturas
Name[sv]=Miniatyrbilder
Name[tr]=Küçük Resimler
Name[uk]=Мініатюри
Name[x-test]=xxThumbnailsxx

