[Desktop Entry]
Encoding=UTF-8
Name=PrintWizard
Comment=KIPI Print Wizard Plugin
Comment[de]=Ein KIPI Modul zum Drucken der Bilder
Comment[es]=Complemento de KIPI para la impresión de las imágenes
Comment[fr]=Module externe de KIPI pour l'impression des images
Comment[da]=KIPI plugin til udskrivning af billeder
Comment[it]=Modulo esterno di KIPI per la stampa delle immagini
Comment[pl]=Wtyczka do druku zdjęć dla programu KIPI
Comment[nl]=KIPI plugin voor het printen van afbeeldingen
Comment[hu]=KIPI nyomtatás varázsló plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_printwizard
X-KIPI-MergeMenu=true
author=Todd Shoemaker, todd@theshoemakers.net
