[Desktop Entry]
Encoding=UTF-8
Name=PrintWizard
Name[cs]=Průvodcem tiskem
Name[et]=Trükkimisnõustaja
Name[it]=AssistenteDiStampa
Name[nl]=Afdrukassistent
Name[sv]=Utskriftsguide
Name[tr]=YazdırmaSihirbazı
Name[zh_CN]=打印向导
Comment=KIPI Print Wizard Plugin
Comment[cs]=KIPI modul průvodce tiskem
Comment[et]=KIPI trükkimisnõustaja plugin
Comment[it]=Plugin assistente di stampa di KIPI
Comment[nl]=KIPI-plugin voor het afdrukken van afbeeldingen
Comment[sv]=KIPI-insticksprogram: Utskriftsguide
Comment[tr]=KIPI Yazdırma Sihirbazı Eklentisi
Comment[zh_CN]=KIPI 打印向导插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_printwizard
X-KIPI-MergeMenu=true
author=Todd Shoemaker, todd@theshoemakers.net
