[Desktop Entry]
Encoding=UTF-8
Name=PrintWizard
Comment=KIPI Print Wizard Plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_printwizard
X-KIPI-MergeMenu=true
author=Todd Shoemaker, todd@theshoemakers.net
