[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=PhotoLayoutsEditor/EffectPlugin
X-KDE-DerivedName=PhotoLayoutsEditor EffectPlugin
Comment=A PhotoLayoutsEditor Effect Plugin
Comment[ca]=Un connector d'efectes de l'editor de presentacions de foto
Comment[ca@valencia]=Un connector d'efectes de l'editor de formats de foto
Comment[cs]=Modul efektů pro editor rozvržení snímků
Comment[da]=Et effekt-plugin til PhotoLayoutsEditor
Comment[el]=Ένα πρόσθετο περιγράμματος επεξεργαστή εφέ φωτογραφιών
Comment[es]=Un complemento para efectos del editor de formatos de fotos
Comment[et]=Fotode paigutusredaktori efektide plugin
Comment[gl]=Un engadido de efectos do editor de disposición de fotos
Comment[it]=Un'estensione di effetti per l'editor di impaginazioni di foto
Comment[nb]=Et effekt-programtillegg for fotoutleggsredigerer
Comment[nl]=Een plug-in voor effecten van Foto-indelingbewerker
Comment[pl]=Wtyczka efektów EdytoraUkładówZdjęć
Comment[pt]=Um 'Plugin' de Efeitos do Editor de Formatos de Fotografias
Comment[pt_BR]=Um plug-in de efeitos do editor de formatos de fotos
Comment[sv]=Ett effektinsticksprogram för fotolayouteditor
Comment[uk]=Додаток ефектів редактора фотокомозицій
Comment[x-test]=xxA PhotoLayoutsEditor Effect Pluginxx
Comment[zh_TW]=相片佈局編輯器效果外掛程式
