[Desktop Entry]
Name=kipicmd
GenericName=
Comment=Kipi host test application
Exec=kipicmd %i -caption "%c" %U
Icon=kipi
Type=Application
Terminal=false
