[Desktop Entry]
Name=kipicmd
Name[nl]=kipicmd
Name[pt]=kipicmd
Name[ro]=kipicmd
Name[uk]=kipicmd
Name[x-test]=xxkipicmdxx
GenericName=
Comment=Kipi host test application
Comment[nl]=Testprogramma voor kipi-host
Comment[pt]=Aplicação-anfitriã de testes do Kipi
Comment[ro]=Aplicație de test a gazdei Kipi
Comment[uk]=Програма для тестування KIPI
Comment[x-test]=xxKipi host test applicationxx
Exec=kipicmd %i -caption "%c" %U
Icon=kipi
Type=Application
Terminal=false
