[Desktop Entry]
Encoding=UTF-8
Name=TimeDateAdjust
Name[x-test]=xxTimeDateAdjustxx
Comment=A tool to adjust date and time
Comment[x-test]=xxA tool to adjust date and timexx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_timeadjust
author=Gilles Caulier, caulier dot gilles at gmail dot com
X-KIPI-ReqFeatures=ImagesHasTime
