[Desktop Entry]
Encoding=UTF-8
Name=TimeDateAdjust
Name[cs]=Nastavení data
Name[da]=Justér dato og tid
Name[et]=Aja kohendamine
Name[it]=RegolazioneDataOra
Name[nl]=Tijd/DatumAanpassen
Name[pl]=Zmiana daty i godziny
Name[pt]=Ajuste de Data e Hora
Name[pt_BR]=Ajuste de Data e Hora
Name[sr]=Подеси време/датум
Name[sr@Latn]=Podesi vreme/datum
Name[sv]=Justera datum och tid
Name[tg]=ТанзимдиҳииТаърих/Вақт
Name[tr]=ZamanTarihAyarla
Name[xx]=xxTimeDateAdjustxx
Name[zh_CN]=日期时间调整
Comment=KIPI Time and Date Adjust
Comment[cs]=KIPI nastavení času a data
Comment[da]=KIPI-plugin: Justér dato og tid
Comment[de]=Ein KIPI-Modul zum Setzen von Zeit und Datum
Comment[et]=KIPI kuupäeva ja kellaaja kohendamine
Comment[it]=Regolazione di data e ora di KIPI
Comment[nl]=KIPI-plugin voor het aanpassen van de datum/tijd
Comment[pl]=Wtyczka KIPI - Zmiana daty i godziny
Comment[pt]=Ajuste de Data e Hora do KIPI
Comment[pt_BR]=Ajuste de Data e Hora do KIPI
Comment[sr]=KIPI-јево подешавање времена и датума
Comment[sr@Latn]=KIPI-jevo podešavanje vremena i datuma
Comment[sv]=KIPI-insticksprogram: Justera datum och tid
Comment[tg]=Модули KIPI барои танзимдиҳии таърих ва вақт
Comment[tr]=KIPI Zaman ve Tarih Ayarlama
Comment[xx]=xxKIPI Time and Date Adjustxx
Comment[zh_CN]=KIPI 时间和日期调整
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_timeadjust
author=Jesper K. Pedersen, blackie@kde.org
X-KIPI-ReqFeatures=ImagesHasTime
