[Desktop Entry]
Encoding=UTF-8
Name=Viewer
Name[br]=Gweler
Name[ca]=Visualitzador
Name[da]=Visning
Name[de]=Betrachter
Name[el]=Προβολέας
Name[es]=Visor
Name[et]=Pildinäitaja
Name[fr]=Afficheur
Name[it]=Visore
Name[ja]=ビューア
Name[nds]=Kieker
Name[pa]=ਦਰਸ਼ਕ
Name[pl]=Przeglądarka
Name[pt]=Visualizador
Name[sr]=Прегледач
Name[sr@Latn]=Pregledač
Name[sv]=Visning
Name[zh_CN]=查看器
Comment=KIPI OpenGL Image Viewer
Comment[ca]=Visualitzador d'imatges OpenGL del KIPI
Comment[da]=KIPI-OpenGL billedvisning
Comment[de]=Ein KIPI-Modul zum betrachten von Bildern mittels OpenGL
Comment[el]=Προβολέας εικόνων OpenGL των KIPI
Comment[es]=Visor KIPI de imágenes OpenGL
Comment[et]=KIPI OpenGL pildinäitaja
Comment[fr]=Afficheur d'image OpenGL KIPI
Comment[it]=Visore di immagini OpenGL di KIPI
Comment[ja]=Kipi OpenGL 画像ビューア
Comment[nds]=KIPI-Bildkieker för OpenGL
Comment[nl]=KIPI OpenGL Afbeeldingsviewer
Comment[pa]=KIPI OpenGL ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Wtyczka KIPI - Przeglądarka OpenGL zdjęć
Comment[pt]=Visualizador de Imagens em OpenGL do KIPI
Comment[pt_BR]=Visualizador de Imagens OpenGL do KIPI
Comment[sr]=KIPI-јев OpenGL прегледач слика
Comment[sr@Latn]=KIPI-jev OpenGL pregledač slika
Comment[sv]=KIPI-OpenGL bildvisning
Comment[zh_CN]=KIPI OpenGL 图像查看器
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_viewer
author=Markus Leuthold
