[Desktop Entry]
Encoding=UTF-8
Name=Imageviewer
Name[x-test]=xxImageviewerxx
Comment=A tool to preview images using OpenGL
Comment[x-test]=xxA tool to preview images using OpenGLxx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageviewer
author=Markus Leuthold
