[Desktop Entry]
Encoding=UTF-8
Name=Imageviewer
Name[de]=Bildbetrachter
Name[el]=Προβολέας εικόνας
Name[et]=Pildinäitaja
Name[ga]=Amharcán Íomhánna
Name[it]=Visore di immagini
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[nb]=Bildefremviser
Name[nds]=Bildkieker
Name[nl]=Afbeeldingenviewer
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[sv]=Bildvisning
Name[tr]=GörüntüGösterici
Name[uk]=Переглядач зображень
Name[x-test]=xxImageviewerxx
Name[zh_CN]=图像查看器
Comment=A tool to preview images using OpenGL
Comment[el]=Ένα εργαλείο προεπισκόπησης εικόνων με χρήση του OpenGL
Comment[nds]=En Warktüüch, mit dat sik Biller över OpenGL vörankieken laat
Comment[nl]=Een hulpmiddel om afbeeldingen met OpenGL te laten zien
Comment[pt]=Uma ferramenta de antevisão de imagens que usa o OpenGL
Comment[pt_BR]=Uma ferramenta de antevisão de imagens que usa o OpenGL
Comment[sv]=Ett verktyg för att förhandsgranska bilder med OpenGL
Comment[uk]=Інструмент для перегляду зображень за допомогою OpenGL
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageviewer
author=Markus Leuthold
