[Desktop Entry]
Encoding=UTF-8
Name=Viewer
Comment=KIPI OpenGL Image Viewer
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_viewer
author=Markus Leuthold
