[Desktop Entry]
Encoding=UTF-8
Name=Imageviewer
Name[de]=Bildbetrachter
Name[el]=Προβολέας εικόνας
Name[et]=Pildinäitaja
Name[ga]=Amharcán Íomhánna
Name[it]=Visore di immagini
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[nb]=Bildefremviser
Name[nds]=Bildkieker
Name[nl]=Afbeeldingenviewer
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[sv]=Bildvisning
Name[tr]=GörüntüGösterici
Name[uk]=Переглядач зображень
Name[x-test]=xxImageviewerxx
Name[zh_CN]=图像查看器
Comment=KIPI OpenGL Image Viewer
Comment[ca]=Visor d'imatges OpenGL del KIPI
Comment[de]=KIPI-OpenGL-Bildbetrachter
Comment[el]=Προβολέας εικόνας OpenGL του KIPI
Comment[et]=KIPI OpenGL pildinäitaja
Comment[fr]=Module externe KIPI pour visionneuse d'images OpenGL
Comment[gl]=Visor de imaxes OpenGL de KIPI
Comment[it]=Visore di immagini OpenGL di KIPI
Comment[ja]=Kipi OpenGL 画像ビューア
Comment[km]=កម្មវិធី​មើល​រូបភាព OpenGL របស់ KIPI
Comment[lv]=KIPI OpenGL attēlu skatītājs
Comment[nb]=KIPI OpenGL bildefremviser
Comment[nds]=KIPI-Kieker för OpenGL-Biller
Comment[nl]=OpenGL afbeeldingenviewer-KIPI
Comment[pt]=Visualizador de Imagens em OpenGL do KIPI
Comment[pt_BR]=Visualizador de Imagens em OpenGL do KIPI
Comment[sv]=KIPI OpenGL-bildvisning
Comment[tr]=KIPI OpenGL Görüntü Gösterici
Comment[uk]=Переглядач зображень KIPI з підтримкою OpenGL
Comment[x-test]=xxKIPI OpenGL Image Viewerxx
Comment[zh_CN]=KIPI OpenGL 图像查看器
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageviewer
author=Markus Leuthold
