[Desktop Entry]
Encoding=UTF-8
Name=Viewer
Name[br]=Gweler
Name[de]=Betrachter
Name[el]=Προβολέας
Name[es]=Visor
Name[it]=Visore
Name[ja]=ビューア
Name[pt]=Visualizador
Name[pt_BR]=Visualizador
Name[sv]=Visning
Comment=KIPI OpenGL Image Viewer
Comment[el]=Προβολέας εικόνων OpenGL των KIPI
Comment[it]=Visore di immagini OpenGL di KIPI
Comment[ja]=Kipi OpenGL 画像ビューア
Comment[nl]=KIPI OpenGL Afbeeldingsviewer
Comment[pt]=Visualizador de Imagens em OpenGL do KIPI
Comment[pt_BR]=Visualizador de Imagens em OpenGL do KIPI
Comment[sv]=KIPI-OpenGL bildvisning
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_viewer
author=Markus Leuthold
