[Desktop Entry]
Encoding=UTF-8
Name=CommentsEditor
Comment=KIPI batch comments editor plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_commentseditor
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
X-KIPI-ReqFeatures=ImagesHasComments
