[Desktop Entry]
Encoding=UTF-8
Name=AcquireImages
Name[it]=AcquisizioneImmagini
Name[nl]=Afbeeldingen ophalen
Name[sv]=Hämta bilder
Name[tr]=ResimTara
Name[zh_CN]=获取图像
Comment=KIPI Acquire Image Plugin
Comment[it]=Plugin di acquisizione di immagini di KIPI
Comment[nl]=KIPI-plugin voor het ophalen van afbeeldingen
Comment[sv]=KIPI-insticksprogram: Hämta bilder
Comment[tr]=KIPI Resim Tarama Eklentisi
Comment[zh_CN]=KIPI 图像获取插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_acquireimages
author=Gilles Caulier, caulier dot gilles at free.fr
