[Desktop Entry]
Encoding=UTF-8
Name=AcquireImages
Name[da]=Hent-billeder
Name[et]=Pildihõive
Name[it]=AcquisizioneImmagini
Name[mt]=IġborStampi
Name[nl]=Afbeeldingen ophalen
Name[pt]=ObterImagens
Name[sv]=Hämta bilder
Name[ta]=பிம்பங்களைப் பெறு
Name[tr]=ResimAl
Name[xx]=xxAcquireImagesxx
Comment=KIPI Acquire Image Plugin
Comment[da]=KIPI Hent billede plugin
Comment[de]=Ein KIPI Plugin zum Einlesen von Bildern
Comment[et]=KIPI pildihõive plugin
Comment[fr]=Module externe Kipi pour l'acquisition d'images
Comment[it]=Plugin di acquisizione di immagini di KIPI
Comment[mt]=Plugin KIPI Iġbor Stampi
Comment[nl]=Kipi-plugin voor het ophalen van afbeeldingen
Comment[pt]='Plugin' KIPI de Aquisição de Imagens
Comment[sv]=KIPI-insticksprogram: Hämta bilder
Comment[ta]=டிஜிகேம் கருவக படிம செருகி
Comment[tr]=KIPI Resim Alma Eklentisi
Comment[xx]=xxKIPI Acquire Image Pluginxx
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_acquireimages
author=Gilles Caulier, caulier dot gilles at free.fr
