[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to acquire images using a flat scanner
Comment[bg]=Инструмент за сканиране на снимки с плосък скенер
Comment[da]=Et værktøj til at hente billeder med en scanner
Comment[de]=Ein Werkzeug, um Bilder mit einem Flachbettscanner einzulesen.
Comment[en_GB]=A tool to acquire images using a flat scanner
Comment[et]=Tööriist piltide hankimiseks skannerist
Comment[gl]=Unha ferramenta para adquirir imaxes mediante un escáner
Comment[it]=Uno strumento per acquisire immagini con uno scanner piatto
Comment[nb]=Et verktøy for å hente bilder ved hjelp av skanner
Comment[nl]=Een hulpmiddel om afbeeldingen op te halen van een vlakke scanner
Comment[pt]=Uma ferramenta de aquisição de imagens com um 'scanner' plano
Comment[pt_BR]=Uma ferramenta para obter imagens usando um scanner de mesa
Comment[sv]=Ett verktyg för att hämta bilder med en bildläsare
Comment[uk]=Інструмент для отримання зображень з планшетних сканерів
Comment[x-test]=xxA tool to acquire images using a flat scannerxx
Exec=scangui %i -caption "%c" %U
GenericName=Acquire Images
GenericName[bg]=Сканиране на снимки
GenericName[da]=Hent billeder
GenericName[de]=Bilder einlesen
GenericName[en_GB]=Acquire Images
GenericName[et]=Pildihõive
GenericName[gl]=Adquirir imaxes
GenericName[it]=Acquisizione di immagini
GenericName[nb]=Hent bilder
GenericName[nl]=Afbeeldingen ophalen
GenericName[pt]=Aquisição de Imagens
GenericName[pt_BR]=Obter imagens
GenericName[sv]=Hämta bilder
GenericName[uk]=Отримання зображень
GenericName[x-test]=xxAcquire Imagesxx
Icon=scanner
Name=AcquireImages
Name[bg]=Сканиране на снимки
Name[ca]=AcquireImages
Name[cs]=Získat obrázky
Name[da]=AcquireImages
Name[de]=Bilder einlesen
Name[el]=Ανάκτηση εικόνων
Name[en_GB]=AcquireImages
Name[es]=Obtener imágenes
Name[et]=Pildihõive
Name[fr]=Acquisition d'images 
Name[ga]=AcquireImages
Name[gl]=AcquireImages
Name[he]=יבא-תמונות 
Name[hne]=एक्वायरइमेजेस
Name[is]=AcquireImages
Name[it]=Acquisizione di immagini
Name[ja]=AcquireImages
Name[km]=ទទួល​រូបភាព
Name[ko]=AcquireImages
Name[lv]=AcquireImages
Name[ms]=AcquireImages
Name[nb]=AcquireImages
Name[nds]=Biller rankriegen
Name[nl]=AfbeeldingenOphalen
Name[pa]=ਚਿੱਤਰ-ਲਵੋ
Name[pt]=Aquisição de Imagens
Name[pt_BR]=Obter imagens
Name[ro]=ObținereImagini
Name[sk]=Získať obrázky
Name[sv]=Hämta bilder
Name[th]=นำเข้ารูปภาพ
Name[tr]=Resim Tara
Name[uk]=Отримання зображень
Name[x-test]=xxAcquireImagesxx
Name[zh_CN]=图像捕获
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#acquireimages
X-KDE-SubstituteUID=false
X-KDE-Username=
