[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to acquire images using a flat scanner
Comment[x-test]=xxA tool to acquire images using a flat scannerxx
Exec=scangui %i -caption "%c" %U
GenericName=Acquire Images
GenericName[x-test]=xxAcquire Imagesxx
Icon=scanner
Name=AcquireImages
Name[x-test]=xxAcquireImagesxx
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#acquireimages
X-KDE-SubstituteUID=false
X-KDE-Username=
