[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to acquire images using a flat scanner
Exec=scangui %i -caption "%c" %U
GenericName=Acquire Images
Icon=scanner
Name=AcquireImages
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#acquireimages
X-KDE-SubstituteUID=false
X-KDE-Username=
