<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="1" name="kipiplugin_wikimedia" >

    <MenuBar>

        <Menu name="Export"><text>&amp;Export</text>
            <Action name="wikimediaexport" group="kipi_export_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
