[Desktop Entry]
Encoding=UTF-8
Name=Wikimedia Export
Name[ca]=Exportació a Wikimedia
Name[et]=Wikimedia eksport
Name[it]=Esportazione a Wikimedia
Name[nl]=Naar Wikimedia exporteren
Name[pt]=Exportação para o Wikimedia
Name[pt_BR]=Exportar para o Wikimedia
Name[sv]=Export till Wikimedia
Name[uk]=Експорт до Wikimedia
Name[x-test]=xxWikimedia Exportxx
Name[zh_TW]=Wikimedia 匯出
Comment=A tool to export images to a remote Wikimedia web service
Comment[ca]=Una eina per exportar imatges a un servei web remot Wikimedia
Comment[et]=Tööriist piltide eksportimiseks Wikimedia veebiteenusesse
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto Wikimedia
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Wikimedia-webservice te exporteren
Comment[pt]=Uma ferramenta de exportação de imagens para um serviço Web remoto do Wikimedia
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço remoto da Internet Wikimedia
Comment[sv]=Ett verktyg för att exportera bilder till en Wikimedia fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої служби Wikimedia
Comment[x-test]=xxA tool to export images to a remote Wikimedia web servicexx
Comment[zh_TW]=匯出影像到遠端 Wikimedia 網頁服務的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_wikimedia
X-KDE-Icon=wikimedia
X-KIPI-Mimetypes=image/png,image/jpg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
author=Guillaume Hormiere, hormiere dot guillaume at gmail dot com
