[Desktop Entry]
Encoding=UTF-8
Name=Wikimedia Export
Name[bg]=Изнасяне към Wikimedia
Name[bs]=Wikimedia izvoz
Name[ca]=Exportador a Wikimedia
Name[ca@valencia]=Exportació a Wikimedia
Name[cs]=Export Wikimedia
Name[da]=Wikimedia-eksport
Name[de]=Wikimedia-Export
Name[el]=Εξαγωγή στα Wikimedia
Name[en_GB]=Wikimedia Export
Name[es]=Exportar a Wikimedia
Name[et]=Wikimedia eksport
Name[ga]=Easpórtáil Wikimedia
Name[gl]=Exportar a Wikimedia
Name[is]=Wikimedia útflutningur
Name[it]=Esportazione a Wikimedia
Name[km]=នាំចេញ​វីគី​មេឌៀ​
Name[nb]=Wikimedia-eksport
Name[nl]=Naar Wikimedia exporteren
Name[pl]=Eksport do Wikimedia
Name[pt]=Exportação para o Wikimedia
Name[pt_BR]=Exportar para o Wikimedia
Name[ro]=Export Wikimedia
Name[ru]=Экспорт на Викисклад
Name[sv]=Export till Wikimedia
Name[uk]=Експорт до Wikimedia
Name[x-test]=xxWikimedia Exportxx
Name[zh_CN]=Wikimedia导出
Name[zh_TW]=Wikimedia 匯出
Comment=A tool to export images to a remote Wikimedia web service
Comment[bg]=Инструмент за изнасяне на изображения към отдалечена уеб-услуга Wikimedia
Comment[bs]=Alat za izvoz slika na udaljeni Wikimedia web servis
Comment[ca]=Una eina per exportar imatges al servei web remot Wikimedia
Comment[ca@valencia]=Una eina per exportar imatges al servei web remot Wikimedia
Comment[cs]=Nástroj pro export obrázků do vzdálené webové služby Wikimedia
Comment[da]=Et værktøj til at eksportere billeder til en ekstern Wikimedia webtjeneste
Comment[de]=Ein Werkzeug, um Bilder zu einem entfernten Wikimedia-Webdienst zu exportieren.
Comment[el]=Εργαλείο εξαγωγής εικόνων σε μια απομακρυσμένη υπηρεσία ιστού Wikimedia
Comment[en_GB]=A tool to export images to a remote Wikimedia web service
Comment[es]=Una herramienta para exportar imágenes al servicio web remoto de Wikimedia
Comment[et]=Tööriist piltide eksportimiseks Wikimedia veebiteenusesse
Comment[ga]=Uirlis a easpórtálann íomhánna go seirbhís Ghréasáin Wikimedia i gcéin
Comment[gl]=Unha ferramenta para exportar imaxes a un servizo web Wikimedia remoto
Comment[is]=Verkfæri til að senda myndir á fjarlæga Wikimedia vefþjónustu
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto Wikimedia
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​សេវា​បណ្ដាញ​វីគី​មេឌៀ​ពី​ចម្ងាយ​
Comment[nb]=Et verktøy for å eksportere bilder til en fjern Wikimedia-nettjeneste
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Wikimedia-webservice te exporteren
Comment[pl]=Narzędzie do eksportowania obrazów do zdalnej usługi sieciowej Wikimedia
Comment[pt]=Uma ferramenta de exportação de imagens para um serviço Web remoto do Wikimedia
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço remoto da Internet Wikimedia
Comment[ro]=O unealtă de exportat imagini pe serviciul web Wikimedia
Comment[ru]=Инструмент для экспорта изображений в веб-службу Wikimedia
Comment[sv]=Ett verktyg för att exportera bilder till en Wikimedia fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої служби Wikimedia
Comment[x-test]=xxA tool to export images to a remote Wikimedia web servicexx
Comment[zh_TW]=匯出影像到遠端 Wikimedia 網頁服務的工具
Icon=wikimedia
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_wikimedia
author=Guillaume Hormiere, hormiere dot guillaume at gmail dot com
