[Desktop Entry]
Encoding=UTF-8
Name=Wikimedia Export
Comment=A tool to export images to a remote Wikimedia web service
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_wikimedia
X-KDE-Icon=wikimedia
X-KIPI-Mimetypes=image/png,image/jpg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
author=Guillaume Hormiere, hormiere dot guillaume at gmail dot com
