[Desktop Entry]
Encoding=UTF-8
Name=Print images
Name[bg]=Отпечатване на изображения
Name[ca]=Impressió d'imatges
Name[cs]=Vytisknout obrázky
Name[da]=Udskriv billeder
Name[de]=Bilder drucken
Name[el]=Εκτύπωση εικόνων
Name[en_GB]=Print images
Name[es]=Imprimir imágenes
Name[et]=Piltide trükkimine
Name[fi]=Kuvien tulostus
Name[ga]=Priontáil íomhánna
Name[gl]=Imprimir imaxes
Name[it]=Stampa immagini
Name[ja]=画像の印刷
Name[km]=បោះពុម្ព​រូបភាព
Name[mai]=छवि छापू
Name[nb]=Bildeutskrift
Name[nds]=Biller drucken
Name[nl]=Afbeeldingen afdrukken
Name[pa]=ਚਿੱਤਰ ਪਰਿੰਟ ਕਰੋ
Name[pt]=Imprimir as imagens
Name[pt_BR]=Imprimir imagens
Name[sk]=Vytlačiť obrázky
Name[sv]=Skriv ut bilder
Name[tr]=Resimleri Yazdır
Name[uk]=Друк зображень
Name[x-test]=xxPrint imagesxx
Name[zh_CN]=打印图像
Comment=A tool to print images in various formats
Comment[bg]=Инструмент за отпечатване на изображения в различни формати
Comment[ca]=Una eina per a imprimir imatges en diversos formats
Comment[cs]=Nástroj pro tisk obrázků v různých formátech
Comment[da]=Et værktøj til at udskrive billeder i forskellige formater
Comment[de]=Ein Werkzeug, um Bilder in verschiedenen Formaten zu drucken
Comment[el]=Ένα εργαλείο εκτύπωσης εικόνων σε διάφορες μορφές
Comment[en_GB]=A tool to print images in various formats
Comment[es]=Una herramienta para imprimir imágenes en varios formatos
Comment[et]=Tööriist piltide trükkimiseks mitmesuguses suuruses
Comment[fi]=Kuvien tulostus eri muodoissa
Comment[ga]=Uirlis a phriontálann íomhánna i bhformáidí éagsúla
Comment[gl]=Unha ferramenta para imprimir imaxes en distintos formatos
Comment[it]=Uno strumento per stampare immagini in diversi formati
Comment[km]=ឧបករណ៍​ត្រូវ​បោះពុម្ព​រូបភាព​ជា​ទ្រង់ទ្រាយ​ផ្សេងៗ
Comment[nb]=Et verktøy for å skrive ut bilder i forskjellige formater
Comment[nds]=En Warktüüch, mit dat sik Biller in verscheden Formaten utdrucken laat
Comment[nl]=Een hulpmiddel om afbeeldingen af te drukken in verschillende formaten
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਕਈ ਫਾਰਮੈਟਾਂ ਵਿੱਚ ਪਰਿੰਟ ਕਰਨ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para imprimir imagens em vários formatos
Comment[pt_BR]=Uma ferramenta para imprimir imagens em vários formatos
Comment[sk]=Nástroj na tlač obrázkov v rôznych formátoch
Comment[sv]=Ett verktyg för att skriva ut bilder med diverse format
Comment[tr]=Çeşitli biçimlerdeki resimleri yazdırmak için bir araç
Comment[uk]=Інструмент для друку зображень у різних форматах
Comment[x-test]=xxA tool to print images in various formatsxx
Comment[zh_CN]=一个以多种格式打印图像的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_printimages
X-KIPI-MergeMenu=true
author=Angelo Naselli, anaselli@linux.it
