[Desktop Entry]
Encoding=UTF-8
Name=Print images
Name[x-test]=xxPrint imagesxx
Comment=A tool to print images in various formats
Comment[x-test]=xxA tool to print images in various formatsxx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_printimages
X-KIPI-MergeMenu=true
author=Angelo Naselli, anaselli@linux.it
