[Desktop Entry]
Encoding=UTF-8
Name=Facebook Exporter
Name[el]=Εξαγωγέας Facebook
Name[et]=Facebooki eksport
Name[gl]=Exportador a Facebook
Name[km]=កម្មវិធី​នាំចេញ Facebook
Name[nds]=Facebook-Export
Name[nl]=Facebook-exporter
Name[pt]=Exportação para o Facebook
Name[pt_BR]=Exportar para o Facebook
Name[sv]=Export till Facebook
Name[uk]=Експорт до Facebook
Name[zh_CN]=Facebook 导出
Comment=A tool to export images to a remote Facebook web service
Comment[da]=Et værktøj til at eksportere billeder til en ekstern Facebook-webtjeneste
Comment[el]=Ένα εργαλείο για την εξαγωγή εικόνων σε μια υπηρεσία ιστού Facebook
Comment[et]=Tööriist piltide eksportimiseks Facebooki veebiteenusesse
Comment[gl]=Unha utilidade para exportar imaxe a un servizo web Facebook
Comment[ja]=画像を Facebook ウェブサービスにエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​កាន់​តំបន់​បណ្ដាញ​របស់ Facebook ពីចម្ងាយ
Comment[nds]=En Warktüüch, mit dat sik Biller na en feern Facebook-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Facebook-webservice te exporteren
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Facebook
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet remoto Facebook
Comment[sv]=Ett verktyg för att exportera bilder till en Facebook fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби Facebook
Comment[zh_CN]=一个将图像导出到远程 Facebook 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_fbexport
author=Luka Renko, lure@kubuntu.org
