[Desktop Entry]
Encoding=UTF-8
Name=Remote Piwigo Export
Name[it]=Esportazione remota a Piwigo
Name[pt]=Exportação para um Piwigo Remoto
Name[pt_BR]=Exportar para Piwigo remoto
Name[sv]=Fjärrexport till Piwigo
Name[uk]=Експорт до віддаленого ресурсу Piwigo
Name[x-test]=xxRemote Piwigo Exportxx
Comment=A tool to export images to a remote Piwigo
Comment[it]=Uno strumento per esportare immagini a un Piwigo remoto
Comment[pt]=Uma ferramenta para exportar imagens para um Piwigo remoto
Comment[pt_BR]=Uma ferramenta para exportar imagens para um Piwigo remoto
Comment[sv]=Ett verktyg för att fjärrexportera bilder till Piwigo
Comment[uk]=Інструмент для експорту зображення до віддаленого ресурсу Piwigo
Comment[x-test]=xxA tool to export images to a remote Piwigoxx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_piwigoexport
