[Desktop Entry]
Encoding=UTF-8
Name=Remote Piwigo Export
Name[x-test]=xxRemote Piwigo Exportxx
Comment=A tool to export images to a remote Piwigo
Comment[x-test]=xxA tool to export images to a remote Piwigoxx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_piwigoexport
