[Desktop Entry]
Name=Classic
Name[x-test]=xxClassicxx
Comment=A port of the old HTML Export plugin theme
Comment[x-test]=xxA port of the old HTML Export plugin themexx

[X-HTMLExport Preview]
Name=Classic
Name[x-test]=xxClassicxx
Url=preview.png

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter thumbnailPerRow]
Name=Thumbnails per row
Name[x-test]=xxThumbnails per rowxx
Type=int
Default=4
Min=1
Max=100

[X-HTMLExport Parameter bgColor]
Name=Background Color
Name[x-test]=xxBackground Colorxx
Type=color
Default=#333333

[X-HTMLExport Parameter fgColor]
Name=Foreground Color
Name[x-test]=xxForeground Colorxx
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter fontSize]
Name=Font Size
Name[x-test]=xxFont Sizexx
Type=int
Default=14
Min=1
Max=100

[X-HTMLExport Parameter imgBorderSize]
Name=Image Border Size
Name[x-test]=xxImage Border Sizexx
Type=int
Default=1
Min=1
Max=50

[X-HTMLExport Parameter imgBorderColor]
Name=Image Border Color
Name[x-test]=xxImage Border Colorxx
Type=color
Default=#d0ffd0

[X-HTMLExport Parameter linkColor]
Name=Link Color
Name[x-test]=xxLink Colorxx
Type=color
Default=#b3b3b3

[X-HTMLExport Parameter visitedLinkColor]
Name=Visited Link Color
Name[x-test]=xxVisited Link Colorxx
Type=color
Default=#b3b3b3
