[Desktop Entry]
Encoding=UTF-8
Name=KioExportImport
Name[bg]=Изнасяне и внасяне през Kio
Name[da]=KioExportImport
Name[de]=KioExportImport
Name[en_GB]=KioExportImport
Name[et]=KIO eksport-import
Name[gl]=KioExportImport
Name[it]=Esportazione e importazione con KIO
Name[nb]=KioExportImport
Name[nl]=KioExportImport
Name[pt]=KioExportImport
Name[pt_BR]=Exportar e importar pelo KIO
Name[sv]=Export och import med I/O-slav
Name[tr]=KioExportImport
Name[uk]=KioExportImport
Name[x-test]=xxKioExportImportxx
Comment=A tool to export pictures to or import from a remote directory that is accessible via KIO.
Comment[bg]=Инструмент за изнасяне или внасяне на изображения от отдалечена директория, достъпна през KIO.
Comment[da]=Et værktøj til at eksportere billeder til, eller importere fra, en ekstern mappe som er tilgængelig via KIO.
Comment[en_GB]=A tool to export pictures to or import from a remote directory that is accessible via KIO.
Comment[et]=Tööriist piltide eksportimiseks või importimiseks võrgukataloogi või võrgukataloogist KIO vahendusel.
Comment[gl]=Unha ferramenta para exportar ou importar imaxes a un directorio remoto accesíbel a través de KIO.
Comment[it]=Uno strumento per esportare o importare immagini a o da una cartella remota accessibile con KIO.
Comment[nb]=Et verktøy for å eksportere bilder til eller importere fra en nettjeneste som KIO har tilgang til.
Comment[nl]=Een hulpmiddel om afbeeldingen te im- of exporteren uit een via KIO op afstand toegankelijke map.
Comment[pt]=Uma ferramenta para exportar ou importar imagens para/de uma pasta remota que esteja acessível por KIO.
Comment[pt_BR]=Uma ferramenta para exportar imagens para ou importar de um diretório remoto que é acessível via KIO.
Comment[sv]=Ett verktyg för att exportera bilder till eller importera från en fjärrkatalog tillgänglig via en I/O-slav.
Comment[tr]=Resimleri KIO kullanarak uzak bir dizine aktarmak veya uzak dizinden içeriye aktarmak için bir araç.
Comment[uk]=Інструмент для експорту або імпорту зображень до віддалених каталогів, доступ до яких можна отримати за допомогою KIO.
Comment[x-test]=xxA tool to export pictures to or import from a remote directory that is accessible via KIO.xx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_kioexportimport
author=Johannes Wienke, languitar at semipol dot de
