[Desktop Entry]
Encoding=UTF-8
Name=KioExportImport
Comment=A tool to export pictures to or import from a remote directory that is accessible via KIO.
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_kioexportimport
author=Johannes Wienke, languitar at semipol dot de
