[Desktop Entry]
Encoding=UTF-8
Name=BatchProcessImages
Name[da]=Gruppevis billedbehandling
Name[it]=ElaborazioneNonInterattivaDelleImmagini
Name[nl]=AfbeeldingenVerwerken
Name[pt]=ProcessamentoDeImagensEmLote
Name[pt_BR]=ProcessamentoDeImagensEmLote
Name[sv]=Behandla bilder i bakgrunden
Comment=KIPI Batch Processing Images Plugin
Comment[da]=KIPI gruppevis billedbehandlings-plugin
Comment[de]=Ein KIPI Plugin zur Batch-Verarbeitung von Bildern
Comment[fr]=Module externe Kipi pour les traîtements par lôts
Comment[it]=Plugin di elaborazione non interattiva delle immagini di KIPI
Comment[nl]=Kipi-plugin voor het verwerken van een serie afbeeldingen
Comment[pt]='Plugin' KIPI de Processamento de Imagens em Lote
Comment[pt_BR]='Plugin' KIPI de Processamento de Imagens em Lote
Comment[sv]=KIPI-insticksprogram: Behandla bilder i bakgrunden
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_batchprocessimages
author=Gilles Caulier, caulier dot gilles at free.fr
