[Desktop Entry]
Encoding=UTF-8
Name=BatchProcessImages
Name[bg]=Пакетна обработка на изображения
Name[ca]=BatchProcessImages
Name[cs]=Dávkové zpracování obrázků
Name[da]=Batchbehandling af billeder
Name[de]=Bilder-Stapelverarbeitung
Name[el]=Ομαδική επεξεργασία εικόνων
Name[en_GB]=BatchProcessImages
Name[es]=Procesamiento en lote de imágenes
Name[et]=Piltide pakktöötlus
Name[ga]=BatchProcessImages
Name[gl]=BatchProcessImages
Name[is]=BatchProcessImages
Name[it]=Elaborazione di immagini non interattiva
Name[ja]=BatchProcessImages
Name[km]=BatchProcessImages
Name[nb]=Satsvis bildebehandling
Name[nds]=Bild-Stapelverarbeiden
Name[nl]=AfbeeldingenVerwerken
Name[pa]=BatchProcessImages
Name[pt]=Processamento em Lote de Imagens
Name[pt_BR]=ProcessamentoImagensLote
Name[sk]=Dávkové spracovanie obrázkov
Name[sv]=Bakgrundsbehandling av bilder
Name[tr]=Çoklu Resim İşleme
Name[uk]=Пакетна обробка зображень
Name[x-test]=xxBatchProcessImagesxx
Name[zh_CN]=批处理图像
Comment=KIPI Batch Processing Images Plugin
Comment[bg]=Приставка за KIPI за пакетна обработка
Comment[ca]=Connector KIPI per a processar imatges per lots
Comment[cs]=KIPI modul pro dávkové zpracování obrázků
Comment[da]=KIPI plugin til batchbehandling af billeder01000000 to 17999999
Comment[de]=Kipi-Modul zur Stapelverarbeitung von Bildern
Comment[el]=Πρόσθετο του KIPI για την ομαδική επεξεργασία εικόνων
Comment[en_GB]=KIPI Batch Processing Images Plugin
Comment[es]=Complemento de KIPI para procesar imágenes por lotes
Comment[et]=KIPI piltide pakktöötluse plugin
Comment[fi]=Eräajokäsittely
Comment[gl]=Un engadido de KIPI para procesar lotes de imaxes
Comment[is]=KIPI íforrit til magnvinnslu mynda
Comment[it]=Estensione di elaborazione di immagini non interattiva di KIPI
Comment[ja]=画像を一括処理する Kipi プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​រូបភាព​ដំណើរការ​របស់ KIPI Batch
Comment[nb]=KIPI programtillegg for satsvis bildebehandling
Comment[nds]=KIPI-Moduul, dat Billerstapels verarbeiden deit
Comment[nl]=KIPI-plugin voor het bulkverwerken van afbeeldingen
Comment[pa]=KIPI ਬੈਚ ਪਰੋਸੈਸਿੰਗ ਚਿੱਤਰ ਪਲੱਗਇਨ
Comment[pt]='Plugin' de Processamento de Imagens em Lote do KIPI
Comment[pt_BR]=Plug-in do KIPI para processamento de imagens em lote
Comment[sk]=KIPI zásuvný modul pre dávkové spracovanie obrázkov
Comment[sv]=KIPI-insticksprogram för bakgrundsbehandling av bilder
Comment[tr]=KIPI Çoklu Resim İşleme Eklentisi
Comment[uk]=Додаток KIPI для пакетної обробки зображень
Comment[x-test]=xxKIPI Batch Processing Images Pluginxx
Comment[zh_CN]=KIPI 批处理图像插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_batchprocessimages
author=Gilles Caulier, caulier dot gilles at gmail dot com
