[Desktop Entry]
Encoding=UTF-8
Name=BatchProcessImages
Name[cs]=Dávkové zpracování obrázků
Name[da]=Behandl billeder i baggrunden
Name[de]=Bilder-Stapelverarbeitung
Name[el]=ΟμαδικήΕπεξεργασίαΕικόνων
Name[es]=Proceso de imágenes por bloques
Name[et]=Piltide pakktöötlus
Name[fi]=Eräajo
Name[gl]=Procesamento de Lotes de Imaxes
Name[is]=MagnvinnaMyndir
Name[it]=ElaborazioneNonInterattivaDelleImmagini
Name[nds]=Bild-Stapelverarbeiden
Name[nl]=AfbeeldingenVerwerken
Name[pl]=Grupowe przetwarzanie zdjęć
Name[pt]=Processamento em Lote de Imagens
Name[sr]=Пакетна обрада слика
Name[sr@Latn]=Paketna obrada slika
Name[sv]=Behandla bilder i bakgrunden
Name[tg]=ПардозишиГурӯҳиТасвирҳо
Name[tr]=ÇokluResimİşleme
Name[zh_CN]=批处理图像
Comment=KIPI Batch Processing Images Plugin
Comment[ca]=Connector del KIPI pel processat per lots d'imatges
Comment[cs]=KIPI modul dávkového zpracování obrázků
Comment[da]=KIPI-plugin: Behandl billeder i baggrunden
Comment[de]=Ein KIPI-Modul zum Bearbeiten von Bildern im Stapelmodus
Comment[el]=Πρόσθετο ομαδικής επεξεργασίας εικόνων KIPI
Comment[es]=Extensión de KIPI para el procesado de imágenes por lotes
Comment[et]=KIPI piltide pakktöötluse plugin
Comment[fi]=Kipi-liitännäinen usean kuvan peräkkäistä käsittelyä varten
Comment[fr]=Module externe KIPI pour traiter des images par lots
Comment[gl]=Plugin de KIPI para Procesar Imaxes por Lotes
Comment[is]=KIPI íforrit til magnvinnslu mynda
Comment[it]=Plugin di elaborazione non interattiva delle immagini di KIPI
Comment[ja]=Kipi 画像一括処理プラグイン
Comment[nds]=Kipi-Moduul för't Stapelverarbeiden vun Biller
Comment[nl]=KIPI-plugin voor het verwerken van een serie afbeeldingen
Comment[pa]=KIPI ਬੈਂਚ ਕਾਰਵਾਈ ਚਿੱਤਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Grupowe przetwarzanie zdjęć
Comment[pt]='Plugin' do KIPI de Processamento de Imagens em Lote
Comment[pt_BR]=Plugin de Processamento de Imagens em Lote do KIPI
Comment[sr]=KIPI прикључак за пакетну обраду слика
Comment[sr@Latn]=KIPI priključak za paketnu obradu slika
Comment[sv]=KIPI-insticksprogram: Behandla bilder i bakgrunden
Comment[tg]=Модули пардозиши тасвирҳои KIPI
Comment[tr]=KIPI Çoklu Resim İşleme Eklentisi
Comment[zh_CN]=KIPI 批处理图像插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_batchprocessimages
author=Gilles Caulier, caulier dot gilles at gmail dot com
