<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="1" name="kipiplugin_acquireimages" >

    <MenuBar>

        <Menu name="Import"><text>&amp;Import</text>
            <Action name="acquireimages" group="kipi_import_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
