[Desktop Entry]
Name=PolaroidBorderDrawerFactory
Name[pt]=PolaroidBorderDrawerFactory
Name[sv]=Skapa uppritare av polaroidkant
Name[uk]=Малювання поляризованої рамки
Name[x-test]=xxPolaroidBorderDrawerFactoryxx
Type=Service
ServiceTypes=PhotoLayoutsEditor/BorderPlugin
Encoding=UTF-8
Comment=Polaroid border drawer for Photo Layouts Editor
Comment[pt]=Moldura de Polaroid para o Editor de Formatos de Fotografias
Comment[sv]=Uppritning av polaroidkanter för fotolayouteditor
Comment[uk]=Інструмент малювання рамки Поляроїд для редактора компонуванння фотографії
Comment[x-test]=xxPolaroid border drawer for Photo Layouts Editorxx

X-KDE-Library=photolayoutseditorborderplugin_polaroid
author=Łukasz Spas, lukasz dot spas at gmail dot com
