[Desktop Entry]
Name=PolaroidBorderDrawerFactory
Type=Service
ServiceTypes=PhotoLayoutsEditor/BorderPlugin
Encoding=UTF-8
Comment=Polaroid border drawer for Photo Layouts Editor

X-KDE-Library=photolayoutseditorborderplugin_polaroid
author=Łukasz Spas, lukasz dot spas at gmail dot com
