[Desktop Entry]
Encoding=UTF-8
Name=Flickr Exporter
Name[br]=Ezporzher Flickr 
Name[ga]=Easpórtálaí Flickr
Name[it]=Esportazione a Flickr
Name[pt]=Exportação para o Flickr
Name[pt_BR]=Exportação para o Flickr
Name[sv]=Export till Flickr
Comment=KIPI Remote Flickr Export Plugin
Comment[de]=Ein KIPI-Modul, um Bilder zu Flickr zu exportieren
Comment[it]=Plugin per l'esportazione remota a Flickr di KIPI
Comment[nl]=KIPI-plugin voor het exporteren naar Flickr-galerij
Comment[pt]='Plugin' do KIPI de Exportação o Flickr Remoto
Comment[pt_BR]='Plugin' do KIPI de Exportação o Flickr Remoto
Comment[sv]=KIPI-insticksprogram för fjärrexport till Flickr
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_flickrexport
author=Vardhman Jain, vardhman@gmail.com
