[Desktop Entry]
Encoding=UTF-8
Name=Flickr Exporter
Name[de]=Flickr-Export
Name[el]=Εξαγωγέας Flickr
Name[et]=Flickri eksport
Name[ga]=Easpórtálaí Flickr
Name[gl]=Exportador a Flickr
Name[he]=יצוא ל-Flickr
Name[it]=Esportazione a Flickr
Name[km]=កម្មវិធី​នាំចេញ Flickr
Name[lv]=Flickr eksportētājs
Name[nb]=Eksport til Flickr
Name[nds]=Flickr-Export
Name[nl]=Flickr-exporter
Name[pa]=ਫਲਿੱਕਰ ਐਕਸਪੋਟਰ
Name[pt]=Exportação para o Flickr
Name[pt_BR]=Exportação para o Flickr
Name[sv]=Export till Flickr
Name[tr]=Flickr Dışa Aktarıcısı
Name[uk]=Експорт до Flickr
Name[x-test]=xxFlickr Exporterxx
Name[zh_CN]=Flickr 导出
Comment=A tool to export images to a remote Flickr web service
Comment[de]=Ein Werkzeug, um Bilder zu einem Flickr-Web-Service zu exportieren.
Comment[el]=Ένα εργαλείο για την εξαγωγή εικόνων σε μια υπηρεσία ιστού Flickr
Comment[gl]=Unha utilidade para exportar imaxe a un servizo web Flickr remoto
Comment[he]=כלי ליצוא תמונות לשירות רשת מרוחק של Flickr
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto Flickr
Comment[ja]=画像をリモートの Flickr ウェブサービスにエクスポートするツール
Comment[lv]=Rīks attēlu eksportēšanai uz attālināto Flickr tīmekļa servisu
Comment[nds]=En Warktüüch, mit dat sik Biller na en Flickr-Nettserver exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Flickr-webservice te exporteren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਫਲਿੱਕਰ ਵੈੱਬ ਸਰਵਿਸ ਉੱਤੇ ਐਕਸਪੋਰਟ ਕਰਨ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Flickr
Comment[pt_BR]=Uma ferramenta para exportar imagens para o serviço Web remoto do Flickr
Comment[sv]=Ett verktyg för att exportera bilder till en Flickr fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби Flickr
Comment[zh_CN]=一个将图像导出到 Flickr 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_flickrexport
author=Vardhman Jain, vardhman@gmail.com
