[Desktop Entry]
Encoding=UTF-8
Name=Calendar
Name[br]=Deiziadur
Name[cs]=Kalendář
Name[cy]=Calendr
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[ga]=Féilire
Name[gl]=Calendário
Name[it]=Calendario
Name[nl]=Kalender
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[sr]=Календар
Name[sr@Latn]=Kalendar
Name[sv]=Kalender
Name[tg]=Календар
Name[tr]=Takvim
Name[uk]=Календар
Name[xx]=xxCalendarxx
Name[zh_CN]=日历
Comment=KIPI Calendar Creation Wizard Plugin
Comment[cs]=KIPI modul průvodce vytvořením kalendáře
Comment[da]=KIPI-plugin: Guide til at oprette kalender
Comment[de]=Ein KIPI-Modul zum Erstellen eines Kalenders
Comment[el]=Πρόσθετο μάγου δημιουργίας ημερολογίου του KIPI
Comment[es]=Extensión de KIPI para creación de calendarios
Comment[et]=KIPI kalendri loomise nõustaja plugin
Comment[fr]=Module externe KIPI pour créer un calendrier
Comment[gl]=Plugin de KIPI para Asisténcia na Criazón de Calendários
Comment[it]=Plugin assistente per la creazione di calendari di KIPI
Comment[ja]=Kipi カレンダー作成プラグイン
Comment[nl]=KIPI-plugin voor het maken van een kalender
Comment[pa]=KIPI ਕੈਲੰਡਰ ਬਣਾਉਣ ਸਹਾਇਕ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Asystent tworzenia kalendarzy
Comment[pt]='Plugin' do KIPI de Assistência na Criação de Calendários
Comment[pt_BR]=Plugin de assistente para criação de calendário do KIPI
Comment[sr]=KIPI прикључак чаробњака за прављење календара
Comment[sr@Latn]=KIPI priključak čarobnjaka za pravljenje kalendara
Comment[sv]=KIPI-insticksprogram: Guide för att skapa kalender
Comment[tg]=Модули KIPI барои сохтани мавзӯъи календар
Comment[tr]=KIPI Takvim Oluşturma Sihirbazı Eklentisi
Comment[uk]=Втулок (KIPI) майстра створення календаря
Comment[xx]=xxKIPI Calendar Creation Wizard Pluginxx
Comment[zh_CN]=KIPI 日历创建向导插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_calendar
X-KIPI-MergeMenu=false
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
