[Desktop Entry]
Encoding=UTF-8
Name=HelloWorld
Comment=KIPI Hello World Plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_helloworld
author=John Doe, johndoe@somewhere.com
