[Desktop Entry]
Encoding=UTF-8
Name=HelloWorld
Name[cs]=Hello World
Name[et]=Tere, maailm
Name[it]=CiaoMondo
Name[nl]=Hallo wereld
Name[sv]=Hello world
Name[tr]=MerhabaDünya
Name[zh_CN]=世界你好
Comment=KIPI Hello World Plugin
Comment[cs]=KIPI modul Hello World
Comment[et]=KIPI plugin 'Tere, maailm'
Comment[it]=Plugin ciao mondo di KIPI
Comment[nl]=KIPI-plugin voor "Hallo wereld"
Comment[sv]=KIPI-insticksprogram: Hello world
Comment[tr]=KIPI Merhaba Dünya Eklentisi
Comment[zh_CN]=KIPI 世界你好插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_helloworld
author=John Doe, johndoe@somewhere.com
