[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=PhotoLayoutsEditor/BorderPlugin
X-KDE-DerivedName=PhotoLayoutsEditor BorderPlugin
Comment=A PhotoLayoutsEditor Border Plugin
Comment[it]=Un'estensione di bordi per l'editor di impaginazioni di foto
Comment[nb]=Et kant-programtillegg for fotoutleggsredigerer
Comment[nl]=Een plug-in voor randen van Foto-indelingbewerker
Comment[pt]=Um 'Plugin' de Molduras do Editor de Formatos de Fotografias
Comment[pt_BR]=Um plug-in de molduras do editor de formatos de fotos
Comment[sv]=Ett kantinsticksprogram för fotolayouteditor
Comment[uk]=Додаток рамок редактора фотокомозицій
Comment[x-test]=xxA PhotoLayoutsEditor Border Pluginxx
Comment[zh_TW]=相片佈局編輯器邊框外掛程式
