[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=PhotoLayoutsEditor/BorderPlugin
X-KDE-DerivedName=PhotoLayoutsEditor BorderPlugin
Comment=A PhotoLayoutsEditor Border Plugin
Comment[pt]=Um 'Plugin' de Molduras do Editor de Formatos de Fotografias
Comment[sv]=Ett kantinsticksprogram för fotolayouteditor
Comment[uk]=Додаток рамок редактора фотокомозицій
Comment[x-test]=xxA PhotoLayoutsEditor Border Pluginxx
