[Desktop Entry]
Encoding=UTF-8
Name=SendImages
Comment=Digikam Send mail Images Plugin
Comment[de]=Ein Digikam Modul um Bilder per Mail zu versenden
Comment[es]=Complemento de Digikam para el envío de imágenes por correo electrónico
Comment[fr]=Module externe de Digikam pour l'envoie d'images par courrier électronique
Comment[da]=Digikam plugin til at sende billeder via e-post
Comment[it]=Modulo esterno di Digikam per l'invio delle immagini con posta elettronica
Comment[pl]=Wtyczka do wysyłania zdjęć emailem dla programu Digikam
Comment[nl]=Digikam plugin voor het versturen van afbeeldingen per e-mail
Comment[hu]=Digikam képküldő plugin
Icon=
ServiceTypes=Digikam/Plugin
Type=Service
X-KDE-Library=digikamplugin_sendimages
author=Gilles Caulier, caulier dot gilles at free.fr
X-Digikam-MergeMenu=true
