[Desktop Entry]
Encoding=UTF-8
Name=SendImages
Name[et]=Piltide saatmine
Name[tr]=ResimGönder
Name[zh_CN]=发送图像
Comment=KIPI EMail Images Plugin
Comment[et]=KIPI piltide e-postiga saatmise plugin
Comment[tr]=KIPI Resim Gönderme Eklentisi
Comment[zh_CN]=KIPI 电邮图像插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_sendimages
author=Gilles Caulier, caulier dot gilles at free.fr
X-KIPI-MergeMenu=true
