[Desktop Entry]
Encoding=UTF-8
Name=SendImages
Name[br]=Kas ar skeudennoù
Name[cs]=Odeslání obrázku
Name[da]=Send billeder
Name[el]=ΑποστολήΕικόνων
Name[es]=Enviar imágenes
Name[et]=Piltide saatmine
Name[it]=InviaImmagini
Name[nl]=AfbeeldingenVerzenden
Name[pl]=Wyślij zdjęcia
Name[pt]=Envio de Imagens
Name[pt_BR]=Envio de Imagens
Name[sr]=Шаљи слике
Name[sr@Latn]=Šalji slike
Name[sv]=Skicka bilder
Name[tg]=ФиристоданиТасвирҳо
Name[tr]=ResimGönder
Name[xx]=xxSendImagesxx
Name[zh_CN]=发送图像
Comment=KIPI EMail Images Plugin
Comment[cs]=KIPI modul odeslání obrázku
Comment[da]=KIPI-plugin: Send billeder med e-mail
Comment[de]=Ein KIPI-Modul zum Versenden von Bildern per E-Mail
Comment[el]=Πρόσθετο του KIPI για αποστολή ηλεκτρονικού μηνύματος εικόνων
Comment[es]=Extensión de KIPI para enviar imágenes por correo electrónico
Comment[et]=KIPI piltide e-postiga saatmise plugin
Comment[it]=Plugin di invio immagini di KIPI
Comment[nl]=KIPI-plugin voor het verzenden van afbeeldingen via e-mail
Comment[pa]=KIPI ਈ-ਮੇਲ ਚਿੱਤਰ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka KIPI - Wysyłanie zdjęć e-mailem
Comment[pt]='Plugin' do KIPI de Envio de Imagens por E-Mail
Comment[pt_BR]='Plugin' do KIPI de Envio de Imagens por E-Mail
Comment[sr]=KIPI прикључак за слање слика е-поштом
Comment[sr@Latn]=KIPI priključak za slanje slika e-poštom
Comment[sv]=KIPI-insticksprogram: Skicka bilder med e-post
Comment[tg]=Модули KIPI барои тасвирҳои почтаи электронӣ
Comment[tr]=KIPI Resim Gönderme Eklentisi
Comment[xx]=xxKIPI EMail Images Pluginxx
Comment[zh_CN]=KIPI 电邮图像插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_sendimages
author=Gilles Caulier, caulier dot gilles at free.fr
X-KIPI-MergeMenu=true
