<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="3" name="kipiplugin_batchprocessimages" >

    <MenuBar>

        <Menu name="Tools"><text>&amp;Tools</text>
            <Action name="batch_border_images" group="kipi_batch_group" />
            <Action name="batch_color_images" group="kipi_batch_group" />
            <Action name="batch_convert_images" group="kipi_batch_group" />
            <Action name="batch_effect_images" group="kipi_batch_group" />
            <Action name="batch_filter_images" group="kipi_batch_group" />
            <Action name="batch_rename_images" group="kipi_batch_group" />
            <Action name="batch_recompress_images" group="kipi_batch_group" />
            <Action name="batch_resize_images" group="kipi_batch_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
