[Desktop Entry]
Name=Clean Frames
Name[de]=Saubere Rahmen
Name[es]=Marcos limpios
Name[is]=Hreinsa ramma
Name[it]=Riquadri puliti
Name[ja]=クリーンフレーム
Name[nds]=Kloor Rahmens
Name[nl]=Nette frames
Name[pt]=Molduras Simples
Name[pt_BR]=Molduras Simples
Name[sv]=Rena ramar
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[de]=Ein rahmenbasiertes Design das auf das Rahmendesign von Ruediger Bente basiert.
Comment[el]=Ένα θέμα με πλαίσια βασισμένο στο θέμα του Ruediger Bente
Comment[es]=Un tema de marcos basado en el tema de Ruediger Bente
Comment[fr]=Un thème avec frame basé sur celui de Ruediger Bente
Comment[is]=Rammagerðarþema byggt á öðru slíku eftir Ruediger Bente
Comment[it]=Un tema a riquadri basato sul tema a riquadri di Rüdiger Bente
Comment[ja]=Ruediger Bente のフレームテーマに基づくフレームテーマ
Comment[nds]=En Rahmenmuster, buut op Rüdiger Bente sien Rahmenmuster
Comment[nl]=Een framethema gebaseerd op het framethema van  Ruediger Bente
Comment[pt]=Um tema de molduras baseado no tema de Ruediger Bente
Comment[pt_BR]=Um tema de molduras baseado no tema de Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net

[X-HTMLExport Parameter style]
Name=Style
Name[br]=Giz
Name[de]=Stil
Name[el]=Στυλ
Name[es]=Estilo
Name[et]=Stiil
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[nds]=Stil
Name[nl]=Stijl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[sv]=Stil
Name[xh]=Uhlobo
Name[zu]=Uhlobo
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
