[Desktop Entry]
Name=Clean Frames
Comment=A frame theme based on Ruediger Bente's frame theme

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net
