[Desktop Entry]
Name=Clean Frames
Name[ca]=Marcs nets
Name[da]=Rene rammer
Name[de]=Saubere Rahmen
Name[es]=Marcos limpios
Name[et]=Puhtad raamid
Name[is]=Hreinsa ramma
Name[it]=Riquadri puliti
Name[ja]=クリーンフレーム
Name[nds]=Kloor Rahmens
Name[nl]=Nette frames
Name[pl]=Czyste ramki
Name[pt]=Molduras Simples
Name[pt_BR]=Bordas Limpas
Name[sr]=Чисти оквири
Name[sr@Latn]=Čisti okviri
Name[sv]=Rena ramar
Name[xx]=xxClean Framesxx
Name[zh_CN]=简洁框架
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[da]=Et rammetema baseret på Ruediger Bentes rammetema
Comment[de]=Ein rahmenbasiertes Design das auf das Rahmendesign von Ruediger Bente basiert.
Comment[el]=Ένα θέμα με πλαίσια βασισμένο στο θέμα του Ruediger Bente
Comment[es]=Un tema de marcos basado en el tema de Ruediger Bente
Comment[et]=Raamiteema Ruediger Bente raamiteema põhjal
Comment[fr]=Un thème avec frame basé sur celui de Ruediger Bente
Comment[is]=Rammagerðarþema byggt á öðru slíku eftir Ruediger Bente
Comment[it]=Un tema a riquadri basato sul tema a riquadri di Rüdiger Bente
Comment[ja]=Ruediger Bente のフレームテーマに基づくフレームテーマ
Comment[nds]=En Rahmenmuster, buut op Rüdiger Bente sien Rahmenmuster
Comment[nl]=Een framethema gebaseerd op het framethema van  Ruediger Bente
Comment[pl]=Motyw oparty na ramkach wzorowany na motywie, którego autorem jest Ruediger Bente.
Comment[pt]=Um tema de molduras baseado no tema de Ruediger Bente
Comment[pt_BR]=Uma tema de bordas baseado no tema de bordas de Ruediger Bente
Comment[sr]=Тема оквира заснована на теми Рудигера Бентеа
Comment[sr@Latn]=Tema okvira zasnovana na temi Rudigera Bentea
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema
Comment[xx]=xxA frame theme based on Ruediger Bente's frame themexx
Comment[zh_CN]=基于 Ruediger Bente 的创意的像框主题

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[sr]=Елизабет Марморштајн
Name[sr@Latn]=Elizabet Marmorštajn
Name[xx]=xxElizabeth Marmorsteinxx
Url=mailto:purplegamba@cox.net

[X-HTMLExport Parameter style]
Name=Style
Name[br]=Giz
Name[ca]=Estil
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[es]=Estilo
Name[et]=Stiil
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[nds]=Stil
Name[nl]=Stijl
Name[pl]=Styl
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[sr]=Стил
Name[sr@Latn]=Stil
Name[sv]=Stil
Name[xh]=Uhlobo
Name[xx]=xxStylexx
Name[zh_CN]=样式
Name[zu]=Uhlobo
Type=list
Default=pink.css
Value_0=pink.css
Caption_0=Pink
Value_1=blue.css
Caption_1=Blue
Value_2=lavender.css
Caption_2=Lavender
Value_3=green.css
Caption_3=Green
Value_4=black.css
Caption_4=Black
Value_5=red.css
Caption_5=Red
Value_6=yellow.css
Caption_6=Yellow
Value_7=brown.css
Caption_7=Brown
