[Desktop Entry]
Encoding=UTF-8
Name=Advanced Slideshow
Name[de]=Fortgeschrittene Diaschau
Name[el]=Προχωρημένη προβολή σλάιντ
Name[it]=Presentazione avanzata
Name[ja]=高度なスライドショー
Name[pt]=Apresentação Avançada
Name[pt_BR]=Apresentação de slides avançada
Name[sv]=Avancerat bildspel
Name[uk]=Показ слайдів з додатковими можливостями
Name[x-test]=xxAdvanced Slideshowxx
Comment=A tool to slide images with 2D and 3D effects using OpenGL
Comment[de]=Ein Werkzeug, um Bilder in einer Diaschau mit 2D- und 3D-Effekten anzuzeigen.
Comment[el]=Ένα εργαλείο προβολής σλάιντ εικόνων 2Δ και 3Δ εφέ με χρήση του OpenGL
Comment[it]=Uno strumento per fare una presentazione con delle immagini usando effetti a due e tre dimensioni con OpenGL
Comment[ja]=OpenGL を使って 2D や 3D 効果付きのスライドショーを作成するツール
Comment[pt]=Uma ferramenta para apresentar imagens com efeitos do OpenGL em 2D e 3D
Comment[pt_BR]=Uma ferramenta para apresentar slides de imagens com efeitos 2D e 3D usando o OpenGL
Comment[sv]=Ett verktyg för bildspel med två- och tredimensionella effekter som använder OpenGL
Comment[uk]=Інструмент для створення показу слайдів з ефектами 2D і 3D за допомогою OpenGL
Comment[x-test]=xxA tool to slide images with 2D and 3D effects using OpenGLxx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_advancedslideshow
X-KIPI-MergeMenu=true
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
