[Desktop Entry]
Encoding=UTF-8
Name=Advanced Slideshow
Name[x-test]=xxAdvanced Slideshowxx
Comment=A tool to slide images with 2D and 3D effects using OpenGL
Comment[x-test]=xxA tool to slide images with 2D and 3D effects using OpenGLxx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_advancedslideshow
X-KIPI-MergeMenu=true
author=Renchi Raju, renchi dot raju at gmail dot com
