[Desktop Entry]
Encoding=UTF-8
Name=Advanced Slideshow
Comment=A tool to slide images with 2D and 3D effects using OpenGL
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_advancedslideshow
X-KIPI-MergeMenu=true
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
