[Desktop Entry]
Comment=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Comment[ca]=Un altre tema agradable. D'aparença molt simple i neta, amb icones "cal·ligràfiques".
Comment[da]=Yderligere et pænt tema. Meget enkelt og rent udseende med "kalligrafiske" ikoner.
Comment[de]=Ein weiteres nettes Design. Sehr einfach und sauber aufgebaut. Es benutzt kalligraphische Symbole.
Comment[el]=Ένα ακόμα ωραίο θέμα. Πολλή απλή εμφάνιση με "καλλιτεχνικά" εικονίδια.
Comment[es]=Otro bonito tema. Aspecto muy sencillo y limpio con iconos «calligraphics».
Comment[et]=Veel üks kena teema. Väga lihtne ja selge välimus ning "kalligraafilised" ikoonid.
Comment[fr]=Encore un autre joli thème. Très simple et propre avec des icônes "calligraphiques".
Comment[is]=Enn eitt sætt þema. Mjög einfalt og hreinlegt með "skrautskriftarlegum" táknmyndum.
Comment[it]=Un altro bel tema. Aspetto semplice e pulito con icone «calligrafiche».
Comment[ja]=もう一つの素晴しいテーマ。書道のアイコンを使った非常にシンプルですっきりしたテーマ。
Comment[nds]=Noch en anner smuck Muster. Bannig eenfach un oprüümt, bruukt "kalligraafsche" Lüttbiller.
Comment[nl]=Alweer een mooi thema. Erg eenvoudig en schoon uiterlijk met kaligrafische pictogrammen.
Comment[pa]=ਹੋਰ ਵੀ ਸੋਹਣਾ ਸਰੂਪ ਹੈ। ਬਹੁਤ ਹੀ ਸਧਾਰਨ ਅਤੇ ਸਾਫ਼ ਦਿੱਖ ਵਾਲਾ "calligraphics" ਆਈਕਾਨਾਂ ਨਾਲ।
Comment[pl]=Jeszcze jeden niezły motyw. Bardzo prosty i schludny, korzysta z ikon "calligraphics".
Comment[pt]=Mais outro tema bonito. Aparência muito simples e limpa, com ícones "caligrafados".
Comment[pt_BR]=Mais um bom tema. Muito simples e com aparência limpa com ícones "caligráficos".
Comment[sr]=Још једна лепа тема. Веома једноставан и прегледан изглед са „калиграфским“ иконама.
Comment[sr@Latn]=Još jedna lepa tema. Veoma jednostavan i pregledan izgled sa „kaligrafskim“ ikonama.
Comment[sv]=Ytterligare ett snyggt tema. Mycket enkelt och rent utseende med "kalligrafiska" ikoner.
Comment[xx]=xxYet another nice theme. Very simple and clean look with "calligraphics" icons.xx
Comment[zh_CN]=另一个漂亮的主题，非常干净简练，使用书法风格的图标。
Icon=
Name=S0
Name[sr]=СО
Name[sr@Latn]=SO
Name[xx]=xxS0xx

[X-HTMLExport Author]
Name=Petr Vaněk
Name[sr]=Петр Ванек
Name[sr@Latn]=Petr Vanek
Name[xx]=xxPetr Vaněkxx
Name[zh_CN]=Petr Vanek
Url=mailto:petr@scribus.info
