[Desktop Entry]
Comment=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Comment[x-test]=xxYet another nice theme. Very simple and clean look with "calligraphics" icons.xx
Icon=
Name=S0
Name[x-test]=xxS0xx

[X-HTMLExport Author]
Name=Petr Vaněk
Name[x-test]=xxPetr Vaněkxx
Url=mailto:petr@scribus.info

[X-HTMLExport Preview]
Name=S0
Name[x-test]=xxS0xx
Url=preview.png
