[Desktop Entry]
Comment=Yet another nice theme. Very simple and clean look with "calligraphics" icons.
Comment[cs]=Další výtečný styl. Velmi jednoduchý a čistý s "kaligrafickými" ikonkami.
Icon=
Name=S0

[X-HTMLExport Author]
Name=Petr Vaněk
Url=mailto:petr@scribus.info
