[Desktop Entry]
Name=Date Frames
Name[x-test]=xxDate Framesxx
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Url=mailto:purplegamba@cox.net

[X-HTMLExport Preview]
Name=Date Frames
Name[x-test]=xxDate Framesxx
Url=preview.png

[X-HTMLExport Parameter color1]
Name=Thumbnail Background
Name[x-test]=xxThumbnail Backgroundxx
Type=color
Default=#FFFFFF

[X-HTMLExport Parameter color2]
Name=Image Background (contrasting)
Name[x-test]=xxImage Background (contrasting)xx
Type=color
Default=#000055

[X-HTMLExport Parameter color3]
Name=Nav Bar Background (dark)
Name[x-test]=xxNav Bar Background (dark)xx
Type=color
Default=#000011

[X-HTMLExport Parameter intro]
Name=Gallery Introduction
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Welcome to my web gallery!

[X-HTMLExport Parameter longformat]
Name=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[x-test]=xxCaption Date Format (see http://xsltsl.sourceforge.net/date-time.html)xx
Type=string
Default=%A, %b %e, %Y   %i:%M%P
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx

[X-HTMLExport Parameter shortformat]
Name=Image List Date Format
Name[x-test]=xxImage List Date Formatxx
Type=string
Default=%m-%d-%Y
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx
