[Desktop Entry]
Name=Date Frames
Name[bg]=Рамки на датите
Name[da]=Datér rammer
Name[en_GB]=Date Frames
Name[et]=Kuupäevapaneelid
Name[gl]=Molduras de datas
Name[it]=Riquadri di data
Name[nb]=Datorammer
Name[nds]=Datenrahmens
Name[nl]=Datumframes
Name[pt]=Molduras de Datas
Name[pt_BR]=Molduras de datas
Name[sv]=Datumramar
Name[tr]=Tarih Çerçeveleri
Name[uk]=Рамки дат
Name[x-test]=xxDate Framesxx
Comment=A frame theme based on Ruediger Bente's frame theme
Comment[bg]=Изглед с рамки, основан на изгледа с рамки на Ruediger Bente
Comment[ca]=Un tema de marcs basat en el tema de marcs del Ruediger Bente
Comment[cs]=Motiv rámce založený na motivu Ruediger Bente
Comment[da]=Et ramme-tema baseret på Ruediger Bente's ramme-tema
Comment[de]=Ein Rahmendesign, dass auf Rüdiger Bentes Rahmendesign basiert
Comment[el]=Ένα θέμα πλαισίων βασισμένο στο θέμα του Ruediger Bente
Comment[en_GB]=A frame theme based on Ruediger Bente's frame theme
Comment[es]=Un tema con marcos basado en el tema de marcos de Ruediger Bente
Comment[et]=Ruediger Bente raamiteemal põhinev raamiteema
Comment[fr]=Un thème de cadre utilisant le thème de Ruediger Bente
Comment[gl]=Un tema de molduras baseado no de Ruediger Bente
Comment[he]=ערכת מסגרות המבוססת על ערכת המסגרות של רודיגר בנטה
Comment[it]=Un tema a riquadri basato sul tema a riquadri di Rüdiger Bente
Comment[ja]=Ruediger Bente のフレームテーマに基づくフレームテーマ
Comment[km]=ស្បែក​ស៊ុម​មាន​មូលដ្ឋាន​លើ​ស្បែក​ស៊ុម​របស់ Ruediger Bente
Comment[lv]=Ietvaru tēma, balstīta uz  Ruediger Bente ietvaru tēmas
Comment[nb]=Et rammetema bygget på Ruediger Bebtes rammetema
Comment[nds]=En Rahmenmuster, opbuut op Ruediger Bente sien
Comment[nl]=Een framethema gebaseerd op het framethema van Ruediger Bente'
Comment[pt]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[pt_BR]=Um tema de moldura baseado no tema de Ruediger Bente
Comment[sk]=Téma rámčekov založená na téme od Ruediger Bente
Comment[sv]=Ett ramtema baserat på Ruediger Bentes ramtema
Comment[th]=ชุดตกแต่งกรอบภาพ อิงพื้นฐานจากชุดตกแต่งกรอบภาพของ Ruediger Bente'
Comment[tr]=Ruediger Bente'nin çerçeve teması tabanlı bir  tema
Comment[uk]=Тема рамок на основі теми Ruediger Bente
Comment[x-test]=xxA frame theme based on Ruediger Bente's frame themexx
Comment[zh_CN]=基于 Ruediger Bente 边框主题的边框主题

[X-HTMLExport Author]
Name=Elizabeth Marmorstein
Name[bg]=Elizabeth Marmorstein
Name[ca]=Elizabeth Marmorstein
Name[cs]=Elizabeth Marmorstein
Name[da]=Elizabeth Marmorstein
Name[de]=Elizabeth Marmorstein
Name[el]=Elizabeth Marmorstein
Name[en_GB]=Elizabeth Marmorstein
Name[es]=Elizabeth Marmorstein
Name[et]=Elizabeth Marmorstein
Name[fi]=Elizabeth Marmorstein
Name[fr]=Elizabeth Marmorstein
Name[gl]=Elizabeth Marmorstein
Name[he]=אליזבת מרמורשטיין
Name[hne]=एलिजाबेथ मारमोर्स्टीन
Name[is]=Elizabeth Marmorstein
Name[it]=Elizabeth Marmorstein
Name[ja]=Elizabeth Marmorstein
Name[km]=Elizabeth Marmorstein
Name[lv]=Elizabeth Marmorstein
Name[nb]=Elizabeth Marmorstein
Name[nds]=Elizabeth Marmorstein
Name[nl]=Elizabeth Marmorstein
Name[pa]=ਏਲੀਜ਼ਬੈਥ ਮਾਰਮੋਰਸਟਿਨ
Name[pt]=Elizabeth Marmorstein
Name[pt_BR]=Elizabeth Marmorstein
Name[sk]=Elizabeth Marmorstein
Name[sv]=Elizabeth Marmorstein
Name[th]=Elizabeth Marmorstein
Name[tr]=Elizabeth Marmorstein
Name[uk]=Elizabeth Marmorstein
Name[x-test]=xxElizabeth Marmorsteinxx
Name[zh_CN]=Elizabeth Marmorstein
Url=mailto:purplegamba@cox.net

[X-HTMLExport Parameter color1]
Name=Thumbnail Background
Name[bg]=Фон на умалените копия
Name[da]=Miniaturebaggrund
Name[en_GB]=Thumbnail Background
Name[et]=Pisipiltide taust
Name[gl]=Fondo das miniaturas
Name[it]=Sfondo delle miniature
Name[nb]=Minibilde-bakgrunn
Name[nds]=Vöransicht-Achtergrund
Name[nl]=Achtergrond van miniaturen
Name[pt]=Fundo das Miniaturas
Name[pt_BR]=Plano de fundo das miniaturas
Name[sv]=Miniatyrbildernas bakgrund
Name[tr]=Küçük Resim Arkaplanı
Name[uk]=Тло мініатюр
Name[x-test]=xxThumbnail Backgroundxx
Type=color
Default=#FFFFFF

[X-HTMLExport Parameter color2]
Name=Image Background (contrasting)
Name[bg]=Фон на изображенията (контрастен)
Name[da]=Billedbaggrund (med kontrast)
Name[en_GB]=Image Background (contrasting)
Name[et]=Piltide taust (kontrastis)
Name[gl]=Fondo das imaxes (contraste)
Name[it]=Sfondo dell'immagine (contrastante)
Name[nb]=Bildebakgrunn (for kontrast)
Name[nds]=Bildachtergrund (afheevt Kontrast)
Name[nl]=Achtergrond van afbeeldingen (contrasterend)
Name[pt]=Fundo da Imagem (com contraste)
Name[pt_BR]=Plano de fundo da imagem (com contraste)
Name[sv]=Bildens bakgrund (avvikande)
Name[tr]=Resim Arkaplanı (karşıt renk)
Name[uk]=Тло зображення (контрастність)
Name[x-test]=xxImage Background (contrasting)xx
Type=color
Default=#000055

[X-HTMLExport Parameter color3]
Name=Nav Bar Background (dark)
Name[bg]=Фон на лентата за управление (тъмен)
Name[da]=Nav.-linjebaggrund (mørk)
Name[en_GB]=Nav Bar Background (dark)
Name[et]=Liikumisriba taust (tume)
Name[gl]=Fondo da barra de navegación (escuro)
Name[it]=Sfondo della barra di navigazione (scuro)
Name[nb]=Nav. linje-bakgrunn (mørk)
Name[nds]=Stüerbalken-Achtergrund (düüster)
Name[nl]=Achtergrond nav. balk (donker)
Name[pt]=Fundo da Barra de Navegação (escuro)
Name[pt_BR]=Plano de fundo da barra de navegação (escuro)
Name[sv]=Navigeringsradens bakgrund (mörk)
Name[tr]=Gezinme Çubuğu Arkaplanı (koyu)
Name[uk]=Тло панелі навігації (темне)
Name[x-test]=xxNav Bar Background (dark)xx
Type=color
Default=#000011

[X-HTMLExport Parameter intro]
Name=Gallery Introduction
Name[bg]=Въведение на галерията
Name[da]=Galleri-introduktion
Name[en_GB]=Gallery Introduction
Name[et]=Galerii sissejuhatus
Name[gl]=Introdución á galería
Name[it]=Introduzione alla galleria
Name[nb]=Introduksjon til Gallery
Name[nds]=Bildsammeln-Inföhren
Name[nl]=Introductie tot de galerij
Name[pt]=Introdução à Galeria
Name[pt_BR]=Introdução à galeria
Name[sv]=Inledning till galleri
Name[tr]=Galeriye Giriş
Name[uk]=Вступ до галереї
Name[x-test]=xxGallery Introductionxx
Type=string
Default=Welcome to my web gallery!

[X-HTMLExport Parameter longformat]
Name=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[bg]=Формат на датата в заглавията (вижте http://xsltsl.sourceforge.net/date-time.html)
Name[da]=Datoformat til billedtekst (se http://xsltsl.sourceforge.net/date-time.html)
Name[en_GB]=Caption Date Format (see http://xsltsl.sourceforge.net/date-time.html)
Name[et]=Allkirja kuupäevavorming (vt. http://xsltsl.sourceforge.net/date-time.html)
Name[gl]=Formato das notas de datas (vexa http://xsltsl.sourceforge.net/date-time.html)
Name[it]=Formato della data delle didascalie (vedi http://xsltsl.sourceforge.net/date-time.html)
Name[nb]=Format for dato i bildetekst (se http://xsltsl.sourceforge.net/date-time.html)
Name[nds]=Titel-Datumformaat (kiek op http://xsltsl.sourceforge.net/date-time.html)
Name[nl]=Datumopmaak in titel (zie http://xsltsl.sourceforge.net/date-time.html)
Name[pt]=Formato das Datas da Legenda (ver em http://xsltsl.sourceforge.net/date-time.html)
Name[pt_BR]=Formato de datas da legenda (ver em http://xsltsl.sourceforge.net/date-time.html)
Name[sv]=Bildtextens datumformat (se http://xsltsl.sourceforge.net/date-time.html)
Name[tr]=Başlık Tarihi Biçimi (http://xsltsl.sourceforge.net/date-time.html adresine bakın)
Name[uk]=Формат підпису-дати (див. http://xsltsl.sourceforge.net/date-time.html)
Name[x-test]=xxCaption Date Format (see http://xsltsl.sourceforge.net/date-time.html)xx
Type=string
Default=%A, %b %e, %Y   %i:%M%P
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[bg]=Формат на датата в XSL: използвайте синтаксиса, даден в http://xsltsl.sourceforge.net/date-time.html
Comment[da]=XSL datoformat-streng: Brug den syntaks der oplyses på http://xsltsl.sourceforge.net/date-time.html
Comment[en_GB]=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[et]=XSL kuupäevavormingu string: kasuta süntaksit, mille toob ära http://xsltsl.sourceforge.net/date-time.html
Comment[gl]=Cadea de formato de datas XSL: Empregue a sintaxe que se indica en http://xsltsl.sourceforge.net/date-time.html
Comment[it]=Stringa del formato di data XSL: usa la sintassi indicata a http://xsltsl.sourceforge.net/date-time.html
Comment[nb]=XSL formatstreng for dato: Bruk syntaksen beskrevet på http://xsltsl.sourceforge.net/date-time.html
Comment[nds]=XSL-Datumformaat-Angaav: Bruuk de op http://xsltsl.sourceforge.net/date-time.html angeven Schriefwies.
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[pt_BR]=String do formato de datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=XSL-datumformatsträng. Använd syntaxen angiven på http://xsltsl.sourceforge.net/date-time.html
Comment[tr]=XSL Tarih Biçimi Dizgisi: http://xsltsl.sourceforge.net/date-time.html adresinde verilen yazım şeklini kullanın
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx

[X-HTMLExport Parameter shortformat]
Name=Image List Date Format
Name[bg]=Формат на датата за списъка с изображения
Name[da]=Datoformat for billedliste
Name[en_GB]=Image List Date Format
Name[et]=Pildiloendi kuupäevavorming
Name[gl]=Formato de datas das listas de imaxes
Name[it]=Formato della data dell'elenco delle immagini
Name[nb]=Datoformat i bildeliste
Name[nds]=Billerlist-Datumformaat
Name[nl]=Datumopmaak van afbeeldingenlijst
Name[pt]=Formato das Datas da Lista de Imagens
Name[pt_BR]=Formato de datas da lista de imagens
Name[sv]=Bildlistans datumformat
Name[tr]=Resim Listesi Tarih Biçimi
Name[uk]=Формат дати у списку зображень
Name[x-test]=xxImage List Date Formatxx
Type=string
Default=%m-%d-%Y
Comment=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[bg]=Формат на датата в XSL: използвайте синтаксиса, даден в http://xsltsl.sourceforge.net/date-time.html
Comment[da]=XSL datoformat-streng: Brug den syntaks der oplyses på http://xsltsl.sourceforge.net/date-time.html
Comment[en_GB]=XSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.html
Comment[et]=XSL kuupäevavormingu string: kasuta süntaksit, mille toob ära http://xsltsl.sourceforge.net/date-time.html
Comment[gl]=Cadea de formato de datas XSL: Empregue a sintaxe que se indica en http://xsltsl.sourceforge.net/date-time.html
Comment[it]=Stringa del formato di data XSL: usa la sintassi indicata a http://xsltsl.sourceforge.net/date-time.html
Comment[nb]=XSL formatstreng for dato: Bruk syntaksen beskrevet på http://xsltsl.sourceforge.net/date-time.html
Comment[nds]=XSL-Datumformaat-Angaav: Bruuk de op http://xsltsl.sourceforge.net/date-time.html angeven Schriefwies.
Comment[nl]=XSL-datumopmaaktekstreeks: Gebruik de syntax uit http://xsltsl.sourceforge.net/date-time.html
Comment[pt]=Texto de Formato das Datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[pt_BR]=String do formato de datas em XSL. Use a sintaxe indicada em http://xsltsl.sourceforge.net/date-time.html
Comment[sv]=XSL-datumformatsträng. Använd syntaxen angiven på http://xsltsl.sourceforge.net/date-time.html
Comment[tr]=XSL Tarih Biçimi Dizgisi: http://xsltsl.sourceforge.net/date-time.html adresinde verilen yazım şeklini kullanın
Comment[uk]=Рядок форматування дати XSL: використовуйте синтаксис, описаний на http://xsltsl.sourceforge.net/date-time.html
Comment[x-test]=xxXSL Date Format String: Use the syntax given at http://xsltsl.sourceforge.net/date-time.htmlxx
