[Desktop Entry]
Encoding=UTF-8
Name=FindImages
Comment=KIPI Plugin for Finding Images in Albums Database
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_findimages
author=Caulier Gilles, caulier dot gilles at free.fr
