[Desktop Entry]
Encoding=UTF-8
Name=FindImages
Name[cs]=Vyhledání obrázků
Name[et]=Piltide otsimine
Name[it]=TrovaImmagini
Name[nl]=AfbeeldingenZoeken
Name[pa]=ਚਿੱਤਰ ਖੋਜ
Name[pt]=Procurar Imagens
Name[pt_BR]=Procurar Imagens
Name[sr]=Нађи слике
Name[sr@Latn]=Nađi slike
Name[sv]=Sök bilder
Name[tr]=ResimBul
Name[zh_CN]=查找图像
Comment=KIPI Plugin for Finding Images
Comment[cs]=KIPI modul pro vyhledávání obrázků
Comment[el]=Πρόσθετο του KIPI για αναζήτηση εικόνων
Comment[et]=KIPI piltide otsimise plugin
Comment[it]=Plugin di KIPI per trovare immagini
Comment[nl]=KIPI-plugin voor het zoeken naar afbeeldingen
Comment[pl]=Wtyczka KIPI - Wyszukiwanie zdjęć
Comment[pt]='Plugin' do KIPI para Procurar Imagens
Comment[pt_BR]='Plugin' do KIPI para Procurar Imagens
Comment[sr]=KIPI прикључак за налажење слика
Comment[sr@Latn]=KIPI priključak za nalaženje slika
Comment[sv]=KIPI-insticksprogram: Sök bilder
Comment[tr]=Resim Bulmak İçin KIPI Eklentisi
Comment[zh_CN]=KIPI 查找图像插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_findimages
author=Caulier Gilles, caulier dot gilles at free.fr
