<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="2" name="kipiplugin_removeredeyes" >

    <MenuBar>

        <Menu name="Tools"><text>&amp;Tools</text>
            <Action name="removeredeyes" group="kipi_batch_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
