[Desktop Entry]
Encoding=UTF-8
Name=SmugMug Exporter
Name[de]=SmugMug-Export
Name[gl]=Exportador a SmugMug
Name[it]=Esportazione a SmugMug
Name[km]=កម្មវិធី​នាំចូល SmugMug
Name[nds]=SmugMug-Exporteren
Name[nl]=SmugMug-exporteur
Name[pt]=Exportação para o SmugMug
Name[pt_BR]=Exportar para o SmugMug
Name[sv]=Export till SmugMug
Name[uk]=Інструмент експорту до SmugMug
Name[x-test]=xxSmugMug Exporterxx
Comment=A tool to export images to a remote SmugMug web service
Comment[de]=Ein Werkzeug, um Bilder zu einem SmugMug-Web-Service zu exportieren.
Comment[gl]=Unha utilidade para exportar imaxes a un servizo web SmugMug remoto
Comment[it]=Uno strumento per esportare immagini al servizio Web SmugMug
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​សេវា​បណ្ដាញ SmugMug ពី​ចម្ងាយ
Comment[nds]=En Warktüüch, mit dat sik Biller na en SmugMug-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een SmugMug-webservice te exporteren
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do SmugMug
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet remoto SmugMug
Comment[sv]=Ett verktyg för att exportera bilder till en SmugMug fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби SmugMug
Comment[x-test]=xxA tool to export images to a remote SmugMug web servicexx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_smugexport
author=Luka Renko, lure@kubuntu.org
