[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to blend bracketed images
Comment[uk]=Інструмент для злиття зображень «вилки»
Exec=expoblending %i -caption "%c" %U
GenericName=Exposure Blending
GenericName[uk]=Злиття експозиції
Icon=expoblending
Name=ExpoBlending
Name[uk]=Злиття експозиції
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#expoblending
X-KDE-SubstituteUID=false
X-KDE-Username=
