#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to blend bracketed images
Comment[ca]=Una eina per barrejar imatges fetes amb bràqueting
Comment[ca@valencia]=Una eina per barrejar imatges fetes amb bràqueting
Comment[da]=Et værktøj til at blande billeder med bracket
Comment[en_GB]=A tool to blend bracketed images
Comment[et]=Tööriist kahveldatud piltide liitmiseks
Comment[is]=Verkfæri til að setja saman mislýstar myndraðir (bracketed)
Comment[it]=Uno strumento per fondere immagini sovrapposte
Comment[nl]=Een hulpmiddel voor het mengen van afbeeldingen tussen haakjes
Comment[pt]=Uma ferramenta para mostrar imagens delimitadas
Comment[pt_BR]=Uma ferramenta para mostrar imagens delimitadas
Comment[sv]=Ett verktyg för att blanda avgränsade bilder
Comment[uk]=Інструмент для злиття зображень «вилки»
Comment[x-test]=xxA tool to blend bracketed imagesxx
Comment[zh_CN]=一个混合加括号图像的工具
Comment[zh_TW]=混合括弧內的影像的工具
Exec=expoblending %i -caption "%c" %U
GenericName=Exposure Blending
GenericName[ca]=Barreja d'exposició
GenericName[ca@valencia]=Barreja d'exposició
GenericName[da]=Eksponeringsblanding
GenericName[en_GB]=Exposure Blending
GenericName[et]=Pildiliitmine
GenericName[is]=Blöndun lýsingar
GenericName[it]=Doppia esposizione
GenericName[nl]=Mengen van belichting
GenericName[pt]=Mistura da Exposição
GenericName[pt_BR]=Mistura da exposição
GenericName[sv]=Exponeringsblandning
GenericName[uk]=Злиття експозиції
GenericName[x-test]=xxExposure Blendingxx
GenericName[zh_CN]=曝光混合
GenericName[zh_TW]=曝光混合
Icon=expoblending
Name=ExpoBlending
Name[ca]=ExpoBlending
Name[ca@valencia]=ExpoBlending
Name[da]=EkspoBlanding
Name[en_GB]=ExpoBlending
Name[et]=Pildiliitmine
Name[is]=Lýsingarblöndun
Name[it]=Doppia esposizione
Name[nl]=BeliMengen
Name[pt]=Mistura da Exposição
Name[pt_BR]=Mistura da exposição
Name[sv]=Exponeringsblandning
Name[uk]=Злиття експозиції
Name[x-test]=xxExpoBlendingxx
Name[zh_CN]=曝光混合
Name[zh_TW]=曝光混合
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#expoblending
X-KDE-SubstituteUID=false
X-KDE-Username=
