[Desktop Entry]
Encoding=UTF-8
Name=KioExport
Comment=A tool to export pictures to a remote directory that is accessible via KIO.
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_kioexport
author=Johannes Wienke, languitar at semipol dot de
