[Desktop Entry]
Name=Snow
Name[br]=Erc'h
Name[cs]=Sníh
Name[da]=Sne
Name[de]=Schnee
Name[el]=Χιόνι
Name[es]=Nieve
Name[ga]=Sneachta
Name[it]=Neve
Name[ja]=雪 (Snow)
Name[pt]=Neve
Name[pt_BR]=Neve
Name[sv]=Snö
Name[zh_CN]=雪月
Comment=A perfect match for your mountain holidays
Comment[da]=Passer perfekt til din ferie i bjergene
Comment[de]=Passt perfekt zu Ihren Ferien in den Bergen
Comment[el]=Μια υπέροχη επιλογή για διακοπές σε βουνό
Comment[es]=Una coincidencia perfecta para sus vacaciones de montaña
Comment[it]=Perfetto per le settimane bianche
Comment[ja]=冬山での休日にぴったりのテーマ
Comment[pt]=A combinação perfeita com as suas férias na montanha
Comment[pt_BR]=A combinação perfeita com as suas férias na montanha
Comment[sv]=Passar perfekt med din alpinsemester
Comment[zh_CN]=野营的绝配

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[ja]=Aurelien Gateau
Url=mailto:aurelien.gateau@free.fr
