[Desktop Entry]
Name=Snow
Name[fr]=Neige
Comment=A perfect match for your mountain holidays

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=http://extragear.kde.org/apps/kipi
