[Desktop Entry]
Name=GrayscalePhotoEffectFactory
Name[pl]=GrayscalePhotoEffectFactory
Type=Service
ServiceTypes=PhotoLayoutsEditor/EffectPlugin
Encoding=UTF-8
Comment=Grayscale effect for Photo Layouts Editor
Comment[pl]=Efekt przejścia w skalę odcieni szarości dla programu Photo Layouts Editor

X-KDE-Library=photolayoutseditoreffectplugin_grayscale
author=Łukasz Spas, lukasz dot spas at gmail dot com
