[Desktop Entry]
Encoding=UTF-8
Name=MPEGEncoder
Name[da]=MPEG-kodning
Name[et]=MPEG kodeerija
Name[it]=CodificaMPEG
Name[nl]=MPEG-diavoorstelling
Name[pl]=Koder MPEG
Name[pt]=Codificador MPEG
Name[pt_BR]=Codificador MPEG
Name[sr]=MPEG кодер
Name[sr@Latn]=MPEG koder
Name[sv]=MPEG-kodning
Name[tg]=РамзгузорииMPEG
Name[tr]=MPEGKodlayıcı
Name[xx]=xxMPEGEncoderxx
Name[zh_CN]=MPEG 编码器
Comment=KIPI Images MPEG Encoder Plugin
Comment[cs]=KIPI modul MPEG enkóderu 
Comment[da]=KIPI-plugin: MPEG-kodning
Comment[de]=Ein KIPI-Modul zum Erstellen eines MPEG-Films aus Bildern
Comment[et]=KIPI piltide MPEG kodeerimise plugin
Comment[it]=Plugin di codifica MPEG delle immagini di KIPI
Comment[nl]=KIPI-plugin voor het maken van MPEG-diavoorstellingen
Comment[pl]=Wtyczka KIPI - Koder MPEG
Comment[pt]='Plugin' do KIPI de Codificação de Imagens em MPEG
Comment[pt_BR]='Plugin' do KIPI de Codificação de Imagens em MPEG
Comment[sr]=KIPI прикључак за MPEG кодовање слика
Comment[sr@Latn]=KIPI priključak za MPEG kodovanje slika
Comment[sv]=KIPI-insticksprogram: MPEG-kodning
Comment[tg]=Модули KIPI барои рамзгузории тасвирҳои MPEG
Comment[tr]=KIPI Resimler MPEG Kodlayıcı Eklentisi
Comment[xx]=xxKIPI Images MPEG Encoder Pluginxx
Comment[zh_CN]=KIPI 图像 MPEG 编码器插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_mpegencoder
author=Gilles Caulier, caulier dot gilles at free.fr
X-KIPI-MergeMenu=true
