[Desktop Entry]
Encoding=UTF-8
Name=iPodExport
Name[el]=Εξαγωγή iPod
Name[it]=Esportazione a iPod
Name[pt]=Exportação para o iPod
Name[pt_BR]=Exportação para o iPod
Name[sv]=Export till iPod
Comment=KIPI iPod Export Plugin
Comment[el]=Πρόσθετο εξαγωγής iPod του KIPI
Comment[it]=Plugin per l'esportazione remota a iPod di KIPI
Comment[ja]=Kipi iPod エクスポートプラグイン
Comment[pt]='Plugin' do KIPI de Exportação para o iPod
Comment[pt_BR]='Plugin' do KIPI de Exportação para o iPod
Comment[sv]=KIPI-insticksprogram för export till iPod
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_ipodexport
author=Seb Ruiz, me@sebruiz.net
