[Desktop Entry]
Comment=KIPI Pictures Metadata Editor
Comment[da]=KIPI-editor for metadata i billeder
Comment[de]=Ein KIPI-Modul zum Bearbeiten der Metadaten
Comment[el]=Επεξεργαστής μεταπληροφοριών εικόνων του KIPI
Comment[it]=Editor dei dati aggiuntivi delle immagini di KIPI
Comment[ja]=Kipi 画像のメタデータエディタ
Comment[pl]=Wtyczka KIPI - Edytor metadanych zdjęć
Comment[pt]=Editor de Meta-Dados das Imagens do KIPI
Comment[pt_BR]=Editor de Meta-Dados das Imagens do KIPI
Comment[sv]=KIPI-editor för metadata i bilder
Encoding=UTF-8
Icon=
Name=MetadataEdit
Name[da]=Metadataeditor
Name[de]=MetadataEditor
Name[it]=ModificaDatiAggiuntivi
Name[pl]=Edytor metadanych
Name[pt]=Edição de Meta-Dados
Name[pt_BR]=Edição de Meta-Dados
Name[sv]=Metadataeditor
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_metadataedit
author=Gilles Caulier, caulier dot gilles at kdemail dot net
