[Desktop Entry]
Comment=A tool to edit EXIF, IPTC and XMP metadata
Comment[de]=Ein Werkzeug, um Exif, IPTC und XMP-Metadaten zu berabeiten.
Comment[el]=Ένα εργαλείο επεξεργασίας μεταδεδομένων EXIF, IPTC και XMP
Comment[gl]=Unha utilidade para editar metadatos EXIF, IPTC e XMP
Comment[he]=כלי לעריכת מידע EXIF,‏ IPTC ו-XMP
Comment[it]=Uno strumento per modificare i dati aggiuntivi EXIF, IPTC e XMP
Comment[ja]=Exif, IPTC, XMP メタデータを編集するツール
Comment[km]=ឧបករណ៍​ត្រូវ​កែសម្រួល EXIF, IPTC និង​ទិន្នន័យ​មេតា XMP
Comment[lv]=Rīks EXIF, IPTC un XMP metadatu rediģēšanai
Comment[nds]=En Warktüüch, mit dat sik EXIF-, IPTC- un XMP-Metadaten bewerken laat
Comment[nl]=Een hulpmiddel voor het bewerken van EXIF-, IPTC- en XMP-metadata
Comment[pt]=Uma ferramenta para editar meta-dados EXIF, IPTC e XMP
Comment[pt_BR]=Uma ferramenta para editar meta-dados EXIF, IPTC e XMP
Comment[sv]=Ett verktyg för att redigera EXIF-, IPTC- och XMP-metadata
Comment[uk]=Інструмент для редагування метаданих EXIF, IPTC і XMP
Comment[x-test]=xxA tool to edit EXIF, IPTC and XMP metadataxx
Comment[zh_CN]=一个编辑 EXIF、IPTC 和 XMP 元数据的工具
Encoding=UTF-8
Icon=
Name=MetadataEdit
Name[de]=Metadaten-Editor
Name[es]=Editar metadatos
Name[et]=Metaandmete redaktor
Name[fi]=Metadata-editori
Name[fr]=SendImages
Name[he]=עריכת Metadata
Name[it]=Modifica dei dati aggiuntivi
Name[km]=កែសម្រួល​ទិន្នន័យ​មេតា
Name[lv]=MetadatuRedaktors
Name[pt]=Editor de Meta-Dados
Name[ro]=EditareMetadate
Name[sv]=Metadataeditor
Name[th]=แก้ไขข้อมูลของภาพ
Name[tr]=MetadataDüzenleyici
Name[x-test]=xxMetadataEditxx
Name[zh_CN]=元数据编辑
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_metadataedit
author=Gilles Caulier, caulier dot gilles at gmail dot com
