[Desktop Entry]
Comment=A tool to edit EXIF, IPTC and XMP metadata
Comment[bg]=Инструмент за редактиране на метаданни EXIF, IPTC и XMP
Comment[ca]=Una eina per a editar metadades EXIF, IPTC i XMP
Comment[cs]=Nástroj pro úpravu metadat EXIF, IPTC a XMP
Comment[da]=Et værktøj til at redigere EXIF-, IPTC- og XMP-metadata
Comment[de]=Ein Werkzeug, um Exif, IPTC und XMP-Metadaten zu berabeiten.
Comment[el]=Ένα εργαλείο επεξεργασίας μεταδεδομένων EXIF, IPTC και XMP
Comment[en_GB]=A tool to edit EXIF, IPTC and XMP metadata
Comment[es]=Una herramienta para editar los metadatos EXIF, IPTC y XMP.
Comment[et]=Tööriist EXIF-i, IPTC ja XMP metaandmete muutmiseks
Comment[fi]=Exif, iptc ja xmp-metatietojen muokkaus
Comment[fr]=Outil pour l'édition les métadonnées EXIF, IPTC et XMP
Comment[gl]=Unha ferramenta para editar metadatos EXIF, IPTC e XMP
Comment[he]=כלי לעריכת מידע EXIF,‏ IPTC ו-XMP
Comment[hne]=एक्सिफ, आईपीटीसी अउ एक्सएमपी मेटाडाटा ल संपादित करे के एक औजार
Comment[it]=Uno strumento per modificare i dati aggiuntivi EXIF, IPTC e XMP
Comment[ja]=Exif, IPTC, XMP メタデータを編集するツール
Comment[km]=ឧបករណ៍​ត្រូវ​កែសម្រួល EXIF, IPTC និង​ទិន្នន័យ​មេតា XMP
Comment[lv]=Rīks EXIF, IPTC un XMP metadatu rediģēšanai
Comment[nb]=Et verktøy for å redigere EXIF-, IPIC- og XMP-metadata
Comment[nds]=En Warktüüch, mit dat sik EXIF-, IPTC- un XMP-Metadaten bewerken laat
Comment[nl]=Een hulpmiddel voor het bewerken van EXIF-, IPTC- en XMP-metadata
Comment[pa]=EXIF, IPTC ਅਤੇ XMP ਮੇਟਾਡਾਟਾ ਸੋਧਣ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para editar meta-dados EXIF, IPTC e XMP
Comment[pt_BR]=Uma ferramenta para editar metadados EXIF, IPTC e XMP
Comment[sk]=Nástroj na úpravu EXIF, IPTC a XMP metadát
Comment[sv]=Ett verktyg för att redigera EXIF-, IPTC- och XMP-metadata
Comment[th]=เครื่องมือแก้ไขข้อมูลกำกับภาพแบบ EXIF, IPTC และ XMP
Comment[tr]=EXIF, IPTC ve XMP üstverilerini düzenlemek için bir araç
Comment[uk]=Інструмент для редагування метаданих EXIF, IPTC і XMP
Comment[x-test]=xxA tool to edit EXIF, IPTC and XMP metadataxx
Comment[zh_CN]=一个编辑 EXIF、IPTC 和 XMP 元数据的工具
Encoding=UTF-8
Icon=
Name=MetadataEdit
Name[bg]=Редактиране на метаданни
Name[ca]=MetadataEdit
Name[cs]=MetadataEdit
Name[da]=MetadataEdit
Name[de]=Metadaten-Editor
Name[el]=MetadataEdit
Name[en_GB]=MetadataEdit
Name[es]=Editar metadatos
Name[et]=Metaandmete redaktor
Name[fi]=Metadata-editori
Name[fr]=SendImages
Name[ga]=MetadataEdit
Name[gl]=MetadataEdit
Name[he]=עריכת Metadata
Name[hne]=मेटाडाटा-एडिट
Name[it]=Modifica dei dati aggiuntivi
Name[ja]=MetadataEdit
Name[km]=កែសម្រួល​ទិន្នន័យ​មេតា
Name[ko]=MetadataEdit
Name[lv]=MetadatuRedaktors
Name[nb]=MetadataEdit
Name[nds]=MetadataEdit
Name[nl]=MetadataEdit
Name[pa]=MetadataEdit
Name[pt]=Editor de Meta-Dados
Name[pt_BR]=Editor de metadados
Name[ro]=EditareMetadate
Name[sk]=Úprava metadát
Name[sv]=Metadataeditor
Name[th]=แก้ไขข้อมูลของภาพ
Name[tr]=Metadata Düzenle
Name[uk]=MetadataEdit
Name[x-test]=xxMetadataEditxx
Name[zh_CN]=元数据编辑
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_metadataedit
author=Gilles Caulier, caulier dot gilles at gmail dot com
