[Desktop Entry]
Encoding=UTF-8
Name=Flash Export
Name[x-test]=xxFlash Exportxx
Comment=A tool to export images to Flash
Comment[x-test]=xxA tool to export images to Flashxx
Type=Service
Icon=flash
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_flashexport
author=Gilles Caulier, caulier dot gilles at gmail dot com
