[Desktop Entry]
Encoding=UTF-8
Name=Flash Export
Name[bg]=Изнасяне във Flash
Name[ca]=Flash Export
Name[cs]=Flash Export
Name[da]=Flash-eksport
Name[de]=Flash-Export
Name[el]=Εξαγωγή Flash
Name[en_GB]=Flash Export
Name[es]=Exportar a Flash
Name[et]=Flashi eksport
Name[ga]=Easpórtáil Flash
Name[gl]=Exportador a Flash
Name[it]=Esportazione a Flash
Name[ja]=Flash Export
Name[km]=កម្មវិធី​នាំចេញ Flash
Name[nb]=Flash-eksport
Name[nds]=Flash-Exporteren
Name[nl]=Flash-export
Name[pa]=ਫਲੈਸ਼ ਐਕਸਪੋਰਟ
Name[pt]=Exportação para Flash
Name[pt_BR]=Exportar para Flash
Name[sk]=Flash export
Name[sv]=Export till Flash
Name[tr]=Flash olarak Dışarı Aktar
Name[uk]=Експорт у Flash
Name[x-test]=xxFlash Exportxx
Name[zh_CN]=Flash 导出
Comment=A tool to export images to Flash
Comment[bg]=Инструмент за изнасяне на изображения във Flash
Comment[ca]=Una eina per a exportar imatges a Flash
Comment[cs]=Nástroj pro export obrázků do Flashe
Comment[da]=Et værktøj til at eksportere billeder til Flash
Comment[de]=Ein Werkzeug, um Bilder nach Flash zu exportieren.
Comment[el]=Ένα εργαλείο εξαγωγής εικόνων σε Flash
Comment[en_GB]=A tool to export images to Flash
Comment[es]=Herramienta para exportar imágenes para Flash
Comment[et]=Tööriist piltide eksportimiseks Flashi
Comment[fi]=Kuvien vienti Flash-tiedostoksi
Comment[fr]=Outil d'exportation d'images en Flash
Comment[ga]=Uirlis a easpórtálann íomhánna go Flash
Comment[gl]=Unha ferramenta para exportar imaxes a Flash
Comment[he]=כלי ליצוא תמונות לפלאש
Comment[hne]=फोटू ल फ्लेस मं निर्यात करे के एक औजार
Comment[is]=Áhald til að flytja myndir út í Flash
Comment[it]=Uno strumento per esportare immagini a Flash
Comment[ja]=画像を Flash にエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំរូបភាព​ចេញ​ទៅ Flash
Comment[lv]=Rīks attēlu eksportēšanai Flash formātā
Comment[nb]=Et verktøy for å eksportere bilder til Flash
Comment[nds]=En Warktüüch, mit dat sik Biller na't Flash-Formaat wanneln laat
Comment[nl]=Een hulpmiddel voor het exporteren van afbeeldingen naar Flash
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਫਲੈਸ਼ ਲਈ ਐਕਸਪੋਰਟ ਕਰਨ ਲਈ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para Flash
Comment[pt_BR]=Uma ferramenta para exportar imagens para Flash
Comment[sk]=Nástroj na export obrázkov do Flash
Comment[sv]=Ett verktyg för att exportera bilder till Flash
Comment[th]=เครื่องมือส่งออกภาพเป็นแฟ้มสื่อประเภท Flash
Comment[tr]=Resimleri USB belleğe aktarmak için bir araç
Comment[uk]=Інструмент для експортування зображень до Flash
Comment[x-test]=xxA tool to export images to Flashxx
Comment[zh_CN]=一个将图像导出为 Flash 的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_flashexport
author=Gilles Caulier, caulier dot gilles at gmail dot com
