[Desktop Entry]
Encoding=UTF-8
Name=Facebook Import/Export
Name[bg]=Внасяне и изнасяне от Facebook
Name[ca]=Facebook Import/Export
Name[cs]=Facebook Import/Export
Name[da]=Facebook import/eksport
Name[de]=Facebook-Import/Export
Name[el]=Εισαγωγέας/εξαγωγέας Facebook
Name[en_GB]=Facebook Import/Export
Name[es]=Importar/Exportar a Facebook 
Name[et]=Facebooki import/eksport
Name[fi]=Facebook tuonti/vienti
Name[ga]=Iompórtáil/Easpórtáil Facebook
Name[gl]=Importación/Exportación a Facebook
Name[it]=Importazione ed esportazione a Facebook
Name[ja]=Facebook Import/Export
Name[km]=នាំចេញ/នាំចូល Facebook
Name[nb]=Facebook-inport/eksport
Name[nds]=Facebook im- un exporteren
Name[nl]=Facebook-import/export
Name[pa]=ਫੇਸਬੁੱਕ ਇੰਪੋਰਟਰ/ਐਕਸਪੋਟਰ
Name[pt]=Importação/Exportação para o Facebook
Name[pt_BR]=Importar/exportar para o Facebook
Name[sk]=Facebook import/export
Name[sv]=Facebook import och export
Name[tr]=Facebook İçeriye/Dışarıya Aktar
Name[uk]=Імпорт/Експорт до Facebook
Name[x-test]=xxFacebook Import/Exportxx
Name[zh_CN]=Facebook 导入/导出
Comment=A tool to import/export images to/from a remote Facebook web service
Comment[bg]=Инструмент за внасяне и изнасяне на изображения към и от отдалечена уеб-услуга Facebook
Comment[ca]=Una eina per a importar/exportar imatges a un servei web remot Facebook
Comment[cs]=Nástroj pro import/export obrázků z/do vzdálené webové služby Facebook
Comment[da]=Et værktøj til at importere/eksportere billeder fra/til en ekstern Facebook-webtjeneste
Comment[de]=Ein Werkzeug, um Bilder zu dem Facebook-Web-Service zu im bzw. exportieren.
Comment[el]=Ένα εργαλείο για την εισαγωγή/εξαγωγή εικόνων από/σε μια υπηρεσία ιστού Facebook
Comment[en_GB]=A tool to import/export images to/from a remote Facebook web service
Comment[es]=Una herramienta para importar/exportar imágenes al servicio web remoto de Facebook
Comment[et]=Tööriist piltide importimiseks/eksportimiseks Facebooki veebiteenusest/veebiteenusesse
Comment[gl]=Unha ferramenta para importar ou exportar imaxes a un servizo web Facebook remoto
Comment[it]=Uno strumento per importare ed esportare immagini da e al servizio Web remoto Facebook
Comment[ja]=画像を Facebook ウェブサービスにエクスポート/からインポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ/នាំចូល​​រូបភាព​ទៅ/ពីសេវា​បណ្ដាញ​របស់ Facebook ពី​ចម្ងាយ
Comment[nb]=Et verktøy for å importere/eksportere bilder til/fra en fjern Facebook-nettjeneste
Comment[nds]=En Warktüüch, mit dat sik Biller na/vun en feern Facebook-Nettdeenst im- un exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen van/naar een Facebook-webservice te im/exporteren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਰਿਮੋਟ ਫੇਸਬੁੱਕ ਵੈੱਬ ਸਰਵਿਸ ਵੱਲ/ਵਲੋਂ ਲੈਣ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para importar/exportar imagens para o serviço Web remoto do Facebook
Comment[pt_BR]=Uma ferramenta para importar/exportar imagens para um serviço da Internet remoto Facebook
Comment[sk]=Nástroj na import a export obrzákov do a z Facebook-u
Comment[sv]=Ett verktyg för att importera bilder från eller exportera bilder till en Facebook fjärrwebbtjänst
Comment[tr]=Resimleri uzak bir Facebook web hizmetine aktarmak ve oradan almak için bir araç
Comment[uk]=Інструмент для імпорту/експорту зображень до/з віддаленої веб-служби Facebook
Comment[x-test]=xxA tool to import/export images to/from a remote Facebook web servicexx
Comment[zh_CN]=一个将图像从远程 Facebook 网络服务导入/导出到远程 Facebook 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_facebook
author=Luka Renko, lure@kubuntu.org
