[Desktop Entry]
Encoding=UTF-8
Name=Facebook Import/Export
Name[x-test]=xxFacebook Import/Exportxx
Comment=A tool to import/export images to/from a remote Facebook web service
Comment[x-test]=xxA tool to import/export images to/from a remote Facebook web servicexx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_facebook
Icon=facebook
X-KIPI-Mimetypes=image/png,image/jpg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
author=Luka Renko, lure@kubuntu.org
