[Desktop Entry]
Encoding=UTF-8
Name=Facebook Import/Export
Comment=A tool to import/export images to/from a remote Facebook web service
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_fb
author=Luka Renko, lure@kubuntu.org
