[Desktop Entry]
Encoding=UTF-8
Name=Photo Layouts Editor
Name[nl]=Foto-indelingbewerker
Name[pt]=Editor de Formatos de Fotografias
Name[pt_BR]=Editor de formatos de fotos
Name[sv]=Fotolayouteditor
Name[uk]=Редактор компонування фотографій
Name[x-test]=xxPhoto Layouts Editorxx
Comment=Photo layouts management tool
Comment[nl]=Foto-indelingenbeheerder
Comment[pt]=Ferramenta de gestão de formatos de fotografias
Comment[pt_BR]=Ferramenta de gerenciamento de formatos de fotos
Comment[sv]=Hanteringsverktyg för fotolayout
Comment[uk]=Інструмент керування фотокомпозиціями
Comment[x-test]=xxPhoto layouts management toolxx
Icon=photolayoutseditor
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_photolayoutseditor
author=Łukasz Spas, lukasz dot spas at gmail dot com
