# KDE Config File

[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;Photography;
Exec=photolayoutseditor
Icon=photolayoutseditor
Name=Photo Layouts Editor
Name[ca]=Editor de presentacions de foto
Name[ca@valencia]=Editor de formats de foto
Name[cs]=Editor rozvržení snímků
Name[da]=Editor til fotolayout
Name[de]=Fotolayout-Editor
Name[el]=Επεξεργαστής διατάξεων φωτογραφιών
Name[es]=Editor de formatos de fotos
Name[et]=Fotode paigutusredaktor
Name[gl]=Editor das disposicións das fotos
Name[it]=Editor di impaginazioni di foto
Name[nb]=Fotoutleggsredigerer
Name[nl]=Foto-indelingbewerker
Name[pl]=Edytor układów zdjęć
Name[pt]=Editor de Formatos de Fotografias
Name[pt_BR]=Editor de formatos de fotos
Name[sv]=Fotolayouteditor
Name[uk]=Редактор компонування фотографій
Name[x-test]=xxPhoto Layouts Editorxx
Name[zh_TW]=相片佈局編輯器
GenericName=Photo layouts management program
GenericName[ca]=Programa de gestió de presentacions de foto
GenericName[ca@valencia]=Programa de gestió de formats de foto
GenericName[cs]=Program pro správu rozvržení snímků
GenericName[da]=Program til håndtering af fotolayout
GenericName[el]=Πρόγραμμα διαχείρισης διατάξεων φωτογραφιών
GenericName[es]=Programa de gestión de formatos de fotos
GenericName[et]=Fotode paigutuse haldur
GenericName[gl]=Programa de xestión de disposición de fotos
GenericName[it]=Programma di impaginazione di foto
GenericName[nb]=Program for å behandle foto-utforminger
GenericName[nl]=Foto-indelingbeheerprogramma
GenericName[pl]=Program zarządzania układami zdjęć
GenericName[pt]=Programa de gestão de formatos de fotografias
GenericName[pt_BR]=Programa de gerenciamento de formatos de fotos
GenericName[sv]=Hanteringsprogram för fotolayout
GenericName[uk]=Програма для керування фотокомпозиціями
GenericName[x-test]=xxPhoto layouts management programxx
GenericName[zh_TW]=相片佈局管理程式
Comment=Create beautiful and professional photo layouts from your photos
Comment[ca]=Crea presentacions de foto boniques i professionals a partir de les vostres fotos
Comment[ca@valencia]=Crea formats de foto bonics i professionals a partir de les vostres fotos
Comment[cs]=Vytváří nádherné a profesionální rozvržení snímků z vašich fotografií
Comment[da]=Lav smukke og professionelle fotolayout af dine fotos
Comment[el]=Δημιουργήστε όμορφες και επαγγελματικές διατάξεις φωτογραφιών από τις φωτογραφίες σας.
Comment[es]=Crea formatos de fotos bonitos y profesionales desde sus fotos
Comment[et]=Kenasti ja professionaalselt paigutatud fotokollaažide loomine
Comment[gl]=Crear disposicións de fotos lindas e profesionais a partir das súas fotos
Comment[it]=Crea impaginazioni belle e professionali con le tue foto
Comment[nb]=Lag vakre og profesjonelle foto-utlegg av bildene dine
Comment[nl]=Mooie en professionele foto-indelingen aanmaken voor uw foto's
Comment[pl]=Twórz piękne i profesjonalne układy zdjęć ze swoich zdjęć
Comment[pt]=Criar formatos fotográficos bonitos e profissionais a partir das suas fotos
Comment[pt_BR]=Cria formatos de fotográficos bonitos e profissionais a partir das suas fotos
Comment[sv]=Skapa vackra och professionella fotolayouter för dina foton
Comment[uk]=Створіть красиві та професійні композиції з ваших фотографій
Comment[x-test]=xxCreate beautiful and professional photo layouts from your photosxx
Comment[zh_TW]=建立美觀與專業的相片佈局
Terminal=false
