# KDE Config File

[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;Photography;
Exec=photolayoutseditor
Icon=photolayoutseditor
#X-DocPath=photolayoutseditor/index.html
Name=Photo Layouts Editor
Name[ca]=Editor de formats de foto
Name[it]=Editor di impaginazioni di foto
Name[nb]=Fotoutleggsredigerer
Name[nl]=Foto-indelingbewerker
Name[pt]=Editor de Formatos de Fotografias
Name[pt_BR]=Editor de formatos de fotos
Name[sv]=Fotolayouteditor
Name[uk]=Редактор компонування фотографій
Name[x-test]=xxPhoto Layouts Editorxx
Name[zh_TW]=相片佈局編輯器
GenericName=Photo layouts management program
GenericName[ca]=Programa de gestió de formats de foto
GenericName[it]=Programma di impaginazione di foto
GenericName[nb]=Program for å behandle foto-utforminger
GenericName[nl]=Foto-indelingbeheerprogramma
GenericName[pt]=Programa de gestão de formatos de fotografias
GenericName[pt_BR]=Programa de gerenciamento de formatos de fotos
GenericName[sv]=Hanteringsprogram för fotolayout
GenericName[uk]=Програма для керування фотокомпозиціями
GenericName[x-test]=xxPhoto layouts management programxx
GenericName[zh_TW]=相片佈局管理程式
Comment=Create beautiful and professional photo layouts from your photos
Comment[ca]=Crea formats de foto bonics i professionals a partir de les vostres fotos
Comment[it]=Crea impaginazioni belle e professionali con le tue foto
Comment[nb]=Lag vakre og profesjonelle foto-utlegg av bildene dine
Comment[nl]=Mooie en professionele foto-indelingen aanmaken voor uw foto's
Comment[pt]=Criar formatos fotográficos bonitos e profissionais a partir das suas fotos
Comment[pt_BR]=Cria formatos de fotográficos bonitos e profissionais a partir das suas fotos
Comment[sv]=Skapa vackra och professionella fotolayouter för dina foton
Comment[uk]=Створіть красиві та професійні композиції з ваших фотографій
Comment[x-test]=xxCreate beautiful and professional photo layouts from your photosxx
Comment[zh_TW]=建立美觀與專業的相片佈局
Terminal=false
