# KDE Config File

[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;Photography;
Exec=photolayoutseditor
Icon=photolayoutseditor
#X-DocPath=photolayoutseditor/index.html
Name=Photo Layouts Editor
Name[nl]=Foto-indelingbewerker
Name[pt]=Editor de Formatos de Fotografias
Name[sv]=Fotolayouteditor
Name[uk]=Редактор компонування фотографій
Name[x-test]=xxPhoto Layouts Editorxx
GenericName=Photo layouts management program
GenericName[nl]=Foto-indelingbeheerprogramma
GenericName[pt]=Programa de gestão de formatos de fotografias
GenericName[sv]=Hanteringsprogram för fotolayout
GenericName[uk]=Програма для керування фотокомпозиціями
GenericName[x-test]=xxPhoto layouts management programxx
Comment=Create beautiful and professional photo layouts from your photos
Comment[nl]=Mooie en professionele foto-indelingen aanmaken voor uw foto's
Comment[pt]=Criar formatos fotográficos bonitos e profissionais a partir das suas fotos
Comment[sv]=Skapa vackra och professionella fotolayouter för dina foton
Comment[uk]=Створіть красиві та професійні композиції з ваших фотографій
Comment[x-test]=xxCreate beautiful and professional photo layouts from your photosxx
Terminal=false
