[Desktop Entry]
Name=Frames
Name[x-test]=xxFramesxx
Comment=A frame theme
Comment[x-test]=xxA frame themexx

[X-HTMLExport Author]
Name=Ruediger Bente
Name[x-test]=xxRuediger Bentexx
Url=mailto:ruediger.bente@gmx.de

[X-HTMLExport Preview]
Name=Frames
Name[x-test]=xxFramesxx
Url=preview.png
