[Desktop Entry]
Name=Frames
Name[de]=Rahmen
Name[el]=Καρέ
Name[es]=Marcos
Name[et]=Raamid
Name[is]=Rammar
Name[it]=Riquadri
Name[ja]=フレーム
Name[nds]=Rahmens
Name[pt]=Molduras
Name[pt_BR]=Molduras
Name[sv]=Ramar
Comment=A frame theme
Comment[ca]=Un tema de marcs
Comment[de]=Ein Rahmen-Stil
Comment[el]=Ένα θέμα καρέ
Comment[es]=Un tema con marcos
Comment[et]=Raamiteema
Comment[fr]=Un thème avec frame
Comment[is]=Þema með römmum
Comment[it]=Un tema a riquadri
Comment[ja]=フレームテーマ
Comment[nds]=En Rahmen-Muster
Comment[nl]=Een frame-thema
Comment[pt]=Um tema de molduras
Comment[pt_BR]=Um tema de molduras
Comment[sv]=Ett tema med ramar

[X-HTMLExport Author]
Name=Ruediger Bente
Name[nds]=Rüdiger Bente
Url=mailto:ruediger.bente@gmx.de
