[Desktop Entry]
Name=Frames
Name[de]=Spalten
Comment=A frame theme
Comment[de]=Ein einfacher Framestil

[X-HTMLExport Author]
Name=Ruediger Bente
Name[de]=Rüdiger Bente
Url=mailto:ruediger.bente@gmx.de
