[Desktop Entry]
Encoding=UTF-8
Name=Debian Screenshots Export
Name[ca]=Exportació a Debian Screenshots
Name[en_GB]=Debian Screenshots Export
Name[it]=Esportazione delle schermate di Debian
Name[nl]=Debian schermafdrukken exporteren
Name[pt]=Exportação para as Imagens da Debian
Name[pt_BR]=Exportar para o Debian Screenshots
Name[ru]=Экспорт в снимки экрана Debian
Name[sv]=Exportera skärmbilder för Debian
Name[uk]=Експортування до знімків Debian
Name[x-test]=xxDebian Screenshots Exportxx
Name[zh_TW]=Debian Screenshots 匯出
Comment=A tool to export images to the Debian Screenshots site
Comment[ca]=Una eina per a exportar imatges al lloc web de Debian Screenshots
Comment[en_GB]=A tool to export images to the Debian Screenshots site
Comment[it]=Uno strumento per esportare immagini al sito delle schermate di Debian
Comment[nl]=Een hulpmiddel om afbeeldingen te exporteren naar de Debian site voor schermafdrukken
Comment[pt]=Uma ferramenta para exportar imagens para a página de Imagens da Debian
Comment[pt_BR]=Uma ferramenta para exportar imagens para o site Debian Screenshots
Comment[ru]=Инструмент для экспорта изображений на сайт снимков экрана Debian
Comment[sv]=Ett verktyg för att exportera bilder till Debian Skärmbilder
Comment[uk]=Інструмент для експортування зображень до сховища знімків вікон Debian
Comment[x-test]=xxA tool to export images to the Debian Screenshots sitexx
Comment[zh_TW]=匯出影像到 Debian Screenshots 網站的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_debianscreenshots
Icon=debian
X-KIPI-Mimetypes=image/png,image/jpg
X-KIPI-Interfaces=org.kde.kipi.ExportPlugin
author=Pau Garcia i Quiles, pgquiles@elpauer.org
