[Desktop Entry]
Encoding=UTF-8
Name=SmugMug Import/Export
Name[de]=SmugMug-Export
Name[el]=Εξαγωγέας SmugMug
Name[et]=SmugMugi eksportija
Name[fr]=Exportation SmugMug
Name[gl]=Exportador a SmugMug
Name[it]=Esportazione a SmugMug
Name[km]=កម្មវិធី​នាំចូល SmugMug
Name[nds]=SmugMug-Exporteren
Name[nl]=SmugMug-exporteur
Name[pa]=ਸਮੱਗਮੱਗ ਐਕਸਪੋਰਟਰ
Name[pt]=Exportação para o SmugMug
Name[pt_BR]=Exportar para o SmugMug
Name[sv]=Export till SmugMug
Name[tr]=SmugMug Aktarıcısı
Name[uk]=Інструмент експорту до SmugMug
Name[x-test]=xxSmugMug Exporterxx
Name[zh_CN]=SmugMug 导出
Comment=A tool to import/export images to/from a remote SmugMug web service
Comment[ca]=Una eina per a exportar imatges a un servei web remot SmugMug
Comment[da]=Et værktøj til at eksportere billeder til en ekstern SmugMug-webtjeneste
Comment[de]=Ein Werkzeug, um Bilder zu einem SmugMug-Web-Service zu exportieren.
Comment[el]=Ένα εργαλείο για την εξαγωγή εικόνων σε μια υπηρεσία ιστού SmugMug
Comment[et]=Tööriist piltide eksportimiseks SmugMugi veebiteenusesse
Comment[fr]=Outil pour exporter les images le service en ligne SmugMug
Comment[gl]=Unha utilidade para exportar imaxes a un servizo web SmugMug remoto
Comment[it]=Uno strumento per esportare immagini al servizio Web SmugMug
Comment[ja]=画像を SmugMug ウェブサービスにエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​សេវា​បណ្ដាញ SmugMug ពី​ចម្ងាយ
Comment[nds]=En Warktüüch, mit dat sik Biller na en SmugMug-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een SmugMug-webservice te exporteren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਰਿਮੋਟ SmugMug ਵੈੱਬ ਸਰਵਿਸ ਉੱਤੇ ਐਕਸਪੋਰਟ ਕਰਨ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do SmugMug
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet remoto SmugMug
Comment[sv]=Ett verktyg för att exportera bilder till en SmugMug fjärrwebbtjänst
Comment[tr]=Resimleri uzak bir SmugMug web servisine aktarmak için bir araç
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби SmugMug
Comment[x-test]=xxA tool to export images to a remote SmugMug web servicexx
Comment[zh_CN]=一个将图像导出到 SmugMug 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_smug
author=Luka Renko, lure@kubuntu.org
