[Desktop Entry]
Encoding=UTF-8
Name=SmugMug Import/Export
Name[x-test]=xxSmugMug Import/Exportxx
Comment=A tool to import/export images to/from a remote SmugMug web service
Comment[x-test]=xxA tool to import/export images to/from a remote SmugMug web servicexx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_smug
author=Luka Renko, lure@kubuntu.org
