[Desktop Entry]
Encoding=UTF-8
Name=SmugMug Import/Export
Name[bg]=Внасяне и изнасяне от и към SmugMug
Name[ca]=SmugMug Import/Export
Name[cs]=SmugMug Import/Export
Name[da]=SmugMug import/eksport
Name[de]=SmugMug-Import/Export
Name[el]=Εισαγωγέας/εξαγωγέας SmugMug
Name[en_GB]=SmugMug Import/Export
Name[es]=Importar/Exportar a SmugMug 
Name[et]=SmugMugi import/eksport
Name[ga]=Iompórtáil/Easpórtáil SmugMug
Name[gl]=Importación/Exportación a SmugMug
Name[is]=SmugMug Inn/Útflutningur
Name[it]=Importazione ed esportazione a SmugMug
Name[ja]=SmugMug Import/Export
Name[km]=នាំចូល/នាំចេញ SmugMug
Name[nb]=SmugMug-import/eksport
Name[nds]=SmugMug-Im- un Export
Name[nl]=SmugMug-importeren/exporteren
Name[pa]=ਸਮੱਗਮੱਗ ਇੰਪੋਰਟ/ਐਕਸਪੋਰਟ
Name[pt]=Importação/Exportação para o SmugMug
Name[pt_BR]=Exportar/importar para o SmugMug
Name[sk]=SmugMug import a export
Name[sv]=SmugMug import och export
Name[th]=นำเข้า/ส่งออก ไปยังบริการ SmugMug
Name[tr]=SmugMug İçeriye/Dışarıya Aktar
Name[uk]=Інструмент імпорту/експорту до SmugMug
Name[x-test]=xxSmugMug Import/Exportxx
Name[zh_CN]=SmugMug 导入/导出
Comment=A tool to import/export images to/from a remote SmugMug web service
Comment[bg]=Инструмент за внасяне и изнасяне на изображения от и към отдалечена уеб-услуга SmugMug
Comment[ca]=Una eina per a importar/exportar imatges a un servei web remot SmugMug
Comment[cs]=Nástroj pro import/export obrázků z/do webové služby SmugMug
Comment[da]=Et værktøj til at importere/eksportere billeder fra/til en ekstern SmugMug-webtjeneste
Comment[de]=Ein Werkzeug, um Bilder zu/von einem SmugMug-Web-Service zu ex-/importieren.
Comment[el]=Ένα εργαλείο για την εισαγωγή/εξαγωγή εικόνων σε/προς μια υπηρεσία ιστού SmugMug
Comment[en_GB]=A tool to import/export images to/from a remote SmugMug web service
Comment[es]=Una herramienta para exportar las imágenes al servicio web remoto de SmugMug
Comment[et]=Tööriist piltide importimiseks/eksportimiseks SmugMugi veebiteenusest/veebiteenusesse
Comment[ga]=Uirlis a iompórtálann/easpórtálann íomhánna ó/go seirbhís Ghréasáin SmugMug
Comment[gl]=Unha ferramenta para importar ou exportar imaxes a un servizo web SmugMug remoto
Comment[it]=Uno strumento per importare ed esportare immagini da e al servizio Web SmugMug
Comment[ja]=画像を SmugMug ウェブサービスにエクスポート/からインポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចូល/នាំចេញ​រូបភាព​ទៅ​/ពី​សេវា​បណ្ដាញ SmugMug ពីចម្ងាយ
Comment[nb]=Et verktøy for å importere/eksportere bilder til/fra en fjern SmugMug-nettjeneste
Comment[nds]=En Warktüüch, mit dat sik Biller vun oder na en SmugMug-Nettdeenst im- oder exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar/van een SmugMug-webservice te ex/importeren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਰਿਮੋਟ SmugMug ਵੈੱਬ ਸਰਵਿਸ ਉੱਤੇ ਇੰਪੋਰਟ/ਐਕਸਪੋਰਟ ਕਰਨ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para importar/exportar imagens para o serviço Web remoto do SmugMug
Comment[pt_BR]=Uma ferramenta para exportar/importar imagens para um serviço da Internet remoto SmugMug
Comment[sk]=Nástroj na import a export obrázkov z a do SmugMug
Comment[sv]=Ett verktyg för att exportera bilder till och importera bilder från en SmugMug fjärrwebbtjänst
Comment[th]=เครื่องมือในการนำเข้า/ส่งออกภาพ จาก/ไปยัง บริการเว็บ SmugMug
Comment[tr]=Resimleri uzak bir SmugMug web servisine aktarmak  ve oradan almak için bir araç
Comment[uk]=Інструмент для імпорту/експорту зображень до віддаленої веб-служби SmugMug
Comment[x-test]=xxA tool to import/export images to/from a remote SmugMug web servicexx
Comment[zh_CN]=一个将图像从 SmugMug 网络服务导入/导出到 SmugMug 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_smug
author=Luka Renko, lure@kubuntu.org
