[Desktop Entry]
Name=KameraKlient
Name[cs]=Foto klient
Name[da]=Kameraklient
Name[es]=Cliente de cámara
Name[et]=Kaameraklient
Name[gl]=Cliente de Kamera
Name[pl]=Klient Kamera
Name[pt]=Cliente do Kamera
Name[pt_BR]=Cliente do Kamera
Name[sr]=Клијент за камеру
Name[sr@Latn]=Klijent za kameru
Name[sv]=Kameraklient
Name[tg]=Барномаи Камера
Name[tr]=Kameraİstemci
Name[xx]=xxKameraKlientxx
Name[zh_CN]=相机客户端
Comment=KIPI Digital Camera Interface Plugin
Comment[cs]=KIPI modul rozhraní pro připojení fotoaparátu
Comment[da]=KIPI-plugin: Grænseflade til digitalkamera
Comment[de]=Ein KIPI-Modul zur Bereitstellung einer Kameraschnittstelle
Comment[el]=Πρόσθετο του KIPI για σύνδεση ψηφιακής φωτογραφικής
Comment[es]=Extensión de KIPI para interfaz de cámara digital
Comment[et]=KIPI digikaamera liidese plugin
Comment[fr]=Module externe KIPI pour accéder à un appareil photo numérique
Comment[gl]=Plugin de KIPI de Interface con Cámaras Dixitais
Comment[it]=Plugin di interfaccia alle fotocamere digitali di KIPI
Comment[ja]=KIPI デジタルカメラインターフェイスプラグイン
Comment[nl]=KIPI-plugin voor de digitale camera-interface
Comment[pa]=KIPI ਡਿਜ਼ੀਟਲ ਕੈਮਰਾ ਇੰਟਰਫੇਸ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Interfejs kamery cyfrowej
Comment[pt]='Plugin' do KIPI de Interface com Máquinas Digitais
Comment[pt_BR]='Plugin' do KIPI de Interface com Máquinas Digitais
Comment[sr]=KIPI прикључак интерфејса за дигитални фотоапарат
Comment[sr@Latn]=KIPI priključak interfejsa za digitalni fotoaparat
Comment[sv]=KIPI-insticksprogram: Gränssnitt till digitalkamera
Comment[tg]=Модули интерфейси камераи рақамӣ
Comment[tr]=KIPI Dijital Kamera Arayüz Eklentisi
Comment[xx]=xxKIPI Digital Camera Interface Pluginxx
Comment[zh_CN]=KIPI 数码相机接口插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_kameraklient
X-KIPI-MergeMenu=true
Encoding=UTF-8

