[Desktop Entry]
Name=KameraKlient
Comment=KIPI Digital Camera Interface Plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_kameraklient
X-KIPI-MergeMenu=true


