[Desktop Entry]
Name=Floating Cards
Name[cs]=Plovoucí kartičky
Comment=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[cs]=Tmavé téma s plovoucími kartičkami zmenšenin/popisků. Rychlá navigace galerií.

[X-HTMLExport Author]
Name=Jiří Boháč
Url=mailto:jbohac@jikos.cz
