[Desktop Entry]
Name=Floating Cards
Name[ca]=Cartes flotants
Name[da]=Flydende kort
Name[en_GB]=Floating Cards
Name[et]=Hõljuvad kaardid
Name[gl]=Tarxetas flutuantes
Name[is]=Flotspjöld
Name[it]=Carte svolazzanti
Name[nb]=Flytende kort
Name[nl]=Drijvende kaarten
Name[pt]=Cartas Flutuantes
Name[pt_BR]=Cartas flutuantes
Name[sv]=Svävande kort
Name[uk]=Картки, що плавають
Name[x-test]=xxFloating Cardsxx
Name[zh_TW]=紙牌浮空
Comment=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[ca]=Un tema fosc amb cartes de miniatures/descripcions flotants. Navegació ràpida per la galeria.
Comment[da]=Et mørkt tema med flydende kort med miniaturer/beskrivelse. Hurtig navigation gennem galleriet.
Comment[en_GB]=A dark theme with floating thumbnail/description cards. Fast navigation through the gallery.
Comment[et]=Tume teema hõljuvate pisipildi/kirjelduskaartidega. Kiire liikumine galeriis.
Comment[gl]=Un tema escuro con tarxetas de miniatura/descrición flutuantes. Navegación rápida pola galería.
Comment[is]=Dökkt þema með smámyndaum og lýsingum á fljótandi spjöldum. Hröð fletting í gegnum myndasafn.
Comment[it]=Un tema scuro con carte descrittive e miniature svolazzanti. Navigazione veloce nella galleria.
Comment[nb]=Et mørkt tema med flytende kort med minibilder/beskrivelser. Rask navigering gjennom galleriet.
Comment[nl]=Een donket thema met drijvende miniatuur/beschrijvingskaarten. Snelle navigatie door de galerij.
Comment[pt]=Um tema escuro com cartões com miniaturas/descrições. Navegação rápida pela galeria.
Comment[pt_BR]=Um tema escuro com cartas de miniatura/descrição flutuantes. Navegação rápida pela galeria.
Comment[sv]=Ett mörkt tema med svävande miniatyrbilder och beskrivningar. Snabb navigering genom galleriet.
Comment[uk]=Темна тема з картками мініатюр або описів, що неначебто плавають панеллю. Пришвидшує орієнтування у галереї.
Comment[x-test]=xxA dark theme with floating thumbnail/description cards. Fast navigation through the gallery.xx
Comment[zh_TW]=使用浮空縮圖/描述卡的暗色主題。快速瀏覽藝廊。

[X-HTMLExport Author]
Name=Jiří Boháč
Name[ast]=Jiří Boháč
Name[ca]=Jiří Boháč
Name[cs]=Jiří Boháč
Name[da]=Jiří Boháč
Name[de]=Jiří Boháč
Name[en_GB]=Jiří Boháč
Name[et]=Jiří Boháč
Name[gl]=Jiří Boháč
Name[is]=Jiří Boháč
Name[it]=Jiří Boháč
Name[nb]=Jiří Boháč
Name[nl]=Jiří Boháč
Name[pt]=Jiří Boháč
Name[pt_BR]=Jiří Boháč
Name[sv]=Jiří Boháč
Name[uk]=Jiří Boháč
Name[x-test]=xxJiří Boháčxx
Name[zh_CN]=Jiří Boháč
Name[zh_TW]=Jiří Boháč
Url=mailto:jbohac@jikos.cz
