[Desktop Entry]
Encoding=UTF-8
Name=SimpleViewer
Name[es]=Visor simple
Name[fr]=Visionneuse simple d'images
Name[ga]=AmharcánSimplí
Name[he]=מציג פשוט
Name[km]=កម្មវិធី​មើល​ធម្មតា
Name[lv]=VienkāršsSkatītājs
Name[nds]=Eenfachkieker
Name[nl]=Eenvoudige viewer
Name[pa]=ਸਧਾਰਨ-ਦਰਸ਼ਕ
Name[pt]=Visualizador Simples
Name[pt_BR]=Visualizador simples
Name[ro]=VizualizatorSimplu
Name[sv]=Enkel visning
Name[th]=แสดงภาพอย่างง่าย
Name[x-test]=xxSimpleViewerxx
Name[zh_CN]=简易查看器
Comment=A tool to export images to Flash
Comment[da]=Et værktøj til at eksportere billeder til Flash
Comment[de]=Ein Werkzeug, um Bilder nach Flash zu exportieren.
Comment[el]=Ένα εργαλείο εξαγωγής εικόνων σε Flash
Comment[gl]=Unha utilidade para exportar imaxes a Flash
Comment[he]=כלי ליצוא תמונות לפלאש
Comment[it]=Uno strumento per esportare immagini a Flash
Comment[ja]=画像を Flash にエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំរូបភាព​ចេញ​ទៅ Flash
Comment[lv]=Rīks attēlu eksportēšanai Flash formātā
Comment[nds]=En Warktüüch, mit dat sik Biller na't Flash-Formaat wanneln laat
Comment[nl]=Een hulpmiddel voor het exporteren van afbeeldingen naar Flash
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਫਲੈਸ਼ ਲਈ ਐਕਸਪੋਰਟ ਕਰਨ ਲਈ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para Flash
Comment[pt_BR]=Uma ferramenta para exportar imagens para Flash
Comment[sv]=Ett verktyg för att exportera bilder till Flash
Comment[uk]=Інструмент для експортування зображень до Flash
Comment[x-test]=xxA tool to export images to Flashxx
Comment[zh_CN]=一个将图像导出为 Flash 的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_simpleviewer
author=Gilles Caulier, caulier dot gilles at gmail dot com
