[Desktop Entry]
Encoding=UTF-8
Name=SimpleViewer
Name[es]=Visor simple
Name[fr]=Visionneuse simple d'images
Name[ga]=AmharcánSimplí
Name[km]=កម្មវិធី​មើល​ធម្មតា
Name[nds]=Eenfachkieker
Name[nl]=Eenvoudige viewer
Name[pt]=Visualizador Simples
Name[pt_BR]=Visualizador Simples
Name[ro]=VizualizatorSimplu
Name[sv]=Enkel visning
Name[th]=แสดงภาพอย่างง่าย
Name[x-test]=xxSimpleViewerxx
Name[zh_CN]=简易查看器
Comment=KIPI Flash Export Plugin
Comment[ca]=Connector d'exportació a Flash del KIPI
Comment[de]=KIPI-Modul für Flash-Export
Comment[el]=Πρόσθετο εξαγωγής Flash του KIPI
Comment[es]=Complemento de KIPI para exportación a Flash
Comment[et]=KIPI Flashi ekspordi plugin
Comment[fr]=Module externe KIPI d'export Flash
Comment[ga]=Breiseán Easpórtála Flash KIPI
Comment[gl]=Extensión de KIPI para exportar a Flash
Comment[it]=Plugin per l'esportazione a Flash di KIPI
Comment[ja]=Kipi Flash エクスポートプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​នាំចេញ​ KIPI Flash
Comment[lv]=KIPI flash eksportēšanas spraudnis
Comment[nb]=KIPI programtillegg for eksport til Flash
Comment[nds]=KIPI-Moduul för't Exporteren vun Flash
Comment[nl]=KIPI-plugin voor exporteren naar Flash
Comment[pt]='Plugin' de Exportação de Flash do KIPI
Comment[pt_BR]='Plugin' de Exportação de Flash do KIPI
Comment[sv]=KIPI-insticksprogram för export till Flash
Comment[th]=ปลั๊กอินส่งออกเป็นแฟ้ม Flash ของ KIPI
Comment[tr]=KIPI Flash Dışarı Aktarma Eklentisi
Comment[uk]=Додаток KIPI для експорту до Flash
Comment[x-test]=xxKIPI Flash Export Pluginxx
Comment[zh_CN]=KIPI Flash 导出插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_simpleviewer
author=Gilles Caulier, caulier dot gilles at gmail dot com
