[Desktop Entry]
Encoding=UTF-8
Name=HTML Gallery
Name[br]=Garidell HTML
Name[sv]=HTML-galleri
Comment=KIPI HTML Gallery Export Plugin
Comment[cs]=KIPI modul pro export galerie obrázků
Comment[da]=KIPI-plugin: Eksport af HTML-galleri
Comment[de]=Ein KIPI-Modul zum Exportieren einer Galerie
Comment[el]=Πρόσθετο του KIPI για εξαγωγή HTML συλλογής
Comment[es]=Extensión de KIPI para exportar galerías en HTML
Comment[et]=KIPI HTML-galerii ekspordiplugin
Comment[fr]=Module externe KIPI pour créer une galerie web
Comment[gl]=Plugin de KIPI para Exportar a unha Galeria HTML
Comment[it]=Plugin di esportazione HTML di gallerie di KIPI
Comment[ja]=KIPI HTMLギャラリーエクスポートプラグイン
Comment[nl]=KIPI-plugin voor het exporteren naar HTML-afbeeldingsgalerijen
Comment[pa]=KIPI HTML ਗੈਲਰੀ ਨਿਰਯਾਤ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka KIPI - Eksport do galerii HTML
Comment[pt]='Plugin' do KIPI de Exportação para Galeria em HTML
Comment[pt_BR]='Plugin' do KIPI de Exportação para Galeria em HTML
Comment[sr]=KIPI прикључак за извоз у HTML галерију
Comment[sr@Latn]=KIPI priključak za izvoz u HTML galeriju
Comment[sv]=KIPI-insticksprogram: Export av HTML-galleri
Comment[tg]=Модули воридкунандаи намоишгари KIPI HTML
Comment[tr]=KIPI HTML Galeri Aktarma Eklentisi
Comment[xx]=xxKIPI HTML Gallery Export Pluginxx
Comment[zh_CN]=KIPI HTML 图库导出插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_htmlexport
