[Desktop Entry]
Encoding=UTF-8
Name=HTML Gallery
Name[el]=Συλλογή HTML
Comment=KIPI HTML Gallery Export Plugin
Comment[el]=Πρόσθετο του KIPI για εξαγωγή HTML συλλογής
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_htmlexport
