[Desktop Entry]
Encoding=UTF-8
Name=HTML Gallery
Name[br]=Garidell HTML
Name[cs]=HTML galerie obrázků
Name[da]=HTML-galleri
Name[de]=HTML-Galerie
Name[el]=Συλλογή HTML
Name[es]=Galería HTML
Name[et]=HTML-galerii
Name[fi]=HTML-galleria
Name[ga]=Gailearaí HTML
Name[gl]=Galeria HTML
Name[it]=Galleria HTML
Name[ja]=HTML ギャラリー
Name[nds]=HTML-Galerie
Name[nl]=Webgalerij
Name[pa]=HTML ਗੈਲਰੀ
Name[pl]=Galeria HTML
Name[pt]=Galeria em HTML
Name[sr]=HTML галерија
Name[sr@Latn]=HTML galerija
Name[sv]=HTML-galleri
Name[zh_CN]=HTML 图库
Comment=KIPI HTML Gallery Export Plugin
Comment[ca]=Connector del KIPI exportar una galeria a HTML
Comment[cs]=KIPI modul pro export galerie obrázků
Comment[da]=KIPI-plugin: Eksport af HTML-galleri
Comment[de]=Ein KIPI-Modul zum Exportieren einer Galerie
Comment[el]=Πρόσθετο του KIPI για εξαγωγή HTML συλλογής
Comment[es]=Extensión de KIPI para exportar galerías en HTML
Comment[et]=KIPI HTML-galerii ekspordiplugin
Comment[fi]=Kipi-liitännäinen webbigallerian luontia varten
Comment[fr]=Module externe KIPI pour créer une galerie web
Comment[gl]=Plugin de KIPI para Exportar a unha Galeria HTML
Comment[is]=KIPI íforrit fyrir HTML-útflutning í á vef
Comment[it]=Plugin di esportazione HTML di gallerie di KIPI
Comment[ja]=Kipi HTML ギャラリーエクスポートプラグイン
Comment[nds]=KIPI-Moduul för't Exporteren vun en HTML-Galerie
Comment[nl]=KIPI-plugin voor het exporteren naar HTML-afbeeldingsgalerijen
Comment[pa]=KIPI HTML ਗੈਲਰੀ ਨਿਰਯਾਤ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Eksport do galerii HTML
Comment[pt]='Plugin' do KIPI de Exportação para Galeria em HTML
Comment[pt_BR]=Plugin para exportação de galeria HTML do KIPI
Comment[sr]=KIPI прикључак за извоз у HTML галерију
Comment[sr@Latn]=KIPI priključak za izvoz u HTML galeriju
Comment[sv]=KIPI-insticksprogram: Export av HTML-galleri
Comment[tg]=Модули воридкунандаи намоишгари KIPI HTML
Comment[tr]=KIPI HTML Galeri Aktarma Eklentisi
Comment[zh_CN]=KIPI HTML 图库导出插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_htmlexport
