[Desktop Entry]
Encoding=UTF-8
Name=Yandex.Fotki Exporter
Comment=A tool to export images to a remote Yandex.Fotki web service
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_yandexfotki
author=Roman Tsisyk, roman@tsisyk.com
