[Desktop Entry]
Encoding=UTF-8
Name=Yandex.Fotki Exporter
Name[ast]=Esportador Yandex.Fotki
Name[bg]=Изнасяне към Yandex.Fotki
Name[ca]=Yandex.Fotki Exporter
Name[ca@valencia]=Yandex.Fotki Exporter
Name[cs]=Yandex.Fotki Exportér
Name[da]=Yandex.Fotki Exporter
Name[de]=Yandex.Fotki-Export
Name[el]=Εξαγωγέας Yandex.Fotki
Name[en_GB]=Yandex.Fotki Exporter
Name[es]=Exportar a Yandex.Fotki
Name[et]=Yandex.Fotkii eksport
Name[eu]=Yandex.Fotki esportatzailea
Name[fr]=Yandex.Fotki Exporter
Name[ga]=Easpórtálaí Yandex.Fotki
Name[gl]=Exportador a Yandex.Fotki
Name[he]=יצוא ל-Yandex.Fotki
Name[hne]=पिकासावेब एक्सपोर्टर
Name[is]=Yandex.Fotki útflutningur
Name[it]=Esportazione a Yandex.Fotki Web
Name[ja]=Yandex.Fotki Exporter
Name[km]=កម្មវិធី​នាំចេញ Yandex.Fotki
Name[lv]=Eksportēt uz Yandex.Fotki
Name[nb]=Eksport til Yandex.Fotki
Name[nds]=Yandex.Fotki-Exporteren
Name[nl]=Yandex.Fotki-exporter
Name[pa]=ਪਿਕਾਸਾਵੈੱਬ ਐਕਸਪੋਟਰ
Name[pt]=Exportação para o Yandex.Fotki
Name[pt_BR]=Exportar para o Yandex.Fotki
Name[ru]=Экспорт в веб-альбомы Yandex.Fotki
Name[sk]=Yandex.Fotki export
Name[sv]=Export till Yandex.Fotki
Name[th]=เครื่องมือส่งออกไปยังบริการ Yandex.Fotki
Name[tr]=Yandex.Fotki Aktarıcısı
Name[uk]=Експортер до Yandex.Fotki
Name[x-test]=xxYandex.Fotki Exporterxx
Name[zh_CN]=Yandex.Fotki 导出
Name[zh_TW]=Yandex.Fotki 匯出程式
Comment=A tool to export images to a remote Yandex.Fotki web service
Comment[ast]=Una ferramienta pa esportar imáxenes a un serviciu web remotu Yandex.Fotki
Comment[bg]=Инструмент за изнасяне на изображения към отдалечена уеб-услуга Yandex.Fotki
Comment[ca]=Una eina per a exportar imatges a un servei web remot Yandex.Fotki
Comment[ca@valencia]=Una eina per a exportar imatges a un servei web remot Yandex.Fotki
Comment[cs]=Nástroj pro export obrázků do vzdálené webové služby Yandex.Fotki
Comment[da]=Et værktøj til at eksportere billeder til en ekstern Yandex.Fotki webtjeneste
Comment[de]=Ein Werkzeug, um Bilder auf einen entfernten Yandex.Fotki-Web-Service zu exportieren.
Comment[el]=Ένα εργαλείο εξαγωγής εικόνων σε μια υπηρεσία ιστού Yandex.Fotki
Comment[en_GB]=A tool to export images to a remote Yandex.Fotki web service
Comment[es]=Una herramienta para exportar las imágenes al servicio web remoto de Yandex.Fotki
Comment[et]=Tööriist piltide eksportimiseks Yandex.Fotki veebiteenusesse
Comment[eu]=Urruneko Yandex.Fotki web zerbitzura irudiak esportatzeko tresna
Comment[fr]=Outil pour l'exportation vers le service en ligne Yandex.Fotki
Comment[gl]=Unha ferramenta para exportar imaxes a un servizo web Yandex.Fotki remoto
Comment[he]=כלי ליצוא תמונות לשירות רשת Yandex.Fotki מרוחק
Comment[hne]=रिमोट पिकासा वेब सेवा मं फोटू ल निर्यात करे के एक औजार
Comment[is]=Verkfæri til að senda myndir á fjarlæga Yandex.Fotki vefþjónustu
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto di Yandex.Fotki
Comment[ja]=画像を Yandex.Fotki ウェブサービスにエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​សេវា​បណ្ដាញ Yandex.Fotki ពី​ចម្ងាយ
Comment[lv]=Rīks attēlu eksportēšanai uz Yandex.Fotki tīmekļa servisu
Comment[nb]=Et verktøy for å eksportere bilder til en fjern Yandex.Fotki-nettjeneste
Comment[nds]=En Warktüüch, mit dat sik Biller na en feern Yandex.Fotki-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Yandex.Fotki-webservice te exporteren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਪਿਕਾਸਾ ਵੈੱਬ ਸਰਵਿਸ ਉੱਤੇ ਭੇਜਣ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Yandex.Fotki
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet Yandex.Fotki
Comment[ru]=Инструмент для экспорта изображений на веб-сервис Яндекс.Фотки
Comment[sk]=Nástroj na export obrázkov do Yandex.Fotki
Comment[sv]=Ett verktyg för att exportera bilder till en Yandex.Fotki fjärrwebbtjänst
Comment[th]=เครื่องมือส่งออกภาพต่าง ๆ ไปยังเว็บบริการ Yandex.Fotki ทางไกล
Comment[tr]=Resimleri uzak bir Yandex.Fotki web hizmetine aktarmak için bir araç
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби Yandex.Fotki
Comment[x-test]=xxA tool to export images to a remote Yandex.Fotki web servicexx
Comment[zh_CN]=一个将图像导出到远程 Yandex.Fotki 网络服务的工具
Comment[zh_TW]=匯出影像到遠端 Yandex.Fotki 網頁服務的工具
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_yandexfotki
author=Roman Tsisyk, roman@tsisyk.com
