[Desktop Entry]
Encoding=UTF-8
Name=Yandex.Fotki Exporter
Name[ca]=Exportador a Yandex.Fotki
Name[et]=Yandex.Fotki eksportija
Name[is]=Yandex.Fotki útflutningstól
Name[it]=Esportatore a Yandex.Fotki
Name[nb]=Yandex.Fotki eksporterer
Name[nl]=Exportprogramma van Yandex.Fotki
Name[pt]=Exportação para o Yandex.Fotki
Name[pt_BR]=Exportação para o Yandex.Fotki
Name[ro]=Exportator Yandex.Fotki
Name[ru]=Экспорт в Яндекс.Фотки
Name[sv]=Export till Yandex.Fotki
Name[uk]=Експорт до Яндекс.Фотки
Name[x-test]=xxYandex.Fotki Exporterxx
Name[zh_TW]=Yandex.Fotki 匯出器
Comment=A tool to export images to a remote Yandex.Fotki web service
Comment[ca]=Una eina per exportar imatges a un servei web remot Yandex.Fotki
Comment[et]=Tööriist piltide eksportimiseks Yandex.Fotki veebiteenusesse
Comment[is]=Verkfæri til að senda myndir á fjarlæga Yandex.Fotki vefþjónustu
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto Yandex.Fotki
Comment[nb]=Et verktøy for å eksportere bilder til en fjern Yandex.Fotki nettjeneste
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Yandex.Fotki-webservice te exporteren
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto Yandex.Fotki
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet Yandex.Fotki
Comment[ro]=O unealtă de exportat imagini pe serviciul web Yandex.Fotki
Comment[ru]=Инструмент для экспорта изображений в веб-службу Яндекс.Фотки
Comment[sv]=Ett verktyg för att exportera bilder till en Yandex.Fotki fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої служби Yandex.Fotki
Comment[x-test]=xxA tool to export images to a remote Yandex.Fotki web servicexx
Comment[zh_TW]=匯出影像到遠端 Yandex.Fotki 網頁服務的工具
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_yandexfotki
author=Roman Tsisyk, roman@tsisyk.com
