[Desktop Entry]
Encoding=UTF-8
Name=HelloWorld
Name[ca]=Hola món
Name[cs]=HelloWorld
Name[da]=HelloWorld
Name[de]=Hallo Welt
Name[el]=HelloWorld
Name[et]=TereMaailm
Name[ga]=HelloWorld
Name[it]=CiaoMondo
Name[nb]=Hallo verden
Name[nl]=HalloWereld
Name[pl]=Witaj świecie
Name[pt]=Olá Mundo
Name[pt_BR]=Olá mundo
Name[ru]=Привет мир!
Name[sv]=HelloWorld
Name[uk]=Тестовий додаток
Name[x-test]=xxHelloWorldxx
Name[zh_TW]=HelloWorld
Comment=An hello world tool
Comment[ca]=Una eina de «Hola món»
Comment[da]=Et hello world-værktøj
Comment[el]=Εργαλείο εμφάνισης μηνύματος hello world
Comment[et]=Tere, maailma töriist
Comment[it]=Uno strumento per dire ciao al mondo
Comment[nb]=Et hallo verden-verktøy
Comment[nl]=Een hallo wereld hulpmiddel
Comment[pl]=Narzędzie witania świata
Comment[pt]=Uma ferramenta do tipo 'olá mundo'
Comment[pt_BR]=Ferramenta do tipo 'olá mundo'
Comment[ru]=Тестовый инструмент 
Comment[sv]=Hello world-verktyg
Comment[uk]=Тестовий інструмент
Comment[x-test]=xxAn hello world toolxx
Comment[zh_TW]=Hello World 程式
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_helloworld
author=Gilles Caulier, caulier dot gilles at gmail dot com
X-KIPI-ReqFeatures=
