[Desktop Entry]
Encoding=UTF-8
Name=HelloWorld
Comment=A demo kipi tool
Comment=An hello world tool
Type=Service
Icon=script-error
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_helloworld
author=Gilles Caulier, caulier dot gilles at gmail dot com
X-KIPI-ReqFeatures=
