[Desktop Entry]
Encoding=UTF-8
Name=Remote Imageshack Export
Name[ca]=Exportador a Imageshack remot
Name[cs]=Export do Imageshacku
Name[da]=Eksport til ekstern Imageshack
Name[el]=Εξαγωγή σε απομακρυσμένη θέση Imageshack
Name[et]=Imageshacki võrgueksport
Name[it]=Esportazione a Imageshack
Name[nb]=Fjerneksport til Imageshack
Name[nl]=Imageshack-export op afstand
Name[pl]=Eksport do zdalnego Imageshack
Name[pt]=Exportação Remota para o Imageshack
Name[pt_BR]=Exportar para o Imageshack
Name[ru]=Экспорт в Imageshack
Name[sv]=Export till Imageshack
Name[uk]=Експорт до віддаленого сервера Imageshack
Name[x-test]=xxRemote Imageshack Exportxx
Name[zh_TW]=遠端 Imageshack 匯出
Comment=A tool to export images to a remote Imageshack
Comment[ca]=Una eina per exportar imatges a un Imageshack remot
Comment[cs]=Nástroj pro export obrázků do Imageshacku
Comment[da]=Et værktøj til at eksportere billeder til et eksternt Imageshack
Comment[el]=Εργαλείο εξαγωγής εικόνων σε μια απομακρυσμένη θέση Imageshack
Comment[et]=Tööriist piltide eksportimiseks Imageshacki võrgugaleriisse
Comment[it]=Uno strumento per esportare immagini a Imageshack
Comment[nb]=Et verktøy for å eksportere bilder til en fjern Imageshack-tjener
Comment[nl]=Een hulpmiddel om afbeeldingen te exporteren naar Imageshack op afstand
Comment[pl]=Narzędzie do eksportowania obrazów do zdalnego Imageshack
Comment[pt]=Uma ferramenta para exportar imagens para um Imageshack remoto
Comment[pt_BR]=Uma ferramenta para exportar imagens para o Imageshack
Comment[ru]=Инструмент для экспорта изображений в удалённую галерею Imageshack
Comment[sv]=Ett verktyg för att exportera bilder till Imageshack
Comment[uk]=Інструмент для експорту зображення до віддаленого сервера Imageshack
Comment[x-test]=xxA tool to export images to a remote Imageshackxx
Comment[zh_TW]=匯出影像到遠端 Imageshack 的工具
Type=Service
Icon=imageshack
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageshackexport
