[Desktop Entry]
Name=Imageshack Export
Comment=A tool to export images to Imageshack web service
Type=Service
Icon=imageshack
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageshackexport
X-KIPI-PluginCategories=Export
author=Victor Dodon, dodonvictor at gmail dot com
