[Desktop Entry]
Encoding=UTF-8
Name=Remote Imageshack Export
Name[bg]=Изнасяне към Imageshack
Name[bs]=Udaljeni Imageshack Izvoz
Name[ca]=Remote Imageshack Export
Name[ca@valencia]=Remote Imageshack Export
Name[cs]=Export na vzdálené Imageshack
Name[da]=Eksport til ekstern Imageshack
Name[el]=Εξαγωγή σε απομακρυσμένη Imageshack
Name[en_GB]=Remote Imageshack Export
Name[es]=Exportar a un Imageshack remoto
Name[et]=Imageshack eksport
Name[eu]=Urruneko Imageshack-ra esportatzea
Name[fr]=Module externe pour l'exportation vers Imageshack
Name[ga]=Easpórtáil go Imageshack Cianda
Name[gl]=Exportación remota a Imageshack
Name[is]=Samstilling við Imageshack myndasöfn
Name[it]=Esportazione remota a Imageshack
Name[km]=ការ​នាំ​ចេញ​ Imageshack ​ពី​ចម្ងាយ
Name[nb]=Imageshack-eksport til nettverket
Name[nl]=Imageshack-export op afstand
Name[pl]=Eksport do zdalnego Imageshack
Name[pt]=Exportação para um Imageshack Remoto
Name[pt_BR]=Exportar para Imageshack remoto
Name[ro]=Export către Imageshack
Name[ru]=Экспорт в Imageshack
Name[sv]=Fjärrexport till Imageshack
Name[th]=ส่งออกไปยังบริการ Imageshack ทางไกล
Name[uk]=Експорт до віддаленого ресурсу Imageshack
Name[x-test]=xxRemote Imageshack Exportxx
Name[zh_CN]=远程 Imageshack 导出
Name[zh_TW]=遠端 Imageshack 匯出
Comment=A tool to export images to a remote Imageshack
Comment[bg]=Инструмент за изнасяне на изображения към отдалечена уеб-услуга Imageshack
Comment[bs]=Alat za izvoz slika na udaljeni Imageshack
Comment[ca]=Una eina per exportar imatges al servei remot Imageshack
Comment[ca@valencia]=Una eina per exportar imatges al servei remot Imageshack
Comment[cs]=;Nástroj pro export obrázků na vzdálené Imageshack
Comment[da]=Et værktøj til at eksportere billeder til en ekstern Imageshack
Comment[el]=Εργαλείο εξαγωγής εικόνων σε μια απομακρυσμένη πινακοθήκη Imageshack
Comment[en_GB]=A tool to export images to a remote Imageshack
Comment[es]=Una herramienta para exportar imágenes a un Imageshack remoto
Comment[et]=Tööriist piltide eksportimiseks Imageshacksse
Comment[eu]=Urruneko Imageshack-ra irudiak esportatzeko tresna
Comment[fr]=Outil pour l'exportation vers Imageshack
Comment[gl]=Unha ferramenta para exportar imaxes a un Imageshack remoto
Comment[is]=Verkfæri til að senda myndir í fjarlæg Imageshack myndasöfn
Comment[it]=Uno strumento per esportare immagini a un Imageshack remoto
Comment[km]=ឧបករណ៍​សម្រាប់​នាំ​ចេញ​រូបភាព​ទៅ​កាន់​ Imageshack ពី​ចម្ងាយ
Comment[nb]=Et verktøy for å eksportere bilder til en fjern Imageshack
Comment[nl]=Een hulpmiddel om afbeeldingen te exporteren naar Imageshack op afstand
Comment[pl]=Narzędzie do eksportowania obrazów do zdalnego Imageshack
Comment[pt]=Uma ferramenta para exportar imagens para um Imageshack remoto
Comment[pt_BR]=Uma ferramenta para exportar imagens para um Imageshack remoto
Comment[ro]=O unealtă de exportat imagini către Imageshack
Comment[ru]=Инструмент для экспорта изображений в Imageshack
Comment[sv]=Ett verktyg för att fjärrexportera bilder till Imageshack
Comment[th]=เครื่องมือส่งออกภาพต่าง ๆ ไปยังบริการ Imageshack ทางไกล
Comment[uk]=Інструмент для експорту зображення до віддаленого ресурсу Imageshack
Comment[x-test]=xxA tool to export images to a remote Imageshackxx
Comment[zh_CN]=一个将图像导出到远程 Imageshack 的工具
Comment[zh_TW]=匯出影像到遠端 Imageshack 的工具
Type=Service
Icon=imageshack
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_imageshackexport
