[Desktop Entry]
Encoding=UTF-8
Name=CDArchiving
Name[da]=CD-arkivering
Name[et]=CD-le arhiveerimine
Name[it]=ArchiviazioneSuCD
Name[mt]=ArkivjuCD
Name[nb]=CD-arkivering
Name[nl]=CD-archievering
Name[pt]=ArquivoCD
Name[pt_BR]=Arquivamento em CD
Name[sv]=Cd-arkivering
Name[ta]=முப்பரிமாண பின்காப்பு
Name[tr]=CDArşivleme
Name[xx]=xxCDArchivingxx
Comment=KIPI Albums CD and DVD Archiving Plugin
Comment[da]=KIPI Albumarkivering på CD og DVD-plugin
Comment[de]=Ein KIPI Plugin zur CD und DVD Archivierung von Alben
Comment[es]=Complemento KIPI de archivado de álbumes en CD y DVD
Comment[et]=KIPI albumite CD-le ja DVD-le arhiveerimise plugin
Comment[fr]=Module externe Kipi pour l'archivage sur CD et DVD
Comment[it]=Plugin di archiviazione degli album su CD e DVD di KIPI
Comment[mt]=Plugin KIPI Għal Ħolqien Ta' Arkivji Ta' Stampi fuq CD jew DVD
Comment[nb]=KIPI Albumarkivering på CD og DVD tillegg
Comment[nl]=Kipi-plugin voor het maken van een cd/dvd-archief
Comment[pt]='Plugin' KIPI de Arquivo de Álbuns em CDs e DVDs
Comment[pt_BR]=Plugin KIPI de Arquivamento de Álbuns em CDs e DVDs
Comment[sv]=KIPI-insticksprogram: Arkivering av album på cd eller dvd
Comment[ta]=கிபி ஆல்பங்கள் முப்பரிமாணம் மற்றும் டிவிடி பின்காப்பு சொருகுப்பொருள்
Comment[tr]=KIPI Albüm CD ve DVD Arşivleme Eklentisi
Comment[xx]=xxKIPI Albums CD and DVD Archiving Pluginxx
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_cdarchiving
author=Gilles Caulier, caulier dot gilles at free.fr
