[Desktop Entry]
Encoding=UTF-8
Name=CDArchiving
Name[cs]=Archivace na CD
Name[et]=CD-le arhiveerimine
Name[it]=ArchiviazioneSuCD
Name[nl]=CD-archievering
Name[sr]=CD Архивирање
Name[sr@Latn]=CD Arhiviranje
Name[sv]=Cd-arkivering
Name[tr]=CDArşivleme
Name[zh_CN]=CD 存档
Comment=KIPI Albums CD and DVD Archiving Plugin
Comment[cs]=KIPI modul archivace alb na CD a DVD
Comment[el]=Πρόσθετο αρχειοθέτησης άλμπουμ CD και DVD του KIPI
Comment[et]=KIPI albumite CD-le ja DVD-le arhiveerimise plugin
Comment[it]=Plugin di archiviazione degli album su CD e DVD di KIPI
Comment[nl]=KIPI-plugin voor het maken van een cd/dvd-archief
Comment[sr]=KIPI прикључак за архивирање албума на CD и DVD
Comment[sr@Latn]=KIPI priključak za arhiviranje albuma na CD i DVD
Comment[sv]=KIPI-insticksprogram: Arkivering av album på cd eller dvd
Comment[tr]=KIPI Albümler CD ve DVD Arşivleme Eklentisi
Comment[zh_CN]=KIPI 相册 CD 和 DVD 存档插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_cdarchiving
author=Gilles Caulier, caulier dot gilles at free.fr
