[Desktop Entry]
Encoding=UTF-8
Name=MiscsOperations
Comment=KIPI Miscs operations Plugin
Comment[de]=Ein KIPI Modul für diverse Operationen
Comment[es]=Complemento de KIPI para diversas operaciones
Comment[fr]=Module externe de KIPI pour des opérations diverses
Comment[da]=KIPI plugin til diverse handlinger
Comment[it]=Modulo esterno di KIPI per operazioni diverse
Comment[pl]=Wtyczka do innych operacji dla programu KIPI
Comment[nl]=KIPI plugin voor verschillende handelingen
Comment[hu]=KIPI egyéb műveletek plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_miscsoperations
author=Gregory KOKANOSKY, gregory.kokanosky@free.fr
