<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui version="1" name="kipiplugin_dropbox" >

    <MenuBar>

        <Menu name="Export"><text>&amp;Export</text>
            <Action name="dropboxexport" group="kipi_export_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
