[Desktop Entry]
Encoding=UTF-8
Name=Sync
Name[el]=Συγχρονισμός
Name[pl]=Synchronizacja
Name[pt]=Sincronização
Name[pt_BR]=Sincronização
Comment=KIPI Synchronization Plugin
Comment[de]=Ein KIPI-Modul zur Synchronisation
Comment[el]=Πρόσθετο συγχρονισμού του KIPI
Comment[it]=Plugin di sincronizzazione di KIPI
Comment[ja]=Kipi 同期プラグイン
Comment[pl]=Wtyczka KIPI - Synchronizacja
Comment[pt]='Plugin' de Sincronização do KIPI
Comment[pt_BR]='Plugin' de Sincronização do KIPI
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_sync
author=Colin Guthrie, kde@colin.guthr.ie
