<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!-- NOTE: don't forget to increase version ID when this file is modified -->
<gui version="1" name="kipiplugin_rawconverter" >

    <MenuBar>

        <Menu name="Tools"><text>&amp;Tools</text>
            <Action name="raw_converter_single" group="kipi_tool_group" />
            <Action name="raw_converter_batch" group="kipi_batch_group" />
        </Menu>

    </MenuBar>

    <ToolBar name="mainToolBar"><text>Main Toolbar</text>
    </ToolBar>

</gui>
