[Desktop Entry]
Encoding=UTF-8
Name=Shwup Export
Name[en_GB]=Shwup Export
Name[pt]=Exportação para o Shwup
Name[pt_BR]=Exportar para o Shwup
Name[sv]=Export till Shwup
Name[uk]=Експорт до Shwup
Name[x-test]=xxShwup Exportxx
Comment=A tool to export images to a remote Shwup web service
Comment[en_GB]=A tool to export images to a remote Shwup web service
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Shwup
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço remoto da Internet Shwup
Comment[sv]=Ett verktyg för att exportera bilder till en Shwup fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби Shwup
Comment[x-test]=xxA tool to export images to a remote Shwup web servicexx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_shwup
author=Timothee Groleau, timothee at muvee dot com
