[Desktop Entry]
Encoding=UTF-8
Name=Shwup Export
Name[da]=Shwup-eksport
Name[de]=Shwup-Export
Name[en_GB]=Shwup Export
Name[et]=Shwupi eksport
Name[gl]=Exportador a Shwup
Name[it]=Esportazione a Shwup
Name[pt]=Exportação para o Shwup
Name[pt_BR]=Exportar para o Shwup
Name[sv]=Export till Shwup
Name[uk]=Експорт до Shwup
Name[x-test]=xxShwup Exportxx
Comment=A tool to export images to a remote Shwup web service
Comment[da]=Et værktøj til at eksportere billeder til en ekstern Shwup-webtjeneste
Comment[de]=Ein Werkzeug, um Bilder auf einen entfernten Shwup-Web-Service zu exportieren.
Comment[en_GB]=A tool to export images to a remote Shwup web service
Comment[et]=Tööriist piltide eksportimiseks Shwupi veebiteenusesse
Comment[gl]=Unha ferramenta para exportar imaxes a un servizo web Shwup remoto
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto di Shwup
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Shwup
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço remoto da Internet Shwup
Comment[sv]=Ett verktyg för att exportera bilder till en Shwup fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-служби Shwup
Comment[x-test]=xxA tool to export images to a remote Shwup web servicexx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_shwup
author=Timothée Groleau, timothee at muvee dot com
