[Desktop Entry]
Encoding=UTF-8
Name=RemoveRedEyes
Comment=KIPI Remove Red Eyes Plugin

Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_removeredeyes
author=Andi Clemens, andi dot clemens at gmx dot net
