[Desktop Entry]
Encoding=UTF-8
Name=RemoveRedEyes
Name[de]=RoteAugenEntfernen
Name[el]=Αφαίρεση κόκκινων ματιών
Name[nds]=Root Ogen richten
Name[nl]=VerwijderRodeOgen
Name[pt]=Remoção de Olhos Vermelhos
Name[pt_BR]=Remoção de Olhos Vermelhos
Name[sv]=Ta bort röda ögon
Name[zh_CN]=去除红眼
Comment=KIPI Remove Red Eyes Plugin
Comment[de]=KIPI-Modul zum Entfernen von roten Augen
Comment[el]=Πρόσθετο αφαίρεσης κόκκινων ματιών του KIPI
Comment[nds]=KIPI-Moduul för't Richten vun root Ogen
Comment[nl]=KIPI-plugin voor verwijderen van rode ogen
Comment[pt]='Plugin' de Remoção de Olhos Vermelhos do KIPI
Comment[pt_BR]='Plugin' de Remoção de Olhos Vermelhos do KIPI
Comment[sv]=KIPI-insticksprogram för att ta bort röda ögon
Comment[uk]=Додаток KIPI для вилучення ефекту «червоних очей»
Comment[zh_CN]=KIPI 去除红眼插件

Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_removeredeyes
author=Andi Clemens, andi dot clemens at gmx dot net
