[Desktop Entry]
Encoding=UTF-8
Name=Remove Red Eyes
Name[de]=Rote Augen entfernen
Name[it]=Rimozione occhi rossi
Name[ja]=赤目修正
Name[pt]=Remoção de Olhos Vermelhos
Name[pt_BR]=Remover olhos vermelhos
Name[uk]=Вилучення «Червоних очей»
Name[x-test]=xxRemove Red Eyesxx
Comment=A tool to remove red eyes automatically from images
Comment[de]=Ein Werkzeug, um rote Augen automatisch von einem Bildern zu entfernen.
Comment[it]=Uno strumento per rimuovere automaticamente gli occhi rossi nell'immagine
Comment[ja]=画像の赤目を自動的に修正するツール
Comment[pt]=Uma ferramenta para remover automaticamente os olhos vermelhos das imagens
Comment[pt_BR]=Uma ferramenta para remover automaticamente os olhos vermelhos de imagens
Comment[uk]=Інструмент для автоматичного вилучення наслідків ефекту «червоних очей» з зображень
Comment[x-test]=xxA tool to remove red eyes automatically from imagesxx

Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_removeredeyes
author=Andi Clemens, andi dot clemens at gmx dot net
