[Desktop Entry]
Comment=A tool to geolocalize pictures
Comment[ca]=Connector del KIPI per a geolocalitzar fotografies
Comment[de]=KIPI-Modul zur geographischen Zuordnung von Bildern
Comment[el]=Πρόσθετο του KIPI για γεωτοποθέτηση εικόνων
Comment[es]=Complementeo de KIPI para geolocalizar las imágenes
Comment[et]=KIPI piltide geolokatsiooni plugin
Comment[fi]=Kipi-liitännäinen kuvien maantieteelliseen paikantamiseen
Comment[fr]=Module externe KIPI pour la géo loc	alisation d'images
Comment[ga]=Breiseán KIPI do phictiúir Geolocalize
Comment[gl]=Extensión de KIPI para localizar imaxes xeograficamente
Comment[it]=Estensione di KIPI per geolocalizzare le immagini
Comment[ja]=Kipi ジオロケーションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ KIPI ដើម្បី​ធ្វើ​មូលដ្ឋានីយកម្ម​​រូបភាព​នឹង​កន្លែង
Comment[lv]=KIPI spraudnis attēlu uzņemšanas vietas norādīšanai
Comment[nb]=KIPI programtillegg for geografisk plassering
Comment[nds]=KIPI-Moduul, dat Biller Öörd towiest
Comment[nl]=KIPI-plugin voor het geolokaliseren van afbeeldingen
Comment[pt]=Um 'plugin' do KIPI para geo-localização das imagens
Comment[pt_BR]=Um 'plugin' do KIPI para geo-localização das imagens
Comment[sv]=KIPI-insticksprogram för att lokalisera bilder geografiskt
Comment[th]=ปลั๊กอินกำหนดค่าพิกัดเชิงภูมิศาสตร์ให้กับภาพของ KIPI
Comment[tr]=KIPI görüntülerin yerini belirtme eklentisi
Comment[uk]=Додаток KIPI для геолокалізації зображень
Comment[x-test]=xxA tool to geolocalize picturesxx
Comment[zh_CN]=KIPI 图片地理化插件
Encoding=UTF-8
Icon=
Name=GPSSync
Name[el]=Συγχρονισμός GPS
Name[fi]=GPS-synkronointi
Name[nb]=GPS-synkronisering
Name[sv]=GPS-synkronisering
Name[th]=กำหนดค่าพิกัดเชิงภูมิศาสตร์
Name[x-test]=xxGPSSyncxx
Name[zh_CN]=全球定位同步
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_gpssync
X-KIPI-ReqFeatures=ImagesHasTime
author=Gilles Caulier, caulier dot gilles at gmail dot com
