[Desktop Entry]
Comment=A tool to geolocalize pictures
Comment[x-test]=xxA tool to geolocalize picturesxx
Encoding=UTF-8
Icon=
Name=GPSSync
Name[x-test]=xxGPSSyncxx
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_gpssync
X-KIPI-ReqFeatures=ImagesHasTime
author=Gilles Caulier, caulier dot gilles at gmail dot com
