[Desktop Entry]
Comment=KIPI plugin to Geolocalize pictures
Comment[ca]=Connector del KIPI per a geolocalitzar fotografies
Comment[da]=KIPI-plugin til at lokalisere billeder geografisk
Comment[de]=Ein KIPI-Modul zur geographischen Zuordnung von Bildern
Comment[el]=Πρόσθετο του KIPI για γεωτοποθέτηση εικόνων
Comment[es]=Complemento de KIPI para geolocalizar imágenes
Comment[et]=KIPI piltide geolokatsiooni plugin
Comment[fr]=Module externe KIPI pour géolocaliser les images
Comment[is]=KIPI íforrit til að GPS-staðsetja myndir
Comment[it]=Plugin di KIPI per geolocalizzare le immagini
Comment[nds]=KIPI-Moduul för Standöörd vun Biller
Comment[nl]=KIPI-plugin voor het geolokaliseren van afbeeldingen
Comment[pa]=ਭੂ-ਚਿੱਤਰਾਂ ਲਈ KIPI ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Geolokalizacja zdjęć
Comment[pt]='Plugin' do KIPI para localizar geograficamente as imagens
Comment[pt_BR]=Plugin para Geolocalização de Figuras do KIPI
Comment[sr]=KIPI прикључак за гео-локализацију слика
Comment[sr@Latn]=KIPI priključak za geo-lokalizaciju slika
Comment[sv]=KIPI-insticksprogram för att lokalisera bilder geografiskt
Comment[xx]=xxKIPI plugin to Geolocalize picturesxx
Comment[zh_CN]=KIPI 地理化图片插件
Encoding=UTF-8
Icon=
Name=GPSSync
Name[ca]=Sincronització GPS
Name[da]=GPS-synkronisering
Name[de]=GPS-Abgleich
Name[el]=Συγχρονισμός GPS
Name[fi]=GPS-synkronointi
Name[pt]=Sincronização GPS
Name[sv]=GPS-synkronisering
Name[xx]=xxGPSSyncxx
Name[zh_CN]=GPS 同步
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_gpssync
X-KIPI-ReqFeatures=ImagesHasTime
author=Gilles Caulier, caulier dot gilles at gmail dot com
