# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KIPI Plugins
Name[da]=KIPI-plugins
Name[de]=KIPI-Module
Name[gl]=Extensións de KIPI
Name[km]=កម្មវិធី​ជំនួយ KIPI
Name[pt]='Plugins' do KIPI
Name[pt_BR]='Plugins' do KIPI
Name[sv]=KIPI-insticksprogram
Name[uk]=Додатки Kipi
Name[x-test]=xxKIPI Pluginsxx
Comment=KDE Image Plugins Interface
Comment[da]=KDE grænseflade til billed-plugins (KIPI)
Comment[de]=Module zur Bildbearbeitung für KDE
Comment[gl]=Interface para as extensións de imaxe de KDE
Comment[km]=ចំណុច​ប្រទាក់​កម្មវិធី​ជំនួយ​រូបភាព​របស់ KDE
Comment[pt]=Interface de 'Plugins' de Imagens do KDE
Comment[pt_BR]=Interface de 'Plugins' de Imagens do KDE
Comment[sv]=KDE:s gränssnitt för bildinsticksprogram
Comment[uk]=Інтерфейс додатків KDE для роботи з зображеннями
Comment[x-test]=xxKDE Image Plugins Interfacexx
X-DocPath=kipi-plugins/index.html
Categories=Qt;KDE;Graphics;
NoDisplay=true
Type=Service
