# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KIPI Plugins
Name[bg]=Приставки KIPI
Name[da]=KIPI-plugins
Name[de]=KIPI-Module
Name[el]=Πρόσθετα KIPI
Name[en_GB]=KIPI Plugins
Name[et]=KIPI pluginad
Name[fi]=Kipi-liitännäiset
Name[gl]=Extensións de KIPI
Name[is]=KIPI íforrit
Name[it]=Estensioni di KIPI
Name[km]=កម្មវិធី​ជំនួយ KIPI
Name[nb]=KIPI programtillegg
Name[nds]=KIPI-Modulen
Name[nl]=KIPI-plugins
Name[pa]=KIPI ਪਲੱਗਇਨ
Name[pt]='Plugins' do KIPI
Name[pt_BR]=Plug-ins Kipi
Name[sk]=Zásuvné moduly KIPI
Name[sv]=KIPI-insticksprogram
Name[tr]=Kipi Eklentileri
Name[uk]=Додатки Kipi
Name[x-test]=xxKIPI Pluginsxx
Comment=KDE Image Plugins Interface
Comment[bg]=Интерфейс на KDE за приставки за изображения
Comment[da]=KDE grænseflade til billed-plugins (KIPI)
Comment[de]=Module zur Bildbearbeitung für KDE
Comment[el]=Διεπαφή πρόσθετων εικόνας KDE
Comment[en_GB]=KDE Image Plugins Interface
Comment[et]=KDE pildipluginate liides
Comment[gl]=Interface para as extensións de imaxe de KDE
Comment[is]=KDE Image Plugins Interface myndvinnsluviðmót
Comment[it]=Interfaccia delle estensioni per le immagini di KDE
Comment[km]=ចំណុច​ប្រទាក់​កម្មវិធី​ជំនួយ​រូបភាព​របស់ KDE
Comment[nb]=Grensesnitt til KDE-programtillegg for bilder
Comment[nds]=KDE-Koppelsteed för Bildmodulen
Comment[nl]=Interface voor KDE afbeeldingsplugins
Comment[pa]=KDE ਈਮੇਜ਼ ਪਲੱਗਇਨ ਇੰਟਰਫੇਸ
Comment[pt]=Interface de 'Plugins' de Imagens do KDE
Comment[pt_BR]=Interface de plug-ins de imagem do KDE
Comment[sk]=KDE rozhranie pre zásuvné moduly obrázkov
Comment[sv]=KDE:s gränssnitt för bildinsticksprogram
Comment[tr]=KDE Resim Eklentileri Arayüzü
Comment[uk]=Інтерфейс додатків KDE для роботи з зображеннями
Comment[x-test]=xxKDE Image Plugins Interfacexx
X-DocPath=kipi-plugins/index.html
#Categories=Qt;KDE;Graphics;
NoDisplay=true
Type=Service
