[Desktop Entry]
Encoding=UTF-8
Name=JPEGLossless
Name[cs]=Bezztrátový JPEG
Name[it]=JPEGSenzaPerdita
Name[nl]=JPEG-lossless
Name[sv]=Förlustfri JPEG
Name[tr]=KayıpsızJPEG
Name[zh_CN]=JPEG 无损
Comment=KIPI JPEG Lossless Plugin
Comment[cs]=KIPI modul bezztrátového JPEGu
Comment[et]=KIPI JPEG Lossless plugin
Comment[it]=Plugin JPEG senza perdita di KIPI
Comment[nl]=KIPI-plugin voor verliesloos JPEG
Comment[sv]=KIPI-insticksprogram: Förlustfri JPEG
Comment[tr]=KIPI Kayıpsız JPEG Eklentisi
Comment[zh_CN]=KIPI JPEG 无损插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_jpeglossless
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
X-KIPI-MergeMenu=true
