[Desktop Entry]
Comment=Yet another simple theme. Clean look with more image details.
Comment[ca]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[ca@valencia]=Un altre tema senzill. Una aparença neta amb més detalls d'imatges.
Comment[da]=Endnu et simpelt tema. Rent udseende med flere billeddetaljer.
Comment[en_GB]=Yet another simple theme. Clean look with more image details.
Comment[es]=Otro tema simple. De aspecto sobrio con más detalles de imagen.
Comment[et]=Veel üks lihtne teema. Puhas välimus täiendavate pildi üksikasjadega.
Comment[gl]=Outro tema simple. Aspecto limpo con máis detalles das imaxes.
Comment[is]=Enn eitt einfalt þema. Hreinlegt útlit með meiri myndupplýsingum.
Comment[it]=Un altro tema semplice. Aspetto pulito con più dettagli nelle immagini.
Comment[nb]=Enda et fint tema. Enkelt og rent med mere bildedetaljer.
Comment[nl]=Opnieuw een eenvoudig thema. Nette stijl met meer afbeeldingendetails.
Comment[pt]=Ainda mais outro tema bonito. De aparência sóbria e com mais detalhes de imagem.
Comment[pt_BR]=Ainda mais outro tema simples. Visual limpo, com mais detalhes de imagem.
Comment[sv]=Ytterligare ett enkelt tema. Rent utseende med fler bilddetaljer.
Comment[th]=ชุดตกแต่งที่เรียบง่ายและดูดีอีกแบบ ซึ่งมีรายละเอียดต่าง ๆ ของภาพมากกว่า
Comment[uk]=Ще одна проста тема. Строгий вигляд з додатковими параметрами зображень.
Comment[x-test]=xxYet another simple theme. Clean look with more image details.xx
Comment[zh_CN]=另一款简洁的主题。干净且富含更多图像细节。
Comment[zh_TW]=還有另一個不錯的主題。非常簡單、清爽且顯示更多影像詳細資訊。
Icon=
Name=Details
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[cs]=Podrobnosti
Name[da]=Detaljer
Name[de]=Details
Name[en_GB]=Details
Name[eo]=Detaloj
Name[es]=Detalles
Name[et]=Üksikasjad
Name[ga]=Mionsonraí
Name[gl]=Detalles
Name[hu]=Részletek
Name[is]=Nánar
Name[it]=Dettagli
Name[nb]=Detaljer
Name[nl]=Details
Name[nn]=Detaljar
Name[pt]=Detalhes
Name[pt_BR]=Detalhes
Name[se]=Bienat
Name[sv]=Detaljer
Name[th]=รายละเอียด
Name[uk]=Подробиці
Name[x-test]=xxDetailsxx
Name[zh_CN]=精细
Name[zh_TW]=詳細資訊

[X-HTMLExport Author]
Name=Gianluca Urgese
Name[ca]=Gianluca Urgese
Name[ca@valencia]=Gianluca Urgese
Name[cs]=Gianluca Urgese
Name[da]=Gianluca Urgese
Name[de]=Gianluca Urgese
Name[en_GB]=Gianluca Urgese
Name[es]=Gianluca Urgese
Name[et]=Gianluca Urgese
Name[gl]=Gianluca Urgese
Name[hu]=Gianluca Urgese
Name[is]=Gianluca Urgese
Name[it]=Gianluca Urgese
Name[nb]=Gianluca Urgese
Name[nl]=Gianluca Urgese
Name[pt]=Gianluca Urgese
Name[pt_BR]=Gianluca Urgese
Name[sv]=Gianluca Urgese
Name[th]=Gianluca Urgese
Name[uk]=Gianluca Urgese
Name[x-test]=xxGianluca Urgesexx
Name[zh_CN]=Gianluca Urgese
Name[zh_TW]=Gianluca 使用方法
Url=mailto:g.urgese@jaone.it

[X-HTMLExport Preview]
Name=Details screenshot
Name[ca]=Captura de pantalla dels detalls
Name[ca@valencia]=Captura de pantalla dels detalls
Name[da]=Skærmbillede af detaljer
Name[en_GB]=Details screenshot
Name[es]=Pantallazo de los detalles
Name[et]=Üksikasjade pilt
Name[gl]=Detalles da captura de pantalla
Name[is]=Skjámynd af ítarlegu
Name[it]=Schermata di Dettagli
Name[nb]=Skjermbilde av detaljer
Name[nl]=Details schermafdruk
Name[pt]=Imagem dos deetalhes
Name[pt_BR]=Imagem dos detalhes
Name[sv]=Skärmbild av Detaljer
Name[th]=รายละเอียดต่าง ๆ ของภาพหน้าจอที่จับได้
Name[uk]=Знімок вікна подробиць
Name[x-test]=xxDetails screenshotxx
Name[zh_CN]=精细截图
Name[zh_TW]=詳細資訊畫面擷取
Url=preview.png

[X-HTMLExport Parameter footer]
Name=Footer information
Name[ca]=Informació del peu
Name[ca@valencia]=Informació del peu
Name[da]=Information i sidefod
Name[en_GB]=Footer information
Name[es]=Información del pie de imagen
Name[et]=Jaluse teave
Name[gl]=Información do rodapé
Name[is]=Upplýsingar í neðanmáli
Name[it]=Informazioni sul piè di pagina
Name[nb]=Bunntekst-informasjon
Name[nl]=Voettekstinformatie
Name[pt]=Informação do rodapé
Name[pt_BR]=Informação do rodapé
Name[sv]=Information i nederkant
Name[th]=ข้อมูลรายละเอียดส่วนท้ายหน้า
Name[uk]=Відомості нижнього колонтитула
Name[x-test]=xxFooter informationxx
Name[zh_CN]=页脚信息
Name[zh_TW]=頁尾資訊

Type=string
Default=My personal gallery <a href="mailto:email@mydomain.tld">email@mydomain.tld</a> - Powered by <a href="http://www.kipi-plugins.org/drupal/node/17">Kipi Plugins - HTMLExport</a>
