[Desktop Entry]
Name=DNGConverter
Name[x-test]=xxDNGConverterxx
GenericName=DNG Image Converter
GenericName[x-test]=xxDNG Image Converterxx
Comment=A tool to batch convert RAW camera images to DNG
Comment[x-test]=xxA tool to batch convert RAW camera images to DNGxx
Exec=dngconverter %i -caption "%c" %U
Icon=dngconverter
Type=Application
MimeType=image/x-dcraw;
Terminal=false
Categories=Qt;KDE;Graphics;
X-DocPath=kipi-plugins/index.html#dngconverter
