[Desktop Entry]
Name=DNGConverter
Name[ast]=DNGConverter
Name[bg]=Конвертор към DNG
Name[bs]=DNG konvertor
Name[ca]=DNGConverter
Name[ca@valencia]=DNGConverter
Name[cs]=DNGConverter
Name[da]=DNGConverter
Name[de]=DNGkonverter
Name[el]=Μετατροπέας DNG
Name[en_GB]=DNGConverter
Name[es]=Conversor para DNG
Name[et]=DNG teisendaja
Name[eu]=DNG bihurtzailea
Name[fi]=DNG-muunnin
Name[fr]=Convertisseur « DNG »
Name[ga]=DNGConverter
Name[gl]=DNGConverter
Name[he]=ממיר DNG
Name[hne]=डीएनजी-कनवर्टर
Name[hu]=DNG átalakító
Name[is]=DNGumbreytir
Name[it]=Convertitore DNG
Name[ja]=DNGConverter
Name[km]=DNGConverter
Name[lv]=DNGConverter
Name[nb]=DNG-omformer
Name[nds]=DNG-Wanneln
Name[nl]=DNG-convertor
Name[pa]=DNGConverter
Name[pl]=DNGConverter
Name[pt]=Conversão para DNG
Name[pt_BR]=Conversor DNG
Name[ro]=Convertor DNG
Name[ru]=Преобразование в DNG
Name[sk]=DNG konverzia
Name[sl]=DNGConverter
Name[sq]=DNGConverter
Name[sv]=DNG-konvertering
Name[th]=แปลงภาพแบบ DNG
Name[tr]=DNG Dönüştürücü
Name[ug]=DNGConverter
Name[uk]=DNGConverter
Name[x-test]=xxDNGConverterxx
Name[zh_CN]=DNG 转换器
Name[zh_TW]=DNG 轉換程式
GenericName=DNG Image Converter
GenericName[ast]=Convertidor d'imáxenes DNG
GenericName[bg]=Конвертор на изображения в DNG
GenericName[bs]=DNG konvertor slika
GenericName[ca]=Convertidor a imatges DNG
GenericName[ca@valencia]=Convertidor a imatges DNG
GenericName[cs]=Převod obrázků DNG
GenericName[da]=DNG-billedkonvertering
GenericName[de]=DNG-Bildkonverter
GenericName[el]=Μετατροπέας εικόνων DNG
GenericName[en_GB]=DNG Image Converter
GenericName[es]=Conversor de imágenes DNG
GenericName[et]=DNG piltide teisendaja
GenericName[eu]=DNG irudien bihurtzailea
GenericName[fi]=DNG-muunnin
GenericName[fr]=Convertisseur d'images « DNG »
GenericName[gl]=Convertedor de imaxes DNG
GenericName[he]=ממיר תמונות DNG
GenericName[hne]=डीएनजी इमेज कन्वर्टर
GenericName[hu]=DNG képátalakító
GenericName[is]=Umbreytir fyrir DNG myndir
GenericName[it]=Convertitore di immagini DNG
GenericName[ja]=DNG 画像コンバータ
GenericName[km]=កម្មវិធី​បម្លែង​រូបភាព DNG
GenericName[lt]=DNG paveikslėlių keitiklis
GenericName[lv]=DNG attēlu pārveidotājs
GenericName[nb]=DNG-bildeomformer
GenericName[nds]=DNG-Bildwanneln
GenericName[nl]=DNG-afbeeldingsconvertor
GenericName[pa]=DNG ਚਿੱਤਰ ਕਨਵਰਟਰ
GenericName[pl]=Przekształcanie obrazów DNG
GenericName[pt]=Conversão para Imagens DNG
GenericName[pt_BR]=Conversor de imagens DNG
GenericName[ro]=Convertor de imagini DNG
GenericName[ru]=Инструмент для преобразования изображений в формат DNG
GenericName[sk]=Konverzia DNG obrázkov
GenericName[sl]=Pretvornik slik DNG
GenericName[sq]=Konvertues i Imazheve DNG
GenericName[sv]=DNG-bildkonvertering
GenericName[th]=แปลงภาพแบบ DNG
GenericName[tr]=DNG Resim Dönüştürücü
GenericName[ug]=DNG Image Converter
GenericName[uk]=Перетворювач зображень DNG
GenericName[x-test]=xxDNG Image Converterxx
GenericName[zh_CN]=DNG 图像转换器
GenericName[zh_TW]=DNG 影像轉換程式
Comment=A tool to batch convert RAW camera images to DNG
Comment[ast]=Una ferramienta pa convertir en bloque imáxenes RAW en DNG
Comment[bg]=Инструмент за пакетно конвертиране на изображения от RAW към DNG
Comment[bs]=Alat za paketno konvertovanje RAW slika sa kamere u DNG
Comment[ca]=Una eina per a convertir massivament imatges de càmera RAW a DNG
Comment[ca@valencia]=Una eina per a convertir massivament imatges de càmera RAW a DNG
Comment[cs]=Nástroj pro dávkový převod RAW obrázků do formátu DNG
Comment[da]=Et værktøj til at batch-konvertere RAW-kamerabilleder til DNG
Comment[de]=Ein Werkzeug, um Kamerarohbilder mit einer Stapelverarbeitung nach DNG zu konvertieren.
Comment[el]=Εργαλείο για την ομαδική μετατροπή RAW εικόνων φωτογραφικής σε DNG
Comment[en_GB]=A tool to batch convert RAW camera images to DNG
Comment[es]=Una herramienta para convertir imágenes RAW en DNG por lotes
Comment[et]=Tööriist kaamera toorpiltide hulgiteisendamiseks DNG piltideks
Comment[eu]=Kameren RAW irudiak (gordinak) DNG formatura batch eran bihurtzeko tresna
Comment[fi]=Kameran RAW-kuvien erämuuntaminen DNG-muotoon
Comment[fr]=Outil de conversion par lot des images au format brut des appareils photos en format « DNG »
Comment[gl]=Unha ferramenta para converter lotes de imaxes RAW a DNG
Comment[he]=כלי להמרת אצווה של תמונות RAW ממצלמה ל-DNG
Comment[hne]=रा कैमरा फोटू ल डीएनजी मं बैच मं बदले के एक औजार
Comment[hu]=Egy eszköz RAW kameraképek kötegelt átalakításához DNG-be
Comment[is]=Verkfæri til að breyta mörgum RAW ljósmyndum í DNG
Comment[it]=Uno strumento per convertire immagini raw di macchine fotografiche nel formato DNG
Comment[ja]=カメラの RAW 画像を DNG に一括変換するツール
Comment[km]=ឧបករណ៍​ត្រូវ​​បម្លែង​រូបភាព​ម៉ាស៊ីនថត RAW ទៅ​ជា DNG
Comment[lv]=Rīks masveida RAW attēlu pārveidošanai uz DNG
Comment[nb]=Et verktøy for å masseomforme RAW-bilder fra kameraet til DNG
Comment[nds]=En Warktüüch, mit dat sik Rohbiller in Stapelbedrief na DNG wanneln laat
Comment[nl]=Een hulpmiddel om hoeveelheden RAW-camera-afbeeldingen naar DNG te converteren
Comment[pa]=RAW ਕੈਮਰਾ ਚਿੱਤਰਾਂ ਨੂੰ DNG ਵਿੱਚ ਬੈਂਚ ਵਿੱਚ ਬਦਲਣ ਲਈ ਇੱਕ ਟੂਲ
Comment[pl]=Narzędzie do wsadowego przekształcania obrazów RAW z aparatu fotograficznego do obrazów DNG
Comment[pt]=Uma ferramenta de conversão em lote de imagens RAW em DNG
Comment[pt_BR]=Ferramenta para conversão em lote de imagens RAW para DNG
Comment[ro]=O unealtă pentru convertirea în serie a imaginilor din RAW în DNG
Comment[ru]=Инструмент для пакетного преобразования цифровых негативов (RAW) в DNG
Comment[sk]=Nástroj na dávkovú konverziu RAW obrázkov na DNG
Comment[sl]=Orodje za pretvorbo RAW slik fotoaparata v DNG
Comment[sq]=Një jet për të konvertuar menjëherë imazhet RAW të kamerës në DNG
Comment[sv]=Ett verktyg för att konvertera obehandlade kamerabilder till DNG i bakgrunden
Comment[th]=เครื่องมือในการแปลงกลุ่มภาพแบบ RAW จากกล้อง ไปเป็นรูปแบบ DNG
Comment[tr]=RAW kamera resimlerini DNG'ye yığın olarak çevirmek için bir araç
Comment[ug]=كامېرانىڭ RAW سۈرىتىنى DNG غا توپ ئايلاندۇرۇش پروگراممىسى
Comment[uk]=Інструмент для пакетного перетворення зображень цифрових негативів на DNG
Comment[x-test]=xxA tool to batch convert RAW camera images to DNGxx
Comment[zh_CN]=一个批量转换 RAW 图像为 DNG 的工具
Comment[zh_TW]=批次將 RAW 相機影像轉換成 DNG 的工具
Exec=dngconverter %i -caption %c %U
Icon=kipi-dngconverter
Type=Application
MimeType=image/x-dcraw;
Terminal=false
Categories=Qt;KDE;Graphics;
