[Desktop Entry]
Encoding=UTF-8
Name=DNGConverter
Name[x-test]=xxDNGConverterxx
Comment=A tool to convert Raw Image to Digital NeGative
Comment[x-test]=xxA tool to convert Raw Image to Digital NeGativexx
Type=Service
Icon=dngconverter
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_dngconverter
author=Gilles Caulier, caulier dot gilles at gmail dot com
