[Desktop Entry]
Encoding=UTF-8
Name=DNGConverter
Name[el]=Μετατροπέας DNG
Name[it]=Convertitore DNG
Name[nds]=DNG-Wanneln
Name[pt]=Conversão para DNG
Name[pt_BR]=Conversão para DNG
Name[zh_CN]=DNG 转换器
Comment=KIPI RAW to DNG Camera Image Converter
Comment[el]=Μετατροπέας του KIPI από εικόνες ανεπεξέργαστης μορφής RAW σε DNG
Comment[it]=Convertitore di immagini grezze in DNG di KIPI
Comment[nds]=KIPI-Wannelmoduul för Roh- na DNG-Biller
Comment[pt]=Conversão de Imagens RAW para DNG do KIPI
Comment[pt_BR]=Conversão de Imagens RAW para DNG do KIPI
Comment[uk]=Додаток KIPI для перетворення зображень з фотоапаратів RAW у DNG
Comment[zh_CN]=KIPI RAW 至 DNG 相机图像转换器
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_dngconverter
author=Gilles Caulier, caulier dot gilles at gmail dot com
