[Desktop Entry]
Name=Matrix
Comment=Show your photos with Matrix style
Comment[pt]=A suas fotos no estilo Matrix
Comment[pt_BR]=A suas fotos no estilo Matrix

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=http://extragear.kde.org/apps/kipi
