[Desktop Entry]
Name=Matrix
Comment=Show your photos with Matrix style
Comment[cs]=Zobrazení obrázků ve stylu Matrix
Comment[da]=Vis foto med Matrix-stil
Comment[el]=Εμφάνιση των φωτογραφιών σας με στυλ Matrix
Comment[pt]=A suas fotos no estilo Matrix
Comment[pt_BR]=A suas fotos no estilo Matrix
Comment[sv]=Visa foton med Matrix-stil

[X-HTMLExport Author]
Name=Aurélien Gâteau
Url=http://extragear.kde.org/apps/kipi
