[Desktop Entry]
Name=Matrix
Name[bg]=Матрицата
Name[ca]=Matrix
Name[cs]=Matrix
Name[da]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[es]=Matriz
Name[et]=Matrix
Name[fr]=Matrix
Name[ga]=Matrix
Name[gl]=Matrix
Name[he]=מטריקס
Name[hne]=माट्रिक्स
Name[is]=Matrix
Name[it]=Matrix
Name[ja]=Matrix
Name[km]=ម៉ាទ្រីស
Name[lv]=Matrix
Name[mai]=मैट्रिक्स
Name[nb]=Matrise
Name[nds]=Matrix
Name[nl]=Matrix
Name[oc]=Mairitz
Name[pa]=ਮੈਟਰਿਕਸ
Name[pt]=Matrix
Name[pt_BR]=Matrix
Name[ro]=Matrice
Name[sk]=Matrix
Name[sv]=Matris
Name[th]=เมทริกซ์
Name[tr]=Matrix
Name[uk]=Матриця
Name[x-test]=xxMatrixxx
Name[zh_CN]=黑客帝国
Comment=Show your photos with Matrix style
Comment[bg]=Показване на снимките в стил "Матрицата"
Comment[ca]=Visualitza les fotos a l'estil Matrix
Comment[cs]=Zobrazit vaše fotografie ve stylu Matrix
Comment[da]=Vis dine foto med Matrix-stil
Comment[de]=Zeigt Ihre Fotos in einem Matrizenstil
Comment[el]=Εμφανίστε τις φωτογραφίες σας σε στυλ Matrix
Comment[en_GB]=Show your photos with Matrix style
Comment[es]=Muestra sus fotos con el estilo Matriz
Comment[et]=Fotode näitamine Matrixi stiilus
Comment[fr]=Affiche vos photos avec le style Matrix
Comment[gl]=Mostra as fotos cun estilo Matrix
Comment[he]=הצג את התמונות שלך בסגנון מטריקס
Comment[hne]=अपन फोटू ले माट्रिक्स सैली मं देखाव
Comment[it]=Mostra le tue foto in stile Matrix
Comment[ja]=写真を Matrix スタイルで表示
Comment[km]=បង្ហាញ​រូបថត​របស់​​អ្នក​ក្នុង​រចនាប័ទ្ម​ម៉ាទ្រីស
Comment[lv]=Parādiet savas fotogrāfijas Matrix stilā
Comment[nb]=Vis bildene i matrisestil
Comment[nds]=Dien Fotos in den Matrix-Stil wiesen
Comment[nl]=Toon uw foto's in matrix-stijl
Comment[pa]=ਆਪਣੀਆਂ ਫੋਟੋ ਨੂੰ ਮੈਟਰਿਕਸ ਸਟਾਈਲ ਵਿੱਚ ਵੇਖੋ
Comment[pt]=Mostrar as suas fotografias ao estilo Matrix
Comment[pt_BR]=Exiba suas fotos com o estilo Matrix
Comment[sk]=Zobrazí fotky v štýle Matrix
Comment[sv]=Visar fotografier med matrisstil
Comment[th]=แสดงภาพถ่ายต่าง ๆ ของคุณในลักษณะแบบเมทริกซ์
Comment[tr]=Fotoğraflarınızı Matrix stili olarak gösterin
Comment[uk]=Показує фотографії в стилі Матриці
Comment[x-test]=xxShow your photos with Matrix stylexx
Comment[zh_CN]=以黑客帝国风格显示您的照片

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr
