[Desktop Entry]
Name=Simple
Name[br]=Eeun
Name[cs]=Jednoduchý
Name[da]=Simpel
Name[el]=Απλό
Name[es]=Sencillo
Name[ga]=Simplí
Name[it]=Semplice
Name[ja]=シンプル
Name[pt]=Simples
Name[pt_BR]=Simples
Name[sv]=Enkelt
Name[zh_CN]=简单
Comment=A simple and light theme
Comment[cs]=Jednoduché a malé téma
Comment[da]=Et enkelt og lyst tema
Comment[de]=Ein einfacher und leichter Stil
Comment[el]=Ένα απλό και ελαφρύ θέμα
Comment[es]=Un tema sencillo y ligero
Comment[ga]=Téama simplí éadrom
Comment[it]=Un tema semplice e leggero
Comment[ja]=シンプルで軽いテーマ
Comment[pt]=Ajuste de Data e Hora do KIPI
Comment[pt_BR]=Ajuste de Data e Hora do KIPI
Comment[sv]=Ett enkelt och lättviktigt tema
Comment[zh_CN]=简洁明快的主题

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[ja]=Aurelien Gateau
Url=mailto:aurelien.gateau@free.fr
