[Desktop Entry]
Name=Simple
Name[bg]=Опростено
Name[ca]=Simple
Name[cs]=Jednoduchý
Name[da]=Simple
Name[de]=Einfach
Name[el]=Απλό
Name[en_GB]=Simple
Name[es]=Sencillo
Name[et]=Lihtne
Name[fr]=Simple
Name[ga]=Simplí
Name[gl]=Simple
Name[he]=פשוט
Name[hne]=सादा
Name[it]=Semplice
Name[ja]=シンプル
Name[km]=​ធម្មតា
Name[lv]=Vienkārša
Name[mai]=सरल
Name[nb]=Enkel
Name[nds]=Eenfach
Name[nl]=Simple
Name[oc]=Simple
Name[pa]=ਸੈਂਪਲ
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ro]=Simplă
Name[sk]=Jednoduchá
Name[sv]=Enkel
Name[th]=เรียบง่าย
Name[tr]=Basit
Name[uk]=Проста
Name[x-test]=xxSimplexx
Name[zh_CN]=简洁
Comment=A simple and light theme
Comment[bg]=Опростен и лек изглед
Comment[ca]=Un tema simple i lluminós
Comment[cs]=Jednoduchý světlý motiv
Comment[da]=Et enkelt og lyst tema
Comment[de]=Ein einfaches und leichtes Design
Comment[el]=Απλό και ανοιχτής απόχρωσης θέμα
Comment[en_GB]=A simple and light theme
Comment[es]=Un tema sencillo y ligero
Comment[et]=Lihtne hele teema
Comment[fr]=Un thème simple et lumineux
Comment[ga]=Téama simplí éadrom
Comment[gl]=Un tema simple e lixeiro
Comment[he]=ערכה פשוטה וקלה
Comment[hne]=सादा अउ हल्का थीम
Comment[is]=Einfalt og létt þema
Comment[it]=Un tema semplice e leggero
Comment[ja]=シンプルで軽いテーマ
Comment[km]=ស្បែក​ភ្លឺ និង​ធម្មតា
Comment[lv]=Vienkārša un viegla tēma
Comment[nb]=Et enkelt og lett tema
Comment[nds]=En eenfach un licht Muster
Comment[nl]=Een eenvoudig en licht thema
Comment[pa]=ਇੱਕ ਸੈਂਪਲ ਅਤੇ ਹਲਕਾ ਥੀਮ
Comment[pt]=Um tema simples e leve
Comment[pt_BR]=Um tema simples e leve
Comment[ro]=O tematică simplă și ușoară
Comment[sk]=Jednoduchá svetlá téma
Comment[sv]=Ett enkelt och lättsamt tema
Comment[th]=ชุดตกแต่งที่เรียบง่ายและเบาบาง
Comment[tr]=Sade ve hafif bir tema
Comment[uk]=Проста і легка тема
Comment[x-test]=xxA simple and light themexx
Comment[zh_CN]=简洁明快的主题

[X-HTMLExport Author]
Name=Aurélien Gâteau
Name[bg]=Aurélien Gâteau
Name[ca]=Aurélien Gâteau
Name[cs]=Aurélien Gâteau
Name[da]=Aurélien Gâteau
Name[de]=Aurélien Gâteau
Name[el]=Aurélien Gâteau
Name[en_GB]=Aurélien Gâteau
Name[es]=Aurélien Gâteau
Name[et]=Aurélien Gâteau
Name[fi]=Aurélien Gâteau
Name[fr]=Aurélien Gâteau
Name[ga]=Aurélien Gâteau
Name[gl]=Aurélien Gâteau
Name[he]=אורליאן גאטו
Name[hne]=आरेलियन गातेवू
Name[is]=Aurélien Gâteau
Name[it]=Aurélien Gâteau
Name[ja]=Aurélien Gâteau
Name[km]=Aurélien Gâteau
Name[lv]=Aurélien Gâteau
Name[nb]=Aurélien Gâteau
Name[nds]=Aurélien Gâteau
Name[nl]=Aurélien Gâteau
Name[pa]=Aurélien Gâteau
Name[pt]=Aurélien Gâteau
Name[pt_BR]=Aurélien Gâteau
Name[ro]=Aurélien Gâteau
Name[sk]=Aurélien Gâteau
Name[sv]=Aurélien Gâteau
Name[th]=Aurélien Gâteau
Name[tr]=Aurélien Gâteau
Name[uk]=Aurélien Gâteau
Name[x-test]=xxAurélien Gâteauxx
Name[zh_CN]=Aurélien Gâteau
Url=mailto:aurelien.gateau@free.fr

[X-HTMLExport Parameter style]
Name=Style
Name[bg]=Изглед
Name[ca]=Estil
Name[cs]=Styl
Name[da]=Stil
Name[de]=Stil
Name[el]=Στυλ
Name[en_GB]=Style
Name[es]=Estilo
Name[et]=Stiil
Name[fi]=Tyyli
Name[fr]=Style
Name[ga]=Stíl
Name[gl]=Estilo
Name[he]=סגנון
Name[hne]=सैली
Name[is]=Stíll
Name[it]=Stile
Name[ja]=スタイル
Name[km]=រចនាប័ទ្ម
Name[lv]=Stils
Name[mai]=शैली
Name[nb]=Stil
Name[nds]=Stil
Name[nl]=Stijl
Name[oc]=Estil
Name[pa]=ਸਟਾਈਲ
Name[pt]=Estilo
Name[pt_BR]=Estilo
Name[ro]=Stil
Name[sk]=Štýl
Name[sv]=Stil
Name[th]=ลักษณะ
Name[tr]=Biçim
Name[uk]=Стиль
Name[x-test]=xxStylexx
Name[zh_CN]=风格
Type=list
Default=natural.css
Value_0=natural.css
Caption_0=Natural
Value_1=dark.css
Caption_1=Dark
