[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to blend bracketed images
Comment[bg]=Инструмент за сливане на снимани "в клин" снимки
Comment[bs]=Alat za miješanje kockastih slika
Comment[ca]=Una eina per fusionar imatges fetes amb bràqueting
Comment[ca@valencia]=Una eina per fusionar imatges fetes amb bràqueting
Comment[cs]=Nástroj pro mísení sekvence obrázků
Comment[da]=Et værktøj til at blande billeder med bracket
Comment[de]=Ein Werkzeug, um Bilder aus einer Belichtungsreihe zu mischen
Comment[el]=Εργαλείο ανάμειξης οριοθετημένων εικόνων
Comment[en_GB]=A tool to blend bracketed images
Comment[es]=Una herramienta para mostrar imágenes delimitadas
Comment[et]=Tööriist kahveldatud piltide liitmiseks
Comment[eu]=Urkilatutako irudiak nahasteko tresna
Comment[fr]=Outil pour fusionner des images prises avec différentes expositions
Comment[gl]=Unha ferramenta para mesturar as imaxes tomadas en "bracketing"
Comment[is]=Verkfæri til að setja saman mislýstar myndraðir (bracketed)
Comment[it]=Uno strumento per fondere immagini sovrapposte
Comment[km]=ឧបករណ៍​ត្រូវ​លៃតម្រូវ​កាលបរិច្ឆេទ និង​ពេលវេលា
Comment[lt]=Įrankis sulieti nuotraukų pluoštą
Comment[lv]=Rīks atsevišķu attēlu sapludināšanai
Comment[nb]=Et verktøy for å flette sammen bilder med eksponeringsområde
Comment[nl]=Een hulpmiddel voor het mengen van afbeeldingen tussen haakjes
Comment[pl]=Narzędzie do przenikania serii obrazów o różnym naświetleniu
Comment[pt]=Uma ferramenta para mostrar imagens delimitadas
Comment[pt_BR]=Ferramenta para misturar imagens delimitadas
Comment[ro]=O unealtă pentru fuzionarea imaginilor făcute cu expuneri diferite
Comment[ru]=Инструмент для брекетинга снимков
Comment[sk]=Nástroj na splynutie zubatých obrázkov
Comment[sl]=Orodje za zlivanje slik posnetih z različnimi nastavitvami (bracketing)
Comment[sv]=Ett verktyg för att blanda avgränsade bilder
Comment[th]=เครื่องมือสำหรับผสานส่วนมุมของภาพต่าง ๆ 
Comment[tr]=Parantezli resimleri karıştırmak için bir araç
Comment[uk]=Інструмент для злиття зображень «вилки»
Comment[x-test]=xxA tool to blend bracketed imagesxx
Comment[zh_CN]=一个混合加括号图像的工具
Comment[zh_TW]=混合括弧內影像的工具
Exec=expoblending %i -caption %c %U
GenericName=Exposure Blending
GenericName[bg]=Сливане на експозиция
GenericName[bs]=Otvor ekspozicije
GenericName[ca]=Fusió d'exposició
GenericName[ca@valencia]=Fusió d'exposició
GenericName[cs]=Smísení expozice
GenericName[da]=Eksponeringsblanding
GenericName[de]=Belichtungsvermischung
GenericName[el]=Ανάμειξη έκθεσης
GenericName[en_GB]=Exposure Blending
GenericName[es]=Mezcla de la exposición
GenericName[et]=Pildiliitmine
GenericName[eu]=Esposizioaren nahasketa
GenericName[fr]=Fusion d'exposition
GenericName[gl]=Mistura da exposición
GenericName[is]=Blöndun lýsingar
GenericName[it]=Doppia esposizione
GenericName[km]=ការ​លាយ​កម្រិត​បង្ហាញ​
GenericName[lt]=Išlaikymo derinimas
GenericName[lv]=Ekspozīcijas sapludināšana
GenericName[nb]=Eksponeringsfletting
GenericName[nl]=Mengen van belichting
GenericName[pl]=Przenikanie naświetleń
GenericName[pt]=Mistura da Exposição
GenericName[pt_BR]=Mistura da exposição
GenericName[ro]=Fuziune expunere
GenericName[ru]=Смешивание экспозиции
GenericName[sk]=Miešanie expozície
GenericName[sl]=Exposure Blending
GenericName[sv]=Exponeringsblandning
GenericName[tr]=Pozlama Harmanlaması
GenericName[uk]=Злиття експозиції
GenericName[x-test]=xxExposure Blendingxx
GenericName[zh_CN]=曝光混合
GenericName[zh_TW]=曝光混合
Name=ExpoBlending
Name[bg]=Сливане на експозиция
Name[bs]=ExpoBlending
Name[ca]=ExpoBlending
Name[ca@valencia]=ExpoBlending
Name[cs]=Smísení expozice
Name[da]=EkspoBlanding
Name[de]=Belichtungsvermischung
Name[el]=Ανάμειξη έκθεσης
Name[en_GB]=ExpoBlending
Name[es]=ExpoBlending
Name[et]=Pildiliitmine
Name[eu]=Esposizio-nahasketa
Name[fr]=Fusion d'exposition
Name[gl]=Mistura da exposición
Name[is]=Lýsingarblöndun
Name[it]=Doppia esposizione
Name[km]=ExpoBlending
Name[lv]=ExpoBlending
Name[nb]=Ekspofletting
Name[nl]=BeliMengen
Name[pl]=Przenikanie naświetleń
Name[pt]=Mistura da Exposição
Name[pt_BR]=Mistura da exposição
Name[ro]=Fuziune expunere
Name[ru]=Смешивание экспозиции
Name[sk]=ExpoBlending
Name[sl]=ExpoBlending
Name[sv]=Exponeringsblandning
Name[tr]=ExpoBlending
Name[ug]=ExpoBlending
Name[uk]=Злиття експозиції
Name[x-test]=xxExpoBlendingxx
Name[zh_CN]=曝光混合
Name[zh_TW]=曝光混合
StartupNotify=true
Icon=kipi-expoblending
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
