[Desktop Entry]
Encoding=UTF-8
Name=WallPaper
Name[cs]=Tapeta
Name[et]=Taustapilt
Name[it]=Sfondo
Name[nl]=Bureaubladachtergrond
Name[pa]=ਕੰਧ-ਚਿੱਤਰ
Name[pl]=Tapeta
Name[pt]=Papel de Parede
Name[pt_BR]=Papel de Parede
Name[sr]=Позадина
Name[sr@Latn]=Pozadina
Name[sv]=Skrivbordsunderlägg
Name[tr]=DuvarKağıdı
Name[zh_CN]=壁纸
Comment=KIPI Set Wall Paper Plugin
Comment[cs]=KIPI modul nastavení tapety
Comment[et]=KIPI taustapildi seadmise plugin
Comment[it]=Plugin di impostazione dello sfondo di KIPI
Comment[nl]=KIPI-plugin voor het instellen van de bureaubladachtergrond
Comment[pl]=Wtyczka KIPI - Ustawianie tapety
Comment[pt]='Plugin' de Mudança do Papel de Parede do KIPI
Comment[pt_BR]='Plugin' de Mudança do Papel de Parede do KIPI
Comment[sr]=KIPI прикључак за постављање позадине
Comment[sr@Latn]=KIPI priključak za postavljanje pozadine
Comment[sv]=KIPI-insticksprogram: Ange skrivbordsunderlägg
Comment[tr]=KIPI Duvar Kağıdı Yapma Eklentisi
Comment[zh_CN]=KIPI 设定壁纸插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_wallpaper
author=Gregory KOKANOSKY, gregory.kokanosky@free.fr
