[Desktop Entry]
Encoding=UTF-8
Name=WallPaper
Name[ar]=الخلفية
Name[be]=Шпалеры
Name[ca]=Paper pintat
Name[de]=Hintergrundbild
Name[el]=Ταπετσαρία
Name[es]=Fondo de escritorio
Name[et]=Taustapilt
Name[fi]=Taustakuva
Name[fr]=Fond d'écran
Name[gl]=Fondo de escritorio
Name[it]=Sfondo
Name[km]=ផ្ទាំង​រូបភាព
Name[nds]=Achtergrundbild
Name[nl]=Bureaubladachtergrond
Name[pt]=Papel de Parede
Name[ro]=Tapet
Name[sv]=Skrivbordsunderlägg
Name[th]=ภาพพื้นหลัง
Name[tr]=Duvar Kağıdı
Name[x-test]=xxWallPaperxx
Name[zh_CN]=壁纸
Comment=A tool to set image as background on your desktop
Comment[el]=Ένα εργαλείο ορισμού εικόνας ως φόντου της επιφάνειας εργασίας σας
Comment[nds]=En Warktüüch, mit dat Du Biller as Achtergrund för Dien Schriefdisch bruken kannst
Comment[nl]=Een hulpmiddel voor het instellen van een afbeelding als achtergrond van uw bureaublad
Comment[pt]=Uma ferramenta para configurar uma imagem como fundo do seu ecrã
Comment[pt_BR]=Uma ferramenta para configurar uma imagem como fundo do seu ecrã
Comment[sv]=Ett verktyg för att använda bilder som skrivbordsunderlägg
Comment[uk]=Інструмент для встановлення зображення тла стільниці
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_wallpaper
author=Gilles Caulier, caulier dot gilles at gmail dot com
