[Desktop Entry]
Encoding=UTF-8
Name=Panorama
Comment=A tool to assemble images as a panorama
Icon=panorama
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_panorama
author=Benjamin Girault, benjamin dot girault at gmail dot com
