[Desktop Entry]
Encoding=UTF-8
Name=Panorama
Name[da]=Panorama
Name[et]=Panoraam
Name[is]=Panorama
Name[it]=Panorama
Name[nl]=Panorama
Name[pt]=Panorama
Name[pt_BR]=Panorama
Name[sv]=Panorama
Name[uk]=Панорама
Name[x-test]=xxPanoramaxx
Comment=A tool to assemble images as a panorama
Comment[da]=Et værktøj til at samle billeder som et panorama
Comment[et]=Tööriist piltide koondamiseks panoraamina
Comment[is]=Verkfæri til að sauma margar myndir saman í eina víðmynd
Comment[it]=Uno strumento per assemblare immagini come un panorama
Comment[nl]=Een hulpmiddel om afbeeldingen samen te voegen tot een panorama
Comment[pt]=Uma ferramenta para juntar imagens como um panorama
Comment[pt_BR]=Uma ferramenta para montar imagens panorâmicas
Comment[sv]=Ett verktyg för att sammanfoga bilder som ett panorama
Comment[uk]=Інструмент для створення панорамних зображень на основі окремих знімків
Comment[x-test]=xxA tool to assemble images as a panoramaxx
Icon=panorama
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_panorama
author=Benjamin Girault, benjamin dot girault at gmail dot com
