#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to assemble images as a panorama
Comment[x-test]=xxA tool to assemble images as a panoramaxx
Exec=panorama %i -caption "%c" %U
GenericName=Panorama
GenericName[x-test]=xxPanoramaxx
Icon=panorama
Name=Panorama
Name[x-test]=xxPanoramaxx
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#panorama
X-KDE-SubstituteUID=false
X-KDE-Username=
