#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;KDE;Graphics;
Comment=A tool to assemble images as a panorama
Exec=panoramagui %i -caption "%c" %U
GenericName=Panorama
Icon=panorama
Name=Panorama
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kipi-plugins/index.html#panorama
X-KDE-SubstituteUID=false
X-KDE-Username=
