[Desktop Entry]
Encoding=UTF-8
Name=Picasaweb Exporter
Name[de]=Picasaweb-Export
Name[el]=Εξαγωγέας Picasaweb
Name[et]=Picasawebi eksport
Name[ga]=Easpórtálaí Picasaweb
Name[gl]=Exportador a Picasaweb
Name[it]=Esportazione a Picasa Web
Name[km]=កម្មវិធី​នាំចេញ Picasaweb
Name[lv]=Picasaweb eksportētājs
Name[nb]=Eksport til Picasaweb
Name[nds]=Picasaweb-Export
Name[nl]=Picasaweb-exporter
Name[pt]=Exportação para o Picasaweb
Name[pt_BR]=Exportação para o Picasaweb
Name[sv]=Export till Picasaweb
Name[tr]=Picasaweb Dışa Aktarıcı
Name[uk]=Експортер до Picasaweb
Name[x-test]=xxPicasaweb Exporterxx
Name[zh_CN]=Picasaweb 导出
Comment=A tool to export images to a remote Picasa web service
Comment[el]=Ένα εργαλείο εξαγωγής εικόνων σε μια υπηρεσία ιστού Picasa
Comment[ja]=画像をリモートの Picasa ウェブサービスにエクスポートするツール
Comment[nds]=En Warktüüch, mit dat sik Biller na en feern Picasa-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Picasa-webservice te exporteren
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Picasa
Comment[pt_BR]=Uma ferramenta para exportar imagens para o serviço Web remoto do Picasa
Comment[sv]=Ett verktyg för att exportera bilder till en Picasa fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-службу Picasa
Comment[zh_CN]=一个将图像导出到远程 Picasa 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_picasawebexport
author=Vardhman Jain, vardhman@gmail.com
