[Desktop Entry]
Encoding=UTF-8
Name=Picasaweb Exporter
Name[de]=Picasaweb-Export
Name[el]=Εξαγωγέας Picasaweb
Name[et]=Picasawebi eksport
Name[ga]=Easpórtálaí Picasaweb
Name[gl]=Exportador a Picasaweb
Name[he]=יצוא ל-Picasaweb
Name[is]=Picasaweb útflutningur
Name[it]=Esportazione a Picasa Web
Name[km]=កម្មវិធី​នាំចេញ Picasaweb
Name[lv]=Picasaweb eksportētājs
Name[nb]=Eksport til Picasaweb
Name[nds]=Picasaweb-Export
Name[nl]=Picasaweb-exporter
Name[pa]=ਪਿਕਾਸਾਵੈੱਬ ਐਕਸਪੋਟਰ
Name[pt]=Exportação para o Picasaweb
Name[pt_BR]=Exportar para o Picasaweb
Name[sv]=Export till Picasaweb
Name[tr]=Picasaweb Dışa Aktarıcı
Name[uk]=Експортер до Picasaweb
Name[x-test]=xxPicasaweb Exporterxx
Name[zh_CN]=Picasaweb 导出
Comment=A tool to export images to a remote Picasa web service
Comment[de]=Ein Werkzeug, um Bilder auf einen entfernten Picasa-Web-Service zu exportieren.
Comment[el]=Ένα εργαλείο εξαγωγής εικόνων σε μια υπηρεσία ιστού Picasa
Comment[gl]=Unha utilidade para exportar imaxes a un servizo web Picasa remoto
Comment[he]=כלי ליצוא תמונות לשירות רשת Picasa מרוחק
Comment[it]=Uno strumento per esportare immagini al servizio Web remoto di Picasa
Comment[ja]=画像をリモートの Picasa ウェブサービスにエクスポートするツール
Comment[km]=ឧបករណ៍​ត្រូវ​នាំចេញ​រូបភាព​ទៅ​សេវា​បណ្ដាញ Picasa ពី​ចម្ងាយ
Comment[lv]=Rīks attēlu eksportēšanai uz Picasa tīmekļa servisu
Comment[nds]=En Warktüüch, mit dat sik Biller na en feern Picasa-Nettdeenst exporteren laat
Comment[nl]=Een hulpmiddel om afbeeldingen naar een Picasa-webservice te exporteren
Comment[pa]=ਚਿੱਤਰਾਂ ਨੂੰ ਪਿਕਾਸਾ ਵੈੱਬ ਸਰਵਿਸ ਉੱਤੇ ਭੇਜਣ ਲਈ ਇੱਕ ਟੂਲ
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Picasa
Comment[pt_BR]=Uma ferramenta para exportar imagens para um serviço da Internet Picasaweb
Comment[sv]=Ett verktyg för att exportera bilder till en Picasa fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої веб-службу Picasa
Comment[x-test]=xxA tool to export images to a remote Picasa web servicexx
Comment[zh_CN]=一个将图像导出到远程 Picasa 网络服务的工具
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_picasawebexport
author=Vardhman Jain, vardhman@gmail.com
