[Desktop Entry]
Encoding=UTF-8
Name=Picasaweb Exporter
Name[de]=Picasaweb-Exporter
Name[pt]=Exportação para o Picasaweb
Name[pt_BR]=Exportação para o Picasaweb
Name[sr]=Picasaweb извозник
Name[sr@Latn]=Picasaweb izvoznik
Name[sv]=Export till Picasa webbalbum
Comment=KIPI Remote Picasaweb Export Plugin
Comment[de]=Ein KIPI-Modul zum Exportieren von Bildern zu Picasaweb
Comment[ja]=Kipi リモート Picasaweb エクスポートプラグイン
Comment[pt]='Plugin' do KIPI de Exportação para o Picasaweb Remoto
Comment[pt_BR]='Plugin' do KIPI de Exportação para o Picasaweb Remoto
Comment[sr]=KIPI прикључак за извоз у удаљени Picasaweb
Comment[sr@Latn]=KIPI priključak za izvoz u udaljeni Picasaweb
Comment[sv]=KIPI-insticksprogram för fjärrexport till Picasa webbalbum
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_picasawebexport
author=Vardhman Jain, vardhman@gmail.com
