[Desktop Entry]
Encoding=UTF-8
Name=ImagesGallery
Name[el]=ΣυλλογήΕικόνων
Comment=KIPI HTML Gallery Export Plugin
Comment[el]=Πρόσθετο του KIPI για εξαγωγή HTML συλλογής
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_imagesgallery
author=Gilles Caulier, caulier dot gilles at free.fr
