[Desktop Entry]
Encoding=UTF-8
Name=ImagesGallery
Name[br]=Garidell ar skeudennoù
Name[da]=Billedgalleri
Name[et]=Pildigalerii
Name[it]=GalleriaDelleImmagini
Name[nl]=Afbeeldingengalerij
Name[pt]=GaleriaDeImagens
Name[sv]=Bildgalleri
Name[ta]=பிம்பங்கள் தொகுப்பு
Name[tr]=ResimGalerisi
Comment=KIPI HTML Gallery Export Plugin
Comment[da]=KIPI Billedgalleri-eksporterings-plugin
Comment[de]=Ein KIPI Plugin um Bilder in HTML Galerien zu exportieren
Comment[et]=KIPI pildigalerii eksportimise plugin
Comment[fr]=Module externe Kipi pour la création de galleries HTML
Comment[it]=Plugin di esportazione di gallerie di immagini di KIPI
Comment[nl]=Kipi-plugin voor het exporteren van afbeeldinggalerijen
Comment[pt]='Plugin' KIPI de Exportação de Galerias de Imagens
Comment[sv]=KIPI-insticksprogram: Export av bildgalleri
Comment[ta]=கிபி KIPI Images Gallery Export Plugin
Comment[tr]=KIPI Resim Galerisi Aktarma Eklentisi
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_imagesgallery
author=Gilles Caulier, caulier dot gilles at free.fr
