[Desktop Entry]
Encoding=UTF-8
Name=ImagesGallery
Name[br]=Garidell ar skeudennoù
Name[cs]=Galerie obrázků
Name[da]=Billedgalleri
Name[et]=Pildigalerii
Name[it]=GalleriaDelleImmagini
Name[nl]=Afbeeldingengalerij
Name[pa]=ਚਿੱਤਰ ਗੈਲਰੀ
Name[pl]=Galeria zdjęć
Name[pt]=Galeria de Imagens
Name[pt_BR]=Galeria de Imagens
Name[sr]=Галерија слика
Name[sr@Latn]=Galerija slika
Name[sv]=Bildgalleri
Name[tg]=НамоишгариТасвирҳо
Name[tr]=ResimGalerisi
Name[xx]=xxImagesGalleryxx
Name[zh_CN]=图库
Comment=KIPI HTML Gallery Export Plugin
Comment[cs]=KIPI modul pro export galerie obrázků
Comment[da]=KIPI-plugin: Eksport af HTML-galleri
Comment[de]=Ein KIPI-Modul zum Exportieren einer Galerie
Comment[et]=KIPI HTML-galerii ekspordiplugin
Comment[it]=Plugin di esportazione HTML di gallerie di KIPI
Comment[nl]=KIPI-plugin voor het exporteren naar HTML-afbeeldingsgalerijen
Comment[pl]=Wtyczka KIPI - Eksport do galerii HTML
Comment[pt]='Plugin' do KIPI de Exportação para Galeria em HTML
Comment[pt_BR]='Plugin' do KIPI de Exportação para Galeria em HTML
Comment[sr]=KIPI прикључак за извоз у HTML галерију
Comment[sr@Latn]=KIPI priključak za izvoz u HTML galeriju
Comment[sv]=KIPI-insticksprogram: Export av HTML-galleri
Comment[tg]=Модули воридкунандаи намоишгари KIPI HTML
Comment[tr]=KIPI HTML Galeri Aktarma Eklentisi
Comment[xx]=xxKIPI HTML Gallery Export Pluginxx
Comment[zh_CN]=KIPI HTML 图库导出插件
Icon=
ServiceTypes=KIPI/Plugin
Type=Service
X-KDE-Library=kipiplugin_imagesgallery
author=Gilles Caulier, caulier dot gilles at free.fr
