[Desktop Entry]
Encoding=UTF-8
Name=Rajce.net Exporter
Name[ast]=Esportador Rajce.net
Name[bg]=Изнасяне към Rajce.net
Name[ca]=Rajce.net Exporter
Name[ca@valencia]=Rajce.net Exporter
Name[cs]=Rajce.net Exportér
Name[da]=Rajce.net Exporter
Name[de]=Rajce.net-Export
Name[el]=Εξαγωγέας Rajce.net
Name[en_GB]=Rajce.net Exporter
Name[es]=Exportar a Rajce.net
Name[et]=Rajce.neti eksport
Name[eu]=Rajce.net esportatzailea
Name[fr]=Rajce.net Exporter
Name[ga]=Easpórtálaí Rajce.net
Name[gl]=Exportador a Rajce.net
Name[he]=יצוא ל-Rajce.net
Name[hne]=पिकासावेब एक्सपोर्टर
Name[is]=Rajce.net útflutningur
Name[it]=Esportazione a Picasa Web
Name[ja]=Rajce.net Exporter
Name[km]=កម្មវិធី​នាំចេញ Rajce.net
Name[lv]=Eksportēt uz Rajce.net
Name[nb]=Eksport til Rajce.net
Name[nds]=Rajce.net-Exporteren
Name[nl]=Rajce.net-exporter
Name[pa]=ਪਿਕਾਸਾਵੈੱਬ ਐਕਸਪੋਟਰ
Name[pt]=Exportação para o Rajce.net
Name[pt_BR]=Exportar para o Rajce.net
Name[ro]=Exportator Rajce.net
Name[ru]=Экспорт в веб-альбомы Picasa
Name[sk]=Rajce.net export
Name[sv]=Export till Rajce.net
Name[th]=เครื่องมือส่งออกไปยังบริการ Rajce.net
Name[tr]=Rajce.net Aktarıcısı
Name[uk]=Експортер до Rajce.net
Name[x-test]=xxRajce.net Exporterxx
Name[zh_CN]=Rajce.net 导出
Name[zh_TW]=Rajce.net 匯出程式
Comment=A tool to export images to a remote rajce.net service
Comment[cs]=Nástroj pro export obrázků do vzdálené webové služby Rajce.net
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_rajceexport
author=Lukáš Krejčí, krejci.l@centrum.cz
