[Desktop Entry]
Encoding=UTF-8
Name=Rajce.net Exporter
Name[nl]=Exportprogramma van Rajce.net
Name[pt]=Exportação para o Rajce.net
Name[sv]=Export till Rajce.net
Name[uk]=Експорт до Rajce.net
Name[x-test]=xxRajce.net Exporterxx
Comment=A tool to export images to a remote rajce.net service
Comment[nl]=Een hulpmiddel om afbeeldingen naar een rajce.net-service te exporteren
Comment[pt]=Uma ferramenta para exportar imagens para o serviço Web remoto do Rajce.net
Comment[sv]=Ett verktyg för att exportera bilder till en rajce.net fjärrwebbtjänst
Comment[uk]=Інструмент для експорту зображень до віддаленої служби rajce.net
Comment[x-test]=xxA tool to export images to a remote rajce.net servicexx
Type=Service
Icon=
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_rajceexport
author=Lukas Krejci, krejci.l at centrum dot cz
