[Desktop Entry]
Encoding=UTF-8
Name=SlideShow
Name[br]=Diskouezadur skeudennoù
Name[cs]=Prezentace
Name[cy]=Sioe Tryloywderau
Name[da]=Lysbilledshow
Name[de]=Diashow
Name[el]=ΠροβολήΣλάιντ
Name[es]=Presentación
Name[et]=Slaidiseanss
Name[fi]=Kuvasarja
Name[gl]=Apresentazón
Name[it]=Presentazione
Name[nl]=Diavoorstelling
Name[pa]=ਸਲਾਇਡਸ਼ੋ
Name[pl]=Pokaz slajdów
Name[pt]=Apresentação
Name[sr]=Слајд шоу
Name[sr@Latn]=Slajd šou
Name[sv]=Bildspel
Name[tg]=НамоишиСлайд
Name[tr]=SlaytGösterisi
Name[xx]=xxSlideShowxx
Name[zh_CN]=幻灯片
Comment=KIPI SlideShow Plugin
Comment[br]=Lugent diskouezadur skeudennoù KIPI
Comment[cs]=KIPI modul prezentace
Comment[da]=KIPI-plugin: Lysbilledshow
Comment[de]=Ein KIPI-Modul zur Erstellung von Bildschirmpräsentationen
Comment[el]=Πρόσθετο του KIPI για προβολή σλάιντ
Comment[es]=Extensión de KIPI para presentaciones
Comment[et]=KIPI slaidiseansi plugin
Comment[fi]=Kipi-liitännäinen kuvasarjojen esityksiä varten
Comment[fr]=Module externe KIPI pour faire un diaporama
Comment[gl]=Plugin de KIPI para Apresentazóns
Comment[it]=Plugin di presentazione di KIPI
Comment[ja]=Kipi スライドショープラグイン
Comment[nl]=KIPI-plugin voor diavoorstellingen
Comment[pa]=KIPI ਸਲਾਇਡਸ਼ੋ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KIPI - Pokaz slajdów
Comment[pt]='Plugin' do KIPI para Apresentações
Comment[pt_BR]=plug-in de show de slides do KIPI
Comment[sr]=KIPI прикључак за слајд шоу
Comment[sr@Latn]=KIPI priključak za slajd šou
Comment[sv]=KIPI-insticksprogram: Bildspel
Comment[tg]=Модули KIPI барои НамоишиСлайд
Comment[tr]=KIPI Slayt Gösterisi Eklentisi
Comment[xx]=xxKIPI SlideShow Pluginxx
Comment[zh_CN]=KIPI 幻灯片插件
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_slideshow
X-KIPI-MergeMenu=true
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
