[Desktop Entry]
Encoding=UTF-8
Name=SlideShow
Comment=KIPI SlideShow Plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_slideshow
X-KIPI-MergeMenu=true
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
