[Desktop Entry]
Encoding=UTF-8
Name=GammaCalibration
Comment=KIPI Gamma Calibration Plugin
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_gammacalibration
author=Gilles Caulier, caulier dot gilles at free.fr
