[Desktop Entry]
Encoding=UTF-8
Name=RawConverter
Name[da]=RAW-konvertering
Name[et]=Toorpiltide teisendaja
Name[it]=ConvertitoreGrezzo
Name[nb]=RAW-konvertering
Name[nl]=Ruw-conversie
Name[pt]=ConversorEmBruto
Name[pt_BR]=Conversor Em Bruto
Name[sv]=Konvertering av obehandlade bilder
Name[ta]=முதல் மாற்றி
Name[tr]=RawDönüştürücü
Name[xx]=xxRawConverterxx
Comment=KIPI Raw Image Converter
Comment[da]=KIPI RAW-billedekonvertering
Comment[de]=Ein KIPI Plugin um RAW Bilder zu konvertieren
Comment[es]=Un conversor de imágenes en bruto de KIPI
Comment[et]=KIPI toorpiltide teisendaja
Comment[fr]=Module externe Kipi pour convertir des fichiers RAW
Comment[it]=Convertitore di immagini grezze di KIPI
Comment[mt]=KIPI Konvertitur Ta' L-Istampi
Comment[nb]=KIPI RAW bildekonvertering
Comment[nl]=Kipi-plugin voor het converteren van ruwe afbeeldingen
Comment[pt]=Um Conversor de Imagens em Bruto do KIPI
Comment[pt_BR]=Um Conversor de Imagens em Bruto do KIPI
Comment[sv]=KIPI-insticksprogram: Konvertering av obehandlade bilder
Comment[ta]=கிபி முதல் பிம்ப மாற்றி
Comment[tr]=KIPI Raw Resim Dönüştürücü
Comment[xx]=xxKIPI Raw Image Converterxx
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_rawconverter
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
