[Desktop Entry]
Encoding=UTF-8
Name=RawConverter
Comment=KIPI Raw Image Converter
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_rawconverter
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
