[Desktop Entry]
Encoding=UTF-8
Name=RawConverter
Name[et]=Toorpiltide teisendaja
Name[it]=ConvertitoreGrezzo
Name[nl]=Rauwconversie
Name[sr]=Raw претварање
Name[sr@Latn]=Raw pretvaranje
Name[sv]=Konvertering av obehandlade bilder
Name[tr]=HamDönüştürücü
Name[zh_CN]=原图转换器
Comment=KIPI Raw Image Converter
Comment[et]=KIPI toorpiltide teisendaja
Comment[it]=Convertitore di immagini grezze di KIPI
Comment[nl]=KIPI-plugin voor het converteren van rauwe afbeeldingen
Comment[sr]=KIPI-јев претварач Raw слика
Comment[sr@Latn]=KIPI-jev pretvarač Raw slika
Comment[sv]=KIPI-insticksprogram: Konvertering av obehandlade bilder
Comment[tr]=KIPI Ham Resim Dönüştürücü
Comment[zh_CN]=KIPI 原始图像转换器
Type=Service
ServiceTypes=KIPI/Plugin
X-KDE-Library=kipiplugin_rawconverter
author=Renchi Raju, renchi@pooh.tam.uiuc.edu
